In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/stock_db')

In [4]:
sql_test = 'select * from stock_duo_kong_ma_testset'
print(sql_test)
df_read=pd.read_sql_query(sql_test,engine)
print('-----------------done-------------------')

select * from stock_duo_kong_ma_testset
-----------------done-------------------

In [5]:
code_gb = df_read.groupby('code')

In [7]:
for code_name,code_group in code_gb:
    stock_dayk = code_gb.get_group(code_name) #### 获取单个股票的日线
    if stock_dayk.shape[0]>34 :
        stock_dayk = stock_dayk.sort_values(by='date',ascending=True)
        #print(stock_dayk)
        max_in_21 = stock_dayk['high'].rolling(21).max()
        low_in_21 = stock_dayk['low'].rolling(21).min()
        max_in_6 = stock_dayk['high'].rolling(6).max()
        low_in_6 = stock_dayk['low'].rolling(6).min()
        var1 = 100 - 90*(max_in_21 - stock_dayk['close'])/(max_in_21 - low_in_21)
        var2 = 100 - (100*(max_in_6 - stock_dayk['close'])/(max_in_6 - low_in_6)).rolling(34).mean()
        print(var1.tail(20))
        print(var2.tail(20))
        break
    break

846     91.224490
847     75.714286
848     83.367347
849     89.387755
850    100.000000
851     95.504994
852     90.626993
853     80.010627
854     77.906482
855     80.010627
856     75.288136
857     90.055710
858     87.739388
859     76.900296
860     73.540183
861     67.989691
862     80.154355
863     72.002670
864     69.772036
865     71.182266
dtype: float64
846    52.785287
847    53.135834
848    52.380993
849    51.626063
850    53.127940
851    53.624399
852    54.412708
853    53.986848
854    52.672933
855    51.800143
856    52.799184
857    54.866278
858    56.799595
859    58.347049
860    59.367408
861    59.880221
862    60.072125
863    60.534676
864    60.602532
865    60.615021
dtype: float64