In [14]:
from sqlalchemy import create_engine
import pandas as pd

In [15]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/stock_db')

In [16]:
sql_test = 'select * from stocks_dayk where code >600000'
print(sql_test)
df_read=pd.read_sql_query(sql_test,engine)
print('-----------------done-------------------')

select * from stocks_dayk where code >600000
-----------------done------------------------------

In [17]:
code_gb = df_read.groupby('code')

In [18]:
for code_name,code_group in code_gb:
    stock_dayk = code_gb.get_group(code_name) #### 获取单个股票的日线
    if stock_dayk.shape[0]>34 :
        stock_dayk = stock_dayk.sort_values(by='date',ascending=True)
        print(stock_dayk)
        break
    break

             date   open   high    low  close         vol        money    code
1306497  20150902   7.18   7.87   7.05   7.72  17541503.0  215834624.0  600004
1306498  20150907   7.73   8.14   7.53   7.58  12936384.0  162038320.0  600004
1306499  20150908   7.51   7.89   7.40   7.83   7915938.0   97993568.0  600004
1306500  20150909   7.85   8.09   7.78   7.98  12615110.0  161665296.0  600004
1306501  20150910   7.86   7.94   7.76   7.76   5953150.0   75408448.0  600004
...           ...    ...    ...    ...    ...         ...          ...     ...
1307551  20191231  17.77  17.92  17.41  17.45  16125231.0  283534560.0  600004
1307552  20200102  17.56  17.62  17.40  17.52  17792404.0  311394016.0  600004
1307553  20200103  17.61  17.62  17.31  17.38  16314649.0  284126624.0  600004
1307554  20200106  17.24  17.24  16.95  17.08  21455327.0  366006752.0  600004
1307555  20200107  17.06  17.29  16.90  17.26  16800760.0  287242112.0  600004

[1059 rows x 8 columns]