In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/stock_db')

In [5]:
sql_test = 'select * from stocks_dayk where code >600000'
print(sql_test)
df_read=pd.read_sql_query(sql_test,engine)
print('-----------------done-------------------')

select * from stocks_dayk where code >600000
-----------------done-------------------

In [6]:
code_gb = df_read.groupby('code')
window_size = [3,5,7,10,13,15,20,23,30,33,60]

In [9]:
for code_name,code_group in code_gb:
    stock_dayk = code_gb.get_group(code_name) #### 获取单个股票的所有日线
    stock_dayk = stock_dayk.sort_values(by='date',ascending=True)
    print(stock_dayk.info())
    for i in window_size:
        stock_dayk['ma'+str(i)] = stock_dayk['close'].rolling(i).mean()
    stock_dayk.to_sql('stock_ma',engine,index=False,if_exists='append')
print('-----------------------done----------------------')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1059 entries, 1306497 to 1307555
Data columns (total 8 columns):
date     1059 non-null int64
open     1059 non-null float64
high     1059 non-null float64
low      1059 non-null float64
close    1059 non-null float64
vol      1059 non-null float64
money    1059 non-null float64
code     1059 non-null object
dtypes: float64(6), int64(1), object(1)
memory usage: 74.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1059 entries, 1306497 to 1307555
Data columns (total 19 columns):
date     1059 non-null int64
open     1059 non-null float64
high     1059 non-null float64
low      1059 non-null float64
close    1059 non-null float64
vol      1059 non-null float64
money    1059 non-null float64
code     1059 non-null object
ma3      1057 non-null float64
ma5      1055 non-null float64
ma7      1053 non-null float64
ma10     1050 non-null float64
ma13     1047 non-null float64
ma15     1045 non-null float64
ma20     1040 non-null float64
ma23     1037 non-null float64
ma30     1030 non-null float64
ma33     1027 non-null float64
ma60     1000 non-null float64
dtypes: float64(17), int64(1), object(1)
memory usage: 165.5+ KB
None