In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import os

In [2]:
engine = create_engine('mysql+pymysql://root:root@localhost:3306/stock_db')

In [3]:
sql_stock_info = 'select * from stocks_dayk_all a where a.date >20181010 '
print(sql_stock_info)
df_stock_info = pd.read_sql_query(sql_stock_info,engine)
print('--------------------done--------------------------')

select * from stocks_dayk_all a where a.date >20181010
--------------------done--------------------------

In [4]:
code_gb = df_stock_info.groupby('code')

In [12]:
file_data_normal = open('stock_data_normal','wb')
file_data = open('stock_data.csv','wb')
file_lable = open('stock_data_lable_normal.txt','wb')
file_data.truncate()
file_lable.truncate()
file_data_normal.truncate()
file_data.close()
file_lable.close()
file_data_normal.close()

In [13]:
def flag_train_data (code,duokong,index,date,df_dayk):
    i = 0
    index_count = len(date)
    list = []
    file = open('stock_data_lable_normal.txt','a+')
    data_count = 0
    lab_count = 0
    while(i < index_count -2 ):
        #print('-------- duokong ---------',duokong[i ],date[i])
        if duokong[i] == 2:   ##### 如果出现了  多
            
            #### 判断接下来 n 天，有没有出现 空
            start_index = index[i ] ##当前出现 多的 行号
            end_index = index[i +1] ##下一次出现空的行号
            #print('----间隔天数----',end_index - start_index +1)
            if end_index - start_index > 5 : #### 连续 6天 没有 空
                csv_df = df_dayk.loc[start_index:start_index+5,['open','close','high','low','rise','exchange','ma5','ma10','ma20','ma30','ma60']]
                #print(csv_df)
                '''
                csv_df['open'] = (csv_df['open'] - csv_df['open'].mean()) / csv_df['open'].std()
                csv_df['close'] = (csv_df['close'] - csv_df['close'].mean()) / csv_df['close'].std()
                csv_df['high'] = (csv_df['high'] - csv_df['high'].mean()) / csv_df['high'].std()
                csv_df['low'] = (csv_df['low'] - csv_df['low'].mean()) / csv_df['low'].std()
                csv_df['rise'] = (csv_df['rise'] - csv_df['rise'].mean()) / csv_df['rise'].std()
                csv_df['exchange'] = (csv_df['exchange'] - csv_df['exchange'].mean()) / csv_df['exchange'].std()
                csv_df['ma5'] = (csv_df['ma5'] - csv_df['ma5'].mean()) / csv_df['ma5'].std()
                csv_df['ma10'] = (csv_df['ma10'] - csv_df['ma10'].mean()) / csv_df['ma10'].std()
                csv_df['ma20'] = (csv_df['ma20'] - csv_df['ma20'].mean()) / csv_df['ma20'].std()
                csv_df['ma30'] = (csv_df['ma30'] - csv_df['ma30'].mean()) / csv_df['ma30'].std()
                csv_df['ma60'] = (csv_df['ma60'] - csv_df['ma60'].mean()) / csv_df['ma60'].std()
                '''
                csv_df['open'] = (csv_df['open'] - csv_df['open'].min()) / (csv_df['open'].max() - csv_df['open'].min())
                csv_df['close'] = (csv_df['close'] - csv_df['close'].min()) / (csv_df['close'].max() - csv_df['close'].min())
                csv_df['high'] = (csv_df['high'] - csv_df['high'].min()) / (csv_df['high'].max() - csv_df['high'].min())
                csv_df['low'] = (csv_df['low'] - csv_df['low'].min()) / (csv_df['low'].max() - csv_df['low'].min())
                csv_df['rise'] = (csv_df['rise'] - csv_df['rise'].min()) / (csv_df['rise'].max() - csv_df['rise'].min())
                csv_df['exchange'] = (csv_df['exchange'] - csv_df['exchange'].min()) / (csv_df['exchange'].max() - csv_df['exchange'].min())
                csv_df['ma5'] = (csv_df['ma5'] - csv_df['ma5'].min()) / (csv_df['ma5'].max() - csv_df['ma5'].min())
                csv_df['ma10'] = (csv_df['ma10'] - csv_df['ma10'].min()) / (csv_df['ma10'].max() - csv_df['ma10'].min())
                csv_df['ma20'] = (csv_df['ma20'] - csv_df['ma20'].min()) / (csv_df['ma20'].max() - csv_df['ma20'].min())
                csv_df['ma30'] = (csv_df['ma30'] - csv_df['ma30'].min()) / (csv_df['ma30'].max() - csv_df['ma30'].min())
                csv_df['ma60'] = (csv_df['ma60'] - csv_df['ma60'].min()) / (csv_df['ma60'].max() - csv_df['ma60'].min())           
                #print(csv_df)
                csv_df.to_csv('stock_data_normal.csv',mode = 'a',index=False,header=None,float_format='%.5f')
                #df_dayk.loc[start_index:start_index+5].to_csv('stock_data.csv',mode = 'a',index=False,header=None)
                data_count = data_count + 1
                if (df_dayk['open'][end_index+1] - df_dayk['open'][start_index+1]) / df_dayk['open'][start_index+1] > 0.1 :
                    #print('------满足条件------------')
                    file.write(code+','+date[i]+',1\n')
                else :
                    file.write(code+','+date[i]+',0\n')
                    #print('------不满足条件------------')
        i = i+1
        break
    file.close()

In [14]:
error = open('error.txt','a+')
for code,code_group in code_gb:
    
    print('code is ',code)
    df_stock_dayk = code_gb.get_group(code)
    df_stock_dayk = df_stock_dayk.sort_values(by='date',ascending=True)
    #print(df_stock_dayk.tail(10))
    #df_stock_dayk['index'] = np.arange(len(df_stock_dayk))
    df_duo = df_stock_dayk[(df_stock_dayk.duokong==2)|(df_stock_dayk.duokong==-1)]
    df_duo_index = df_duo.index.tolist()
    #print(df_duo)
    #print('-------------df_duo_index----------',df_duo_index)
    launch_date_sql = 'select * from stock_info where code=\''+code+'\' and launch_date < 20191010'
    print(launch_date_sql)
    df_launch_date = pd.read_sql_query(launch_date_sql,engine)
    print(df_launch_date.shape[0])
    if df_launch_date.shape[0] >0:
        flag_train_data(code,df_duo['duokong'].values,df_duo_index,df_duo['date'].values,df_stock_dayk)
    #print(train_index)
print('---------------done----------------------')
error.close()

code is  000001
select * from stock_info where code='000001' and launch_date < 20191010
1
code is  000002
select * from stock_info where code='000002' and launch_date < 20191010
1
code is  000004
select * from stock_info where code='000004' and launch_date < 20191010
1
code is  000005
select * from stock_info where code='000005' and launch_date < 20191010
1
code is  000006
select * from stock_info where code='000006' and launch_date < 20191010
1
code is  000007
select * from stock_info where code='000007' and launch_date < 20191010
1
code is  000008
select * from stock_info where code='000008' and launch_date < 20191010
1
code is  000009
select * from stock_info where code='000009' and launch_date < 20191010
1
code is  000010
select * from stock_info where code='000010' and launch_date < 20191010
1
code is  000011
select * from stock_info where code='000011' and launch_date < 20191010
1
code is  000012
select * from stock_info where code='000012' and launch_date < 20191010
1
code is  000014
select * from stock_info where code='000014' and launch_date < 20191010
1
code is  000016
select * from stock_info where code='000016' and launch_date < 20191010
1
code is  000017
select * from stock_info where code='000017' and launch_date < 20191010
1
code is  000019
select * from stock_info where code='000019' and launch_date < 20191010
1
code is  000020
select * from stock_info where code='000020' and launch_date < 20191010
1
code is  000021
select * from stock_info where code='000021' and launch_date < 20191010
1
code is  000023
select * from stock_info where code='000023' and launch_date < 20191010
1
code is  000025
select * from stock_info where code='000025' and launch_date < 20191010
1
code is  000026
select * from stock_info where code='000026' and launch_date < 20191010
1
code is  000027
select * from stock_info where code='000027' and launch_date < 20191010
1
code is  000028
select * from stock_info where code='000028' and launch_date < 20191010
1
code is  000030
select * from stock_info where code='000030' and launch_date < 20191010
1
code is  000031
select * from stock_info where code='000031' and launch_date < 20191010
1
code is  000032
select * from stock_info where code='000032' and launch_date < 20191010
1
code is  000034
select * from stock_info where code='000034' and launch_date < 20191010
1
code is  000035
select * from stock_info where code='000035' and launch_date < 20191010
1
code is  000036
select * from stock_info where code='000036' and launch_date < 20191010
1
code is  000037
select * from stock_info where code='000037' and launch_date < 20191010
1
code is  000038
select * from stock_info where code='000038' and launch_date < 20191010
1
code is  000039
select * from stock_info where code='000039' and launch_date < 20191010
1
code is  000040
select * from stock_info where code='000040' and launch_date < 20191010
1
code is  000042
select * from stock_info where code='000042' and launch_date < 20191010
1
code is  000045
select * from stock_info where code='000045' and launch_date < 20191010
1
code is  000046
select * from stock_info where code='000046' and launch_date < 20191010
1
code is  000048
select * from stock_info where code='000048' and launch_date < 20191010
1
code is  000049
select * from stock_info where code='000049' and launch_date < 20191010
1
code is  000050
select * from stock_info where code='000050' and launch_date < 20191010
1
code is  000055
select * from stock_info where code='000055' and launch_date < 20191010
1
code is  000056
select * from stock_info where code='000056' and launch_date < 20191010
1
code is  000058
select * from stock_info where code='000058' and launch_date < 20191010
1
code is  000059
select * from stock_info where code='000059' and launch_date < 20191010
1
code is  000060
select * from stock_info where code='000060' and launch_date < 20191010
1
code is  000061
select * from stock_info where code='000061' and launch_date < 20191010
1
code is  000062
select * from stock_info where code='000062' and launch_date < 20191010
1
code is  000063
select * from stock_info where code='000063' and launch_date < 20191010
1
code is  000065
select * from stock_info where code='000065' and launch_date < 20191010
1
code is  000066
select * from stock_info where code='000066' and launch_date < 20191010
1
code is  000068
select * from stock_info where code='000068' and launch_date < 20191010
1
code is  000069
select * from stock_info where code='000069' and launch_date < 20191010
1
code is  000070
select * from stock_info where code='000070' and launch_date < 20191010
1
code is  000078
select * from stock_info where code='000078' and launch_date < 20191010
1
code is  000088
select * from stock_info where code='000088' and launch_date < 20191010
1
code is  000089
select * from stock_info where code='000089' and launch_date < 20191010
1
code is  000090
select * from stock_info where code='000090' and launch_date < 20191010
1
code is  000096
select * from stock_info where code='000096' and launch_date < 20191010
1
code is  000099
select * from stock_info where code='000099' and launch_date < 20191010
1
code is  000100
select * from stock_info where code='000100' and launch_date < 20191010
1
code is  000150
select * from stock_info where code='000150' and launch_date < 20191010
1
code is  000151
select * from stock_info where code='000151' and launch_date < 20191010
1
code is  000153
select * from stock_info where code='000153' and launch_date < 20191010
1
code is  000155
select * from stock_info where code='000155' and launch_date < 20191010
1
code is  000156
select * from stock_info where code='000156' and launch_date < 20191010
1
code is  000157
select * from stock_info where code='000157' and launch_date < 20191010
1
code is  000158
select * from stock_info where code='000158' and launch_date < 20191010
1
code is  000159
select * from stock_info where code='000159' and launch_date < 20191010
1
code is  000166
select * from stock_info where code='000166' and launch_date < 20191010
1
code is  000301
select * from stock_info where code='000301' and launch_date < 20191010
1
code is  000333
select * from stock_info where code='000333' and launch_date < 20191010
1
code is  000338
select * from stock_info where code='000338' and launch_date < 20191010
1
code is  000400
select * from stock_info where code='000400' and launch_date < 20191010
1
code is  000401
select * from stock_info where code='000401' and launch_date < 20191010
1
code is  000402
select * from stock_info where code='000402' and launch_date < 20191010
1
code is  000403
select * from stock_info where code='000403' and launch_date < 20191010
1
code is  000404
select * from stock_info where code='000404' and launch_date < 20191010
1
code is  000407
select * from stock_info where code='000407' and launch_date < 20191010
1
code is  000408
select * from stock_info where code='000408' and launch_date < 20191010
1
code is  000409
select * from stock_info where code='000409' and launch_date < 20191010
1
code is  000410
select * from stock_info where code='000410' and launch_date < 20191010
1
code is  000411
select * from stock_info where code='000411' and launch_date < 20191010
1
code is  000413
select * from stock_info where code='000413' and launch_date < 20191010
1
code is  000415
select * from stock_info where code='000415' and launch_date < 20191010
1
code is  000416
select * from stock_info where code='000416' and launch_date < 20191010
1
code is  000417
select * from stock_info where code='000417' and launch_date < 20191010
1
code is  000419
select * from stock_info where code='000419' and launch_date < 20191010
1
code is  000420
select * from stock_info where code='000420' and launch_date < 20191010
1
code is  000421
select * from stock_info where code='000421' and launch_date < 20191010
1
code is  000422
select * from stock_info where code='000422' and launch_date < 20191010
1
code is  000423
select * from stock_info where code='000423' and launch_date < 20191010
1
code is  000425
select * from stock_info where code='000425' and launch_date < 20191010
1
code is  000426
select * from stock_info where code='000426' and launch_date < 20191010
1
code is  000428
select * from stock_info where code='000428' and launch_date < 20191010
1
code is  000429
select * from stock_info where code='000429' and launch_date < 20191010
1
code is  000430
select * from stock_info where code='000430' and launch_date < 20191010
1
code is  000488
select * from stock_info where code='000488' and launch_date < 20191010
1
code is  000498
select * from stock_info where code='000498' and launch_date < 20191010
1
code is  000501
select * from stock_info where code='000501' and launch_date < 20191010
1
code is  000502
select * from stock_info where code='000502' and launch_date < 20191010
1
code is  000503
select * from stock_info where code='000503' and launch_date < 20191010
1
code is  000504
select * from stock_info where code='000504' and launch_date < 20191010
1
code is  000505
select * from stock_info where code='000505' and launch_date < 20191010
1
code is  000506
select * from stock_info where code='000506' and launch_date < 20191010
1
code is  000507
select * from stock_info where code='000507' and launch_date < 20191010
1
code is  000509

select * from stock_info where code='000509' and launch_date < 20191010
1
code is  000510
select * from stock_info where code='000510' and launch_date < 20191010
1
code is  000513
select * from stock_info where code='000513' and launch_date < 20191010
1
code is  000514
select * from stock_info where code='000514' and launch_date < 20191010
1
code is  000516
select * from stock_info where code='000516' and launch_date < 20191010
1
code is  000517
select * from stock_info where code='000517' and launch_date < 20191010
1
code is  000518
select * from stock_info where code='000518' and launch_date < 20191010
1
code is  000519
select * from stock_info where code='000519' and launch_date < 20191010
1
code is  000520
select * from stock_info where code='000520' and launch_date < 20191010
1
code is  000521
select * from stock_info where code='000521' and launch_date < 20191010
1
code is  000523
select * from stock_info where code='000523' and launch_date < 20191010
1
code is  000524
select * from stock_info where code='000524' and launch_date < 20191010
1
code is  000525
select * from stock_info where code='000525' and launch_date < 20191010
1
code is  000526
select * from stock_info where code='000526' and launch_date < 20191010
1
code is  000528
select * from stock_info where code='000528' and launch_date < 20191010
1
code is  000529
select * from stock_info where code='000529' and launch_date < 20191010
1
code is  000530
select * from stock_info where code='000530' and launch_date < 20191010
1
code is  000531
select * from stock_info where code='000531' and launch_date < 20191010
1
code is  000532
select * from stock_info where code='000532' and launch_date < 20191010
1
code is  000533
select * from stock_info where code='000533' and launch_date < 20191010
1
code is  000534
select * from stock_info where code='000534' and launch_date < 20191010
1
code is  000536
select * from stock_info where code='000536' and launch_date < 20191010
1
code is  000537
select * from stock_info where code='000537' and launch_date < 20191010
1
code is  000538
select * from stock_info where code='000538' and launch_date < 20191010
1
code is  000539
select * from stock_info where code='000539' and launch_date < 20191010
1
code is  000540
select * from stock_info where code='000540' and launch_date < 20191010
1
code is  000541
select * from stock_info where code='000541' and launch_date < 20191010
1
code is  000543
select * from stock_info where code='000543' and launch_date < 20191010
1
code is  000544
select * from stock_info where code='000544' and launch_date < 20191010
1
code is  000545
select * from stock_info where code='000545' and launch_date < 20191010
1
code is  000546
select * from stock_info where code='000546' and launch_date < 20191010
1
code is  000547
select * from stock_info where code='000547' and launch_date < 20191010
1
code is  000548
select * from stock_info where code='000548' and launch_date < 20191010
1
code is  000550
select * from stock_info where code='000550' and launch_date < 20191010
1
code is  000551
select * from stock_info where code='000551' and launch_date < 20191010
1
code is  000552
select * from stock_info where code='000552' and launch_date < 20191010
1
code is  000553
select * from stock_info where code='000553' and launch_date < 20191010
1
code is  000554
select * from stock_info where code='000554' and launch_date < 20191010
1
code is  000555
select * from stock_info where code='000555' and launch_date < 20191010
1
code is  000557
select * from stock_info where code='000557' and launch_date < 20191010
1
code is  000558
select * from stock_info where code='000558' and launch_date < 20191010
1
code is  000559
select * from stock_info where code='000559' and launch_date < 20191010
1
code is  000560
select * from stock_info where code='000560' and launch_date < 20191010
1
code is  000561
select * from stock_info where code='000561' and launch_date < 20191010
1
code is  000563
select * from stock_info where code='000563' and launch_date < 20191010
1
code is  000564
select * from stock_info where code='000564' and launch_date < 20191010
1
code is  000565
select * from stock_info where code='000565' and launch_date < 20191010
1
code is  000566
select * from stock_info where code='000566' and launch_date < 20191010
1
code is  000567
select * from stock_info where code='000567' and launch_date < 20191010
1
code is  000568
select * from stock_info where code='000568' and launch_date < 20191010
1
code is  000570
select * from stock_info where code='000570' and launch_date < 20191010
1
code is  000571
select * from stock_info where code='000571' and launch_date < 20191010
1
code is  000572
select * from stock_info where code='000572' and launch_date < 20191010
1
code is  000573
select * from stock_info where code='000573' and launch_date < 20191010
1
code is  000576
select * from stock_info where code='000576' and launch_date < 20191010
1
code is  000581
select * from stock_info where code='000581' and launch_date < 20191010
1
code is  000582
select * from stock_info where code='000582' and launch_date < 20191010
1
code is  000584
select * from stock_info where code='000584' and launch_date < 20191010
1
code is  000585
select * from stock_info where code='000585' and launch_date < 20191010
1
code is  000586
select * from stock_info where code='000586' and launch_date < 20191010
1
code is  000587
select * from stock_info where code='000587' and launch_date < 20191010
1
code is  000589
select * from stock_info where code='000589' and launch_date < 20191010
1
code is  000590
select * from stock_info where code='000590' and launch_date < 20191010
1
code is  000591
select * from stock_info where code='000591' and launch_date < 20191010
1
code is  000592
select * from stock_info where code='000592' and launch_date < 20191010
1
code is  000593
select * from stock_info where code='000593' and launch_date < 20191010
1
code is  000595
select * from stock_info where code='000595' and launch_date < 20191010
1
code is  000596
select * from stock_info where code='000596' and launch_date < 20191010
1
code is  000597
select * from stock_info where code='000597' and launch_date < 20191010
1
code is  000598
select * from stock_info where code='000598' and launch_date < 20191010
1
code is  000599
select * from stock_info where code='000599' and launch_date < 20191010
1
code is  000600
select * from stock_info where code='000600' and launch_date < 20191010
1
code is  000601
select * from stock_info where code='000601' and launch_date < 20191010
1
code is  000603
select * from stock_info where code='000603' and launch_date < 20191010
1
code is  000605
select * from stock_info where code='000605' and launch_date < 20191010
1
code is  000606
select * from stock_info where code='000606' and launch_date < 20191010
1
code is  000607
select * from stock_info where code='000607' and launch_date < 20191010
1
code is  000608
select * from stock_info where code='000608' and launch_date < 20191010
1
code is  000609
select * from stock_info where code='000609' and launch_date < 20191010
1
code is  000610
select * from stock_info where code='000610' and launch_date < 20191010
1
code is  000611
select * from stock_info where code='000611' and launch_date < 20191010
1
code is  000612
select * from stock_info where code='000612' and launch_date < 20191010
1
code is  000613
select * from stock_info where code='000613' and launch_date < 20191010
1
code is  000615
select * from stock_info where code='000615' and launch_date < 20191010
1
code is  000616
select * from stock_info where code='000616' and launch_date < 20191010
1
code is  000617
select * from stock_info where code='000617' and launch_date < 20191010
1
code is  000619
select * from stock_info where code='000619' and launch_date < 20191010
1
code is  000620
select * from stock_info where code='000620' and launch_date < 20191010
1
code is  000622
select * from stock_info where code='000622' and launch_date < 20191010
1
code is  000623
select * from stock_info where code='000623' and launch_date < 20191010
1
code is  000625
select * from stock_info where code='000625' and launch_date < 20191010
1
code is  000626
select * from stock_info where code='000626' and launch_date < 20191010
1
code is  000627
select * from stock_info where code='000627' and launch_date < 20191010
1
code is  000628
select * from stock_info where code='000628' and launch_date < 20191010
1
code is  000629
select * from stock_info where code='000629' and launch_date < 20191010
1
code is  000630
select * from stock_info where code='000630' and launch_date < 20191010
1
code is  000631
select * from stock_info where code='000631' and launch_date < 20191010
1
code is  000632
select * from stock_info where code='000632' and launch_date < 20191010
1
code is  000633
select * from stock_info where code='000633' and launch_date < 20191010
1
code is  000635
select * from stock_info where code='000635' and launch_date < 20191010
1
code is  000636
select * from stock_info where code='000636' and launch_date < 20191010
1
code is  000637
select * from stock_info where code='000637' and launch_date < 20191010

1
code is  000638
select * from stock_info where code='000638' and launch_date < 20191010
1
code is  000639
select * from stock_info where code='000639' and launch_date < 20191010
1
code is  000650
select * from stock_info where code='000650' and launch_date < 20191010
1
code is  000651
select * from stock_info where code='000651' and launch_date < 20191010
1
code is  000652
select * from stock_info where code='000652' and launch_date < 20191010
1
code is  000655
select * from stock_info where code='000655' and launch_date < 20191010
1
code is  000656
select * from stock_info where code='000656' and launch_date < 20191010
1
code is  000657
select * from stock_info where code='000657' and launch_date < 20191010
1
code is  000659
select * from stock_info where code='000659' and launch_date < 20191010
1
code is  000661
select * from stock_info where code='000661' and launch_date < 20191010
1
code is  000662
select * from stock_info where code='000662' and launch_date < 20191010
1
code is  000663
select * from stock_info where code='000663' and launch_date < 20191010
1
code is  000665
select * from stock_info where code='000665' and launch_date < 20191010
1
code is  000666
select * from stock_info where code='000666' and launch_date < 20191010
1
code is  000667
select * from stock_info where code='000667' and launch_date < 20191010
1
code is  000668
select * from stock_info where code='000668' and launch_date < 20191010
1
code is  000669
select * from stock_info where code='000669' and launch_date < 20191010
1
code is  000670
select * from stock_info where code='000670' and launch_date < 20191010
1
code is  000671
select * from stock_info where code='000671' and launch_date < 20191010
1
code is  000672
select * from stock_info where code='000672' and launch_date < 20191010
1
code is  000673
select * from stock_info where code='000673' and launch_date < 20191010
1
code is  000676
select * from stock_info where code='000676' and launch_date < 20191010
1
code is  000677
select * from stock_info where code='000677' and launch_date < 20191010
1
code is  000678
select * from stock_info where code='000678' and launch_date < 20191010
1
code is  000679
select * from stock_info where code='000679' and launch_date < 20191010
1
code is  000680
select * from stock_info where code='000680' and launch_date < 20191010
1
code is  000681
select * from stock_info where code='000681' and launch_date < 20191010
1
code is  000682
select * from stock_info where code='000682' and launch_date < 20191010
1
code is  000683
select * from stock_info where code='000683' and launch_date < 20191010
1
code is  000685
select * from stock_info where code='000685' and launch_date < 20191010
1
code is  000686
select * from stock_info where code='000686' and launch_date < 20191010
1
code is  000687
select * from stock_info where code='000687' and launch_date < 20191010
1
code is  000688
select * from stock_info where code='000688' and launch_date < 20191010
1
code is  000690
select * from stock_info where code='000690' and launch_date < 20191010
1
code is  000691
select * from stock_info where code='000691' and launch_date < 20191010
1
code is  000692
select * from stock_info where code='000692' and launch_date < 20191010
1
code is  000695
select * from stock_info where code='000695' and launch_date < 20191010
1
code is  000697
select * from stock_info where code='000697' and launch_date < 20191010
1
code is  000698
select * from stock_info where code='000698' and launch_date < 20191010
1
code is  000700
select * from stock_info where code='000700' and launch_date < 20191010
1
code is  000701
select * from stock_info where code='000701' and launch_date < 20191010
1
code is  000702
select * from stock_info where code='000702' and launch_date < 20191010
1
code is  000703
select * from stock_info where code='000703' and launch_date < 20191010
1
code is  000705
select * from stock_info where code='000705' and launch_date < 20191010
1
code is  000707
select * from stock_info where code='000707' and launch_date < 20191010
1
code is  000708
select * from stock_info where code='000708' and launch_date < 20191010
1
code is  000709
select * from stock_info where code='000709' and launch_date < 20191010
1
code is  000710
select * from stock_info where code='000710' and launch_date < 20191010
1
code is  000711
select * from stock_info where code='000711' and launch_date < 20191010
1
code is  000712
select * from stock_info where code='000712' and launch_date < 20191010
1
code is  000713
select * from stock_info where code='000713' and launch_date < 20191010
1
code is  000715
select * from stock_info where code='000715' and launch_date < 20191010
1
code is  000716
select * from stock_info where code='000716' and launch_date < 20191010
1
code is  000717
select * from stock_info where code='000717' and launch_date < 20191010
1
code is  000718
select * from stock_info where code='000718' and launch_date < 20191010
1
code is  000719
select * from stock_info where code='000719' and launch_date < 20191010
1
code is  000720
select * from stock_info where code='000720' and launch_date < 20191010
1
code is  000721
select * from stock_info where code='000721' and launch_date < 20191010
1
code is  000722
select * from stock_info where code='000722' and launch_date < 20191010
1
code is  000723
select * from stock_info where code='000723' and launch_date < 20191010
1
code is  000725
select * from stock_info where code='000725' and launch_date < 20191010
1
code is  000726
select * from stock_info where code='000726' and launch_date < 20191010
1
code is  000727
select * from stock_info where code='000727' and launch_date < 20191010
1
code is  000728
select * from stock_info where code='000728' and launch_date < 20191010
1
code is  000729
select * from stock_info where code='000729' and launch_date < 20191010
1
code is  000731
select * from stock_info where code='000731' and launch_date < 20191010
1
code is  000732
select * from stock_info where code='000732' and launch_date < 20191010
1
code is  000733
select * from stock_info where code='000733' and launch_date < 20191010
1
code is  000735
select * from stock_info where code='000735' and launch_date < 20191010
1
code is  000736
select * from stock_info where code='000736' and launch_date < 20191010
1
code is  000737
select * from stock_info where code='000737' and launch_date < 20191010
1
code is  000738
select * from stock_info where code='000738' and launch_date < 20191010
1
code is  000739
select * from stock_info where code='000739' and launch_date < 20191010
1
code is  000750
select * from stock_info where code='000750' and launch_date < 20191010
1
code is  000751
select * from stock_info where code='000751' and launch_date < 20191010
1
code is  000752
select * from stock_info where code='000752' and launch_date < 20191010
1
code is  000753
select * from stock_info where code='000753' and launch_date < 20191010
1
code is  000755
select * from stock_info where code='000755' and launch_date < 20191010
1
code is  000756
select * from stock_info where code='000756' and launch_date < 20191010
1
code is  000757
select * from stock_info where code='000757' and launch_date < 20191010
1
code is  000758
select * from stock_info where code='000758' and launch_date < 20191010
1
code is  000759
select * from stock_info where code='000759' and launch_date < 20191010
1
code is  000760
select * from stock_info where code='000760' and launch_date < 20191010
1
code is  000761
select * from stock_info where code='000761' and launch_date < 20191010
1
code is  000762
select * from stock_info where code='000762' and launch_date < 20191010
1
code is  000766
select * from stock_info where code='000766' and launch_date < 20191010
1
code is  000767
select * from stock_info where code='000767' and launch_date < 20191010
1
code is  000768
select * from stock_info where code='000768' and launch_date < 20191010
1
code is  000776
select * from stock_info where code='000776' and launch_date < 20191010
1
code is  000777
select * from stock_info where code='000777' and launch_date < 20191010
1
code is  000778
select * from stock_info where code='000778' and launch_date < 20191010
1
code is  000779
select * from stock_info where code='000779' and launch_date < 20191010
1
code is  000780
select * from stock_info where code='000780' and launch_date < 20191010
1
code is  000782
select * from stock_info where code='000782' and launch_date < 20191010
1
code is  000783
select * from stock_info where code='000783' and launch_date < 20191010
1
code is  000785
select * from stock_info where code='000785' and launch_date < 20191010
1
code is  000786
select * from stock_info where code='000786' and launch_date < 20191010
1
code is  000788
select * from stock_info where code='000788' and launch_date < 20191010
1
code is  000789

select * from stock_info where code='000789' and launch_date < 20191010
1
code is  000790
select * from stock_info where code='000790' and launch_date < 20191010
1
code is  000791
select * from stock_info where code='000791' and launch_date < 20191010
1
code is  000792
select * from stock_info where code='000792' and launch_date < 20191010
1
code is  000793
select * from stock_info where code='000793' and launch_date < 20191010
1
code is  000795
select * from stock_info where code='000795' and launch_date < 20191010
1
code is  000796
select * from stock_info where code='000796' and launch_date < 20191010
1
code is  000797
select * from stock_info where code='000797' and launch_date < 20191010
1
code is  000798
select * from stock_info where code='000798' and launch_date < 20191010
1
code is  000799
select * from stock_info where code='000799' and launch_date < 20191010
1
code is  000800
select * from stock_info where code='000800' and launch_date < 20191010
1
code is  000801
select * from stock_info where code='000801' and launch_date < 20191010
1
code is  000802
select * from stock_info where code='000802' and launch_date < 20191010
1
code is  000803
select * from stock_info where code='000803' and launch_date < 20191010
1
code is  000806
select * from stock_info where code='000806' and launch_date < 20191010
1
code is  000807
select * from stock_info where code='000807' and launch_date < 20191010
1
code is  000809
select * from stock_info where code='000809' and launch_date < 20191010
1
code is  000810
select * from stock_info where code='000810' and launch_date < 20191010
1
code is  000811
select * from stock_info where code='000811' and launch_date < 20191010
1
code is  000812
select * from stock_info where code='000812' and launch_date < 20191010
1
code is  000813
select * from stock_info where code='000813' and launch_date < 20191010
1
code is  000815
select * from stock_info where code='000815' and launch_date < 20191010
1
code is  000816
select * from stock_info where code='000816' and launch_date < 20191010
1
code is  000818
select * from stock_info where code='000818' and launch_date < 20191010
1
code is  000819
select * from stock_info where code='000819' and launch_date < 20191010
1
code is  000820
select * from stock_info where code='000820' and launch_date < 20191010
1
code is  000821
select * from stock_info where code='000821' and launch_date < 20191010
1
code is  000822
select * from stock_info where code='000822' and launch_date < 20191010
1
code is  000823
select * from stock_info where code='000823' and launch_date < 20191010
1
code is  000825
select * from stock_info where code='000825' and launch_date < 20191010
1
code is  000826
select * from stock_info where code='000826' and launch_date < 20191010
1
code is  000828
select * from stock_info where code='000828' and launch_date < 20191010
1
code is  000829
select * from stock_info where code='000829' and launch_date < 20191010
1
code is  000830
select * from stock_info where code='000830' and launch_date < 20191010
1
code is  000831
select * from stock_info where code='000831' and launch_date < 20191010
1
code is  000833
select * from stock_info where code='000833' and launch_date < 20191010
1
code is  000835
select * from stock_info where code='000835' and launch_date < 20191010
1
code is  000836
select * from stock_info where code='000836' and launch_date < 20191010
1
code is  000837
select * from stock_info where code='000837' and launch_date < 20191010
1
code is  000838
select * from stock_info where code='000838' and launch_date < 20191010
1
code is  000839
select * from stock_info where code='000839' and launch_date < 20191010
1
code is  000848
select * from stock_info where code='000848' and launch_date < 20191010
1
code is  000850
select * from stock_info where code='000850' and launch_date < 20191010
1
code is  000851
select * from stock_info where code='000851' and launch_date < 20191010
1
code is  000852
select * from stock_info where code='000852' and launch_date < 20191010
1
code is  000856
select * from stock_info where code='000856' and launch_date < 20191010
1
code is  000858
select * from stock_info where code='000858' and launch_date < 20191010
1
code is  000859
select * from stock_info where code='000859' and launch_date < 20191010
1
code is  000860
select * from stock_info where code='000860' and launch_date < 20191010
1
code is  000861
select * from stock_info where code='000861' and launch_date < 20191010
1
code is  000862
select * from stock_info where code='000862' and launch_date < 20191010
1
code is  000863
select * from stock_info where code='000863' and launch_date < 20191010
1
code is  000868
select * from stock_info where code='000868' and launch_date < 20191010
1
code is  000869
select * from stock_info where code='000869' and launch_date < 20191010
1
code is  000875
select * from stock_info where code='000875' and launch_date < 20191010
1
code is  000876
select * from stock_info where code='000876' and launch_date < 20191010
1
code is  000877
select * from stock_info where code='000877' and launch_date < 20191010
1
code is  000878
select * from stock_info where code='000878' and launch_date < 20191010
1
code is  000880
select * from stock_info where code='000880' and launch_date < 20191010
1
code is  000881
select * from stock_info where code='000881' and launch_date < 20191010
1
code is  000882
select * from stock_info where code='000882' and launch_date < 20191010
1
code is  000883
select * from stock_info where code='000883' and launch_date < 20191010
1
code is  000885
select * from stock_info where code='000885' and launch_date < 20191010
1
code is  000886
select * from stock_info where code='000886' and launch_date < 20191010
1
code is  000887
select * from stock_info where code='000887' and launch_date < 20191010
1
code is  000888
select * from stock_info where code='000888' and launch_date < 20191010
1
code is  000889
select * from stock_info where code='000889' and launch_date < 20191010
1
code is  000890
select * from stock_info where code='000890' and launch_date < 20191010
1
code is  000892
select * from stock_info where code='000892' and launch_date < 20191010
1
code is  000893
select * from stock_info where code='000893' and launch_date < 20191010
1
code is  000895
select * from stock_info where code='000895' and launch_date < 20191010
1
code is  000897
select * from stock_info where code='000897' and launch_date < 20191010
1
code is  000898
select * from stock_info where code='000898' and launch_date < 20191010
1
code is  000899
select * from stock_info where code='000899' and launch_date < 20191010
1
code is  000900
select * from stock_info where code='000900' and launch_date < 20191010
1
code is  000901
select * from stock_info where code='000901' and launch_date < 20191010
1
code is  000902
select * from stock_info where code='000902' and launch_date < 20191010
1
code is  000903
select * from stock_info where code='000903' and launch_date < 20191010
1
code is  000905
select * from stock_info where code='000905' and launch_date < 20191010
1
code is  000906
select * from stock_info where code='000906' and launch_date < 20191010
1
code is  000908
select * from stock_info where code='000908' and launch_date < 20191010
1
code is  000909
select * from stock_info where code='000909' and launch_date < 20191010
1
code is  000910
select * from stock_info where code='000910' and launch_date < 20191010
1
code is  000911
select * from stock_info where code='000911' and launch_date < 20191010
1
code is  000912
select * from stock_info where code='000912' and launch_date < 20191010
1
code is  000913
select * from stock_info where code='000913' and launch_date < 20191010
1
code is  000915
select * from stock_info where code='000915' and launch_date < 20191010
1
code is  000917
select * from stock_info where code='000917' and launch_date < 20191010
1
code is  000918
select * from stock_info where code='000918' and launch_date < 20191010
1
code is  000919
select * from stock_info where code='000919' and launch_date < 20191010
1
code is  000920
select * from stock_info where code='000920' and launch_date < 20191010
1
code is  000921
select * from stock_info where code='000921' and launch_date < 20191010
1
code is  000922

select * from stock_info where code='000922' and launch_date < 20191010
1
code is  000923
select * from stock_info where code='000923' and launch_date < 20191010
1
code is  000925
select * from stock_info where code='000925' and launch_date < 20191010
1
code is  000926
select * from stock_info where code='000926' and launch_date < 20191010
1
code is  000927
select * from stock_info where code='000927' and launch_date < 20191010
1
code is  000928
select * from stock_info where code='000928' and launch_date < 20191010
1
code is  000929
select * from stock_info where code='000929' and launch_date < 20191010
1
code is  000930
select * from stock_info where code='000930' and launch_date < 20191010
1
code is  000931
select * from stock_info where code='000931' and launch_date < 20191010
1
code is  000932
select * from stock_info where code='000932' and launch_date < 20191010
1
code is  000933
select * from stock_info where code='000933' and launch_date < 20191010
1
code is  000935
select * from stock_info where code='000935' and launch_date < 20191010
1
code is  000936
select * from stock_info where code='000936' and launch_date < 20191010
1
code is  000937
select * from stock_info where code='000937' and launch_date < 20191010
1
code is  000938
select * from stock_info where code='000938' and launch_date < 20191010
1
code is  000939
select * from stock_info where code='000939' and launch_date < 20191010
1
code is  000948
select * from stock_info where code='000948' and launch_date < 20191010
1
code is  000949
select * from stock_info where code='000949' and launch_date < 20191010
1
code is  000950
select * from stock_info where code='000950' and launch_date < 20191010
1
code is  000951
select * from stock_info where code='000951' and launch_date < 20191010
1
code is  000952
select * from stock_info where code='000952' and launch_date < 20191010
1
code is  000953
select * from stock_info where code='000953' and launch_date < 20191010
1
code is  000955
select * from stock_info where code='000955' and launch_date < 20191010
1
code is  000957
select * from stock_info where code='000957' and launch_date < 20191010
1
code is  000958
select * from stock_info where code='000958' and launch_date < 20191010
1
code is  000959
select * from stock_info where code='000959' and launch_date < 20191010
1
code is  000960
select * from stock_info where code='000960' and launch_date < 20191010
1
code is  000961
select * from stock_info where code='000961' and launch_date < 20191010
1
code is  000962
select * from stock_info where code='000962' and launch_date < 20191010
1
code is  000963
select * from stock_info where code='000963' and launch_date < 20191010
1
code is  000965
select * from stock_info where code='000965' and launch_date < 20191010
1
code is  000966
select * from stock_info where code='000966' and launch_date < 20191010
1
code is  000967
select * from stock_info where code='000967' and launch_date < 20191010
1
code is  000968
select * from stock_info where code='000968' and launch_date < 20191010
1
code is  000969
select * from stock_info where code='000969' and launch_date < 20191010
1
code is  000970
select * from stock_info where code='000970' and launch_date < 20191010
1
code is  000971
select * from stock_info where code='000971' and launch_date < 20191010
1
code is  000972
select * from stock_info where code='000972' and launch_date < 20191010
1
code is  000973
select * from stock_info where code='000973' and launch_date < 20191010
1
code is  000975
select * from stock_info where code='000975' and launch_date < 20191010
1
code is  000976
select * from stock_info where code='000976' and launch_date < 20191010
1
code is  000977
select * from stock_info where code='000977' and launch_date < 20191010
1
code is  000978
select * from stock_info where code='000978' and launch_date < 20191010
1
code is  000980
select * from stock_info where code='000980' and launch_date < 20191010
1
code is  000981
select * from stock_info where code='000981' and launch_date < 20191010
1
code is  000982
select * from stock_info where code='000982' and launch_date < 20191010
1
code is  000983
select * from stock_info where code='000983' and launch_date < 20191010
1
code is  000985
select * from stock_info where code='000985' and launch_date < 20191010
1
code is  000987
select * from stock_info where code='000987' and launch_date < 20191010
1
code is  000988
select * from stock_info where code='000988' and launch_date < 20191010
1
code is  000989
select * from stock_info where code='000989' and launch_date < 20191010
1
code is  000990
select * from stock_info where code='000990' and launch_date < 20191010
1
code is  000993
select * from stock_info where code='000993' and launch_date < 20191010
1
code is  000995
select * from stock_info where code='000995' and launch_date < 20191010
1
code is  000996
select * from stock_info where code='000996' and launch_date < 20191010
1
code is  000997
select * from stock_info where code='000997' and launch_date < 20191010
1
code is  000998
select * from stock_info where code='000998' and launch_date < 20191010
1
code is  000999
select * from stock_info where code='000999' and launch_date < 20191010
1
code is  001696
select * from stock_info where code='001696' and launch_date < 20191010
1
code is  001872
select * from stock_info where code='001872' and launch_date < 20191010
1
code is  001896
select * from stock_info where code='001896' and launch_date < 20191010
1
code is  001914
select * from stock_info where code='001914' and launch_date < 20191010
1
code is  001965
select * from stock_info where code='001965' and launch_date < 20191010
1
code is  001979
select * from stock_info where code='001979' and launch_date < 20191010
1
code is  002001
select * from stock_info where code='002001' and launch_date < 20191010
1
code is  002002
select * from stock_info where code='002002' and launch_date < 20191010
1
code is  002003
select * from stock_info where code='002003' and launch_date < 20191010
1
code is  002004
select * from stock_info where code='002004' and launch_date < 20191010
1
code is  002005
select * from stock_info where code='002005' and launch_date < 20191010
1
code is  002006
select * from stock_info where code='002006' and launch_date < 20191010
1
code is  002007
select * from stock_info where code='002007' and launch_date < 20191010
1
code is  002008
select * from stock_info where code='002008' and launch_date < 20191010
1
code is  002009
select * from stock_info where code='002009' and launch_date < 20191010
1
code is  002010
select * from stock_info where code='002010' and launch_date < 20191010
1
code is  002011
select * from stock_info where code='002011' and launch_date < 20191010
1
code is  002012
select * from stock_info where code='002012' and launch_date < 20191010
1
code is  002013
select * from stock_info where code='002013' and launch_date < 20191010
1
code is  002014
select * from stock_info where code='002014' and launch_date < 20191010
1
code is  002015
select * from stock_info where code='002015' and launch_date < 20191010
1
code is  002016
select * from stock_info where code='002016' and launch_date < 20191010
1
code is  002017
select * from stock_info where code='002017' and launch_date < 20191010
1
code is  002019
select * from stock_info where code='002019' and launch_date < 20191010
1
code is  002020
select * from stock_info where code='002020' and launch_date < 20191010
1
code is  002021
select * from stock_info where code='002021' and launch_date < 20191010
1
code is  002022
select * from stock_info where code='002022' and launch_date < 20191010
1
code is  002023
select * from stock_info where code='002023' and launch_date < 20191010
1
code is  002024
select * from stock_info where code='002024' and launch_date < 20191010
1
code is  002025
select * from stock_info where code='002025' and launch_date < 20191010
1
code is  002026
select * from stock_info where code='002026' and launch_date < 20191010
1
code is  002027
select * from stock_info where code='002027' and launch_date < 20191010
1
code is  002028
select * from stock_info where code='002028' and launch_date < 20191010
1
code is  002029
select * from stock_info where code='002029' and launch_date < 20191010
1
code is  002030
select * from stock_info where code='002030' and launch_date < 20191010
1
code is  002031
select * from stock_info where code='002031' and launch_date < 20191010
1
code is  002032
select * from stock_info where code='002032' and launch_date < 20191010
1
code is  002033
select * from stock_info where code='002033' and launch_date < 20191010
1
code is  002034

select * from stock_info where code='002034' and launch_date < 20191010
1
code is  002035
select * from stock_info where code='002035' and launch_date < 20191010
1
code is  002036
select * from stock_info where code='002036' and launch_date < 20191010
1
code is  002037
select * from stock_info where code='002037' and launch_date < 20191010
1
code is  002038
select * from stock_info where code='002038' and launch_date < 20191010
1
code is  002039
select * from stock_info where code='002039' and launch_date < 20191010
1
code is  002040
select * from stock_info where code='002040' and launch_date < 20191010
1
code is  002041
select * from stock_info where code='002041' and launch_date < 20191010
1
code is  002042
select * from stock_info where code='002042' and launch_date < 20191010
1
code is  002043
select * from stock_info where code='002043' and launch_date < 20191010
1
code is  002044
select * from stock_info where code='002044' and launch_date < 20191010
1
code is  002045
select * from stock_info where code='002045' and launch_date < 20191010
1
code is  002046
select * from stock_info where code='002046' and launch_date < 20191010
1
code is  002047
select * from stock_info where code='002047' and launch_date < 20191010
1
code is  002048
select * from stock_info where code='002048' and launch_date < 20191010
1
code is  002049
select * from stock_info where code='002049' and launch_date < 20191010
1
code is  002050
select * from stock_info where code='002050' and launch_date < 20191010
1
code is  002051
select * from stock_info where code='002051' and launch_date < 20191010
1
code is  002052
select * from stock_info where code='002052' and launch_date < 20191010
1
code is  002053
select * from stock_info where code='002053' and launch_date < 20191010
1
code is  002054
select * from stock_info where code='002054' and launch_date < 20191010
1
code is  002055
select * from stock_info where code='002055' and launch_date < 20191010
1
code is  002056
select * from stock_info where code='002056' and launch_date < 20191010
1
code is  002057
select * from stock_info where code='002057' and launch_date < 20191010
1
code is  002058
select * from stock_info where code='002058' and launch_date < 20191010
1
code is  002059
select * from stock_info where code='002059' and launch_date < 20191010
1
code is  002060
select * from stock_info where code='002060' and launch_date < 20191010
1
code is  002061
select * from stock_info where code='002061' and launch_date < 20191010
1
code is  002062
select * from stock_info where code='002062' and launch_date < 20191010
1
code is  002063
select * from stock_info where code='002063' and launch_date < 20191010
1
code is  002064
select * from stock_info where code='002064' and launch_date < 20191010
1
code is  002065
select * from stock_info where code='002065' and launch_date < 20191010
1
code is  002066
select * from stock_info where code='002066' and launch_date < 20191010
1
code is  002067
select * from stock_info where code='002067' and launch_date < 20191010
1
code is  002068
select * from stock_info where code='002068' and launch_date < 20191010
1
code is  002069
select * from stock_info where code='002069' and launch_date < 20191010
1
code is  002071
select * from stock_info where code='002071' and launch_date < 20191010
1
code is  002072
select * from stock_info where code='002072' and launch_date < 20191010
1
code is  002073
select * from stock_info where code='002073' and launch_date < 20191010
1
code is  002074
select * from stock_info where code='002074' and launch_date < 20191010
1
code is  002075
select * from stock_info where code='002075' and launch_date < 20191010
1
code is  002076
select * from stock_info where code='002076' and launch_date < 20191010
1
code is  002077
select * from stock_info where code='002077' and launch_date < 20191010
1
code is  002078
select * from stock_info where code='002078' and launch_date < 20191010
1
code is  002079
select * from stock_info where code='002079' and launch_date < 20191010
1
code is  002080
select * from stock_info where code='002080' and launch_date < 20191010
1
code is  002081
select * from stock_info where code='002081' and launch_date < 20191010
1
code is  002082
select * from stock_info where code='002082' and launch_date < 20191010
1
code is  002083
select * from stock_info where code='002083' and launch_date < 20191010
1
code is  002084
select * from stock_info where code='002084' and launch_date < 20191010
1
code is  002085
select * from stock_info where code='002085' and launch_date < 20191010
1
code is  002086
select * from stock_info where code='002086' and launch_date < 20191010
1
code is  002087
select * from stock_info where code='002087' and launch_date < 20191010
1
code is  002088
select * from stock_info where code='002088' and launch_date < 20191010
1
code is  002089
select * from stock_info where code='002089' and launch_date < 20191010
1
code is  002090
select * from stock_info where code='002090' and launch_date < 20191010
1
code is  002091
select * from stock_info where code='002091' and launch_date < 20191010
1
code is  002092
select * from stock_info where code='002092' and launch_date < 20191010
1
code is  002093
select * from stock_info where code='002093' and launch_date < 20191010
1
code is  002094
select * from stock_info where code='002094' and launch_date < 20191010
1
code is  002095
select * from stock_info where code='002095' and launch_date < 20191010
1
code is  002096
select * from stock_info where code='002096' and launch_date < 20191010
1
code is  002097
select * from stock_info where code='002097' and launch_date < 20191010
1
code is  002098
select * from stock_info where code='002098' and launch_date < 20191010
1
code is  002099
select * from stock_info where code='002099' and launch_date < 20191010
1
code is  002100
select * from stock_info where code='002100' and launch_date < 20191010
1
code is  002101
select * from stock_info where code='002101' and launch_date < 20191010
1
code is  002102
select * from stock_info where code='002102' and launch_date < 20191010
1
code is  002103
select * from stock_info where code='002103' and launch_date < 20191010
1
code is  002104
select * from stock_info where code='002104' and launch_date < 20191010
1
code is  002105
select * from stock_info where code='002105' and launch_date < 20191010
1
code is  002106
select * from stock_info where code='002106' and launch_date < 20191010
1
code is  002107
select * from stock_info where code='002107' and launch_date < 20191010
1
code is  002108
select * from stock_info where code='002108' and launch_date < 20191010
1
code is  002109
select * from stock_info where code='002109' and launch_date < 20191010
1
code is  002110
select * from stock_info where code='002110' and launch_date < 20191010
1
code is  002111
select * from stock_info where code='002111' and launch_date < 20191010
1
code is  002112
select * from stock_info where code='002112' and launch_date < 20191010
1
code is  002113
select * from stock_info where code='002113' and launch_date < 20191010
1
code is  002114
select * from stock_info where code='002114' and launch_date < 20191010
1
code is  002115
select * from stock_info where code='002115' and launch_date < 20191010
1
code is  002116
select * from stock_info where code='002116' and launch_date < 20191010
1
code is  002117
select * from stock_info where code='002117' and launch_date < 20191010
1
code is  002118
select * from stock_info where code='002118' and launch_date < 20191010
1
code is  002119
select * from stock_info where code='002119' and launch_date < 20191010
1
code is  002120
select * from stock_info where code='002120' and launch_date < 20191010
1
code is  002121
select * from stock_info where code='002121' and launch_date < 20191010
1
code is  002122
select * from stock_info where code='002122' and launch_date < 20191010
1
code is  002123
select * from stock_info where code='002123' and launch_date < 20191010
1
code is  002124
select * from stock_info where code='002124' and launch_date < 20191010
1
code is  002125
select * from stock_info where code='002125' and launch_date < 20191010
1
code is  002126
select * from stock_info where code='002126' and launch_date < 20191010
1
code is  002127
select * from stock_info where code='002127' and launch_date < 20191010
1
code is  002128
select * from stock_info where code='002128' and launch_date < 20191010
1
code is  002129
select * from stock_info where code='002129' and launch_date < 20191010
1
code is  002130
select * from stock_info where code='002130' and launch_date < 20191010
1
code is  002131
select * from stock_info where code='002131' and launch_date < 20191010
1
code is  002132
select * from stock_info where code='002132' and launch_date < 20191010
1
code is  002133

select * from stock_info where code='002133' and launch_date < 20191010
1
code is  002134
select * from stock_info where code='002134' and launch_date < 20191010
1
code is  002135
select * from stock_info where code='002135' and launch_date < 20191010
1
code is  002136
select * from stock_info where code='002136' and launch_date < 20191010
1
code is  002137
select * from stock_info where code='002137' and launch_date < 20191010
1
code is  002138
select * from stock_info where code='002138' and launch_date < 20191010
1
code is  002139
select * from stock_info where code='002139' and launch_date < 20191010
1
code is  002140
select * from stock_info where code='002140' and launch_date < 20191010
1
code is  002141
select * from stock_info where code='002141' and launch_date < 20191010
1
code is  002142
select * from stock_info where code='002142' and launch_date < 20191010
1
code is  002144
select * from stock_info where code='002144' and launch_date < 20191010
1
code is  002145
select * from stock_info where code='002145' and launch_date < 20191010
1
code is  002146
select * from stock_info where code='002146' and launch_date < 20191010
1
code is  002147
select * from stock_info where code='002147' and launch_date < 20191010
1
code is  002148
select * from stock_info where code='002148' and launch_date < 20191010
1
code is  002149
select * from stock_info where code='002149' and launch_date < 20191010
1
code is  002150
select * from stock_info where code='002150' and launch_date < 20191010
1
code is  002151
select * from stock_info where code='002151' and launch_date < 20191010
1
code is  002152
select * from stock_info where code='002152' and launch_date < 20191010
1
code is  002153
select * from stock_info where code='002153' and launch_date < 20191010
1
code is  002154
select * from stock_info where code='002154' and launch_date < 20191010
1
code is  002155
select * from stock_info where code='002155' and launch_date < 20191010
1
code is  002156
select * from stock_info where code='002156' and launch_date < 20191010
1
code is  002157
select * from stock_info where code='002157' and launch_date < 20191010
1
code is  002158
select * from stock_info where code='002158' and launch_date < 20191010
1
code is  002159
select * from stock_info where code='002159' and launch_date < 20191010
1
code is  002160
select * from stock_info where code='002160' and launch_date < 20191010
1
code is  002161
select * from stock_info where code='002161' and launch_date < 20191010
1
code is  002162
select * from stock_info where code='002162' and launch_date < 20191010
1
code is  002163
select * from stock_info where code='002163' and launch_date < 20191010
1
code is  002164
select * from stock_info where code='002164' and launch_date < 20191010
1
code is  002165
select * from stock_info where code='002165' and launch_date < 20191010
1
code is  002166
select * from stock_info where code='002166' and launch_date < 20191010
1
code is  002167
select * from stock_info where code='002167' and launch_date < 20191010
1
code is  002168
select * from stock_info where code='002168' and launch_date < 20191010
1
code is  002169
select * from stock_info where code='002169' and launch_date < 20191010
1
code is  002170
select * from stock_info where code='002170' and launch_date < 20191010
1
code is  002171
select * from stock_info where code='002171' and launch_date < 20191010
1
code is  002172
select * from stock_info where code='002172' and launch_date < 20191010
1
code is  002173
select * from stock_info where code='002173' and launch_date < 20191010
1
code is  002174
select * from stock_info where code='002174' and launch_date < 20191010
1
code is  002175
select * from stock_info where code='002175' and launch_date < 20191010
1
code is  002176
select * from stock_info where code='002176' and launch_date < 20191010
1
code is  002177
select * from stock_info where code='002177' and launch_date < 20191010
1
code is  002178
select * from stock_info where code='002178' and launch_date < 20191010
1
code is  002179
select * from stock_info where code='002179' and launch_date < 20191010
1
code is  002180
select * from stock_info where code='002180' and launch_date < 20191010
1
code is  002181
select * from stock_info where code='002181' and launch_date < 20191010
1
code is  002182
select * from stock_info where code='002182' and launch_date < 20191010
1
code is  002183
select * from stock_info where code='002183' and launch_date < 20191010
1
code is  002184
select * from stock_info where code='002184' and launch_date < 20191010
1
code is  002185
select * from stock_info where code='002185' and launch_date < 20191010
1
code is  002186
select * from stock_info where code='002186' and launch_date < 20191010
1
code is  002187
select * from stock_info where code='002187' and launch_date < 20191010
1
code is  002188
select * from stock_info where code='002188' and launch_date < 20191010
1
code is  002189
select * from stock_info where code='002189' and launch_date < 20191010
1
code is  002190
select * from stock_info where code='002190' and launch_date < 20191010
1
code is  002191
select * from stock_info where code='002191' and launch_date < 20191010
1
code is  002192
select * from stock_info where code='002192' and launch_date < 20191010
1
code is  002193
select * from stock_info where code='002193' and launch_date < 20191010
1
code is  002194
select * from stock_info where code='002194' and launch_date < 20191010
1
code is  002195
select * from stock_info where code='002195' and launch_date < 20191010
1
code is  002196
select * from stock_info where code='002196' and launch_date < 20191010
1
code is  002197
select * from stock_info where code='002197' and launch_date < 20191010
1
code is  002198
select * from stock_info where code='002198' and launch_date < 20191010
1
code is  002199
select * from stock_info where code='002199' and launch_date < 20191010
1
code is  002200
select * from stock_info where code='002200' and launch_date < 20191010
1
code is  002201
select * from stock_info where code='002201' and launch_date < 20191010
1
code is  002202
select * from stock_info where code='002202' and launch_date < 20191010
1
code is  002203
select * from stock_info where code='002203' and launch_date < 20191010
1
code is  002204
select * from stock_info where code='002204' and launch_date < 20191010
1
code is  002205
select * from stock_info where code='002205' and launch_date < 20191010
1
code is  002206
select * from stock_info where code='002206' and launch_date < 20191010
1
code is  002207
select * from stock_info where code='002207' and launch_date < 20191010
1
code is  002208
select * from stock_info where code='002208' and launch_date < 20191010
1
code is  002209
select * from stock_info where code='002209' and launch_date < 20191010
1
code is  002210
select * from stock_info where code='002210' and launch_date < 20191010
1
code is  002211
select * from stock_info where code='002211' and launch_date < 20191010
1
code is  002212
select * from stock_info where code='002212' and launch_date < 20191010
1
code is  002213
select * from stock_info where code='002213' and launch_date < 20191010
1
code is  002214
select * from stock_info where code='002214' and launch_date < 20191010
1
code is  002215
select * from stock_info where code='002215' and launch_date < 20191010
1
code is  002216
select * from stock_info where code='002216' and launch_date < 20191010
1
code is  002217
select * from stock_info where code='002217' and launch_date < 20191010
1
code is  002218
select * from stock_info where code='002218' and launch_date < 20191010
1
code is  002219
select * from stock_info where code='002219' and launch_date < 20191010
1
code is  002220
select * from stock_info where code='002220' and launch_date < 20191010
1
code is  002221
select * from stock_info where code='002221' and launch_date < 20191010
1
code is  002222
select * from stock_info where code='002222' and launch_date < 20191010
1
code is  002223
select * from stock_info where code='002223' and launch_date < 20191010
1
code is  002224
select * from stock_info where code='002224' and launch_date < 20191010
1
code is  002225
select * from stock_info where code='002225' and launch_date < 20191010
1
code is  002226
select * from stock_info where code='002226' and launch_date < 20191010
1
code is  002227
select * from stock_info where code='002227' and launch_date < 20191010
1
code is  002228
select * from stock_info where code='002228' and launch_date < 20191010
1
code is  002229
select * from stock_info where code='002229' and launch_date < 20191010
1
code is  002230
select * from stock_info where code='002230' and launch_date < 20191010
1
code is  002231
select * from stock_info where code='002231' and launch_date < 20191010
1
code is  002232
select * from stock_info where code='002232' and launch_date < 20191010
1
code is  002233
select * from stock_info where code='002233' and launch_date < 20191010
1
code is  002234
select * from stock_info where code='002234' and launch_date < 20191010
1
code is  002235
select * from stock_info where code='002235' and launch_date < 20191010
1
code is  002236
select * from stock_info where code='002236' and launch_date < 20191010

1
code is  002237
select * from stock_info where code='002237' and launch_date < 20191010
1
code is  002238
select * from stock_info where code='002238' and launch_date < 20191010
1
code is  002239
select * from stock_info where code='002239' and launch_date < 20191010
1
code is  002240
select * from stock_info where code='002240' and launch_date < 20191010
1
code is  002241
select * from stock_info where code='002241' and launch_date < 20191010
1
code is  002242
select * from stock_info where code='002242' and launch_date < 20191010
1
code is  002243
select * from stock_info where code='002243' and launch_date < 20191010
1
code is  002244
select * from stock_info where code='002244' and launch_date < 20191010
1
code is  002245
select * from stock_info where code='002245' and launch_date < 20191010
1
code is  002246
select * from stock_info where code='002246' and launch_date < 20191010
1
code is  002247
select * from stock_info where code='002247' and launch_date < 20191010
1
code is  002248
select * from stock_info where code='002248' and launch_date < 20191010
1
code is  002249
select * from stock_info where code='002249' and launch_date < 20191010
1
code is  002250
select * from stock_info where code='002250' and launch_date < 20191010
1
code is  002251
select * from stock_info where code='002251' and launch_date < 20191010
1
code is  002252
select * from stock_info where code='002252' and launch_date < 20191010
1
code is  002253
select * from stock_info where code='002253' and launch_date < 20191010
1
code is  002254
select * from stock_info where code='002254' and launch_date < 20191010
1
code is  002255
select * from stock_info where code='002255' and launch_date < 20191010
1
code is  002256
select * from stock_info where code='002256' and launch_date < 20191010
1
code is  002258
select * from stock_info where code='002258' and launch_date < 20191010
1
code is  002259
select * from stock_info where code='002259' and launch_date < 20191010
1
code is  002260
select * from stock_info where code='002260' and launch_date < 20191010
1
code is  002261
select * from stock_info where code='002261' and launch_date < 20191010
1
code is  002262
select * from stock_info where code='002262' and launch_date < 20191010
1
code is  002263
select * from stock_info where code='002263' and launch_date < 20191010
1
code is  002264
select * from stock_info where code='002264' and launch_date < 20191010
1
code is  002265
select * from stock_info where code='002265' and launch_date < 20191010
1
code is  002266
select * from stock_info where code='002266' and launch_date < 20191010
1
code is  002267
select * from stock_info where code='002267' and launch_date < 20191010
1
code is  002268
select * from stock_info where code='002268' and launch_date < 20191010
1
code is  002269
select * from stock_info where code='002269' and launch_date < 20191010
1
code is  002270
select * from stock_info where code='002270' and launch_date < 20191010
1
code is  002271
select * from stock_info where code='002271' and launch_date < 20191010
1
code is  002272
select * from stock_info where code='002272' and launch_date < 20191010
1
code is  002273
select * from stock_info where code='002273' and launch_date < 20191010
1
code is  002274
select * from stock_info where code='002274' and launch_date < 20191010
1
code is  002275
select * from stock_info where code='002275' and launch_date < 20191010
1
code is  002276
select * from stock_info where code='002276' and launch_date < 20191010
1
code is  002277
select * from stock_info where code='002277' and launch_date < 20191010
1
code is  002278
select * from stock_info where code='002278' and launch_date < 20191010
1
code is  002279
select * from stock_info where code='002279' and launch_date < 20191010
1
code is  002280
select * from stock_info where code='002280' and launch_date < 20191010
1
code is  002281
select * from stock_info where code='002281' and launch_date < 20191010
1
code is  002282
select * from stock_info where code='002282' and launch_date < 20191010
1
code is  002283
select * from stock_info where code='002283' and launch_date < 20191010
1
code is  002284
select * from stock_info where code='002284' and launch_date < 20191010
1
code is  002285
select * from stock_info where code='002285' and launch_date < 20191010
1
code is  002286
select * from stock_info where code='002286' and launch_date < 20191010
1
code is  002287
select * from stock_info where code='002287' and launch_date < 20191010
1
code is  002288
select * from stock_info where code='002288' and launch_date < 20191010
1
code is  002289
select * from stock_info where code='002289' and launch_date < 20191010
1
code is  002290
select * from stock_info where code='002290' and launch_date < 20191010
1
code is  002291
select * from stock_info where code='002291' and launch_date < 20191010
1
code is  002292
select * from stock_info where code='002292' and launch_date < 20191010
1
code is  002293
select * from stock_info where code='002293' and launch_date < 20191010
1
code is  002294
select * from stock_info where code='002294' and launch_date < 20191010
1
code is  002295
select * from stock_info where code='002295' and launch_date < 20191010
1
code is  002296
select * from stock_info where code='002296' and launch_date < 20191010
1
code is  002297
select * from stock_info where code='002297' and launch_date < 20191010
1
code is  002298
select * from stock_info where code='002298' and launch_date < 20191010
1
code is  002299
select * from stock_info where code='002299' and launch_date < 20191010
1
code is  002300
select * from stock_info where code='002300' and launch_date < 20191010
1
code is  002301
select * from stock_info where code='002301' and launch_date < 20191010
1
code is  002302
select * from stock_info where code='002302' and launch_date < 20191010
1
code is  002303
select * from stock_info where code='002303' and launch_date < 20191010
1
code is  002304
select * from stock_info where code='002304' and launch_date < 20191010
1
code is  002305
select * from stock_info where code='002305' and launch_date < 20191010
1
code is  002306
select * from stock_info where code='002306' and launch_date < 20191010
1
code is  002307
select * from stock_info where code='002307' and launch_date < 20191010
1
code is  002308
select * from stock_info where code='002308' and launch_date < 20191010
1
code is  002309
select * from stock_info where code='002309' and launch_date < 20191010
1
code is  002310
select * from stock_info where code='002310' and launch_date < 20191010
1
code is  002311
select * from stock_info where code='002311' and launch_date < 20191010
1
code is  002312
select * from stock_info where code='002312' and launch_date < 20191010
1
code is  002313
select * from stock_info where code='002313' and launch_date < 20191010
1
code is  002314
select * from stock_info where code='002314' and launch_date < 20191010
1
code is  002315
select * from stock_info where code='002315' and launch_date < 20191010
1
code is  002316
select * from stock_info where code='002316' and launch_date < 20191010
1
code is  002317
select * from stock_info where code='002317' and launch_date < 20191010
1
code is  002318
select * from stock_info where code='002318' and launch_date < 20191010
1
code is  002319
select * from stock_info where code='002319' and launch_date < 20191010
1
code is  002320
select * from stock_info where code='002320' and launch_date < 20191010
1
code is  002321
select * from stock_info where code='002321' and launch_date < 20191010
1
code is  002322
select * from stock_info where code='002322' and launch_date < 20191010
1
code is  002323
select * from stock_info where code='002323' and launch_date < 20191010
1
code is  002324
select * from stock_info where code='002324' and launch_date < 20191010
1
code is  002325
select * from stock_info where code='002325' and launch_date < 20191010
1
code is  002326
select * from stock_info where code='002326' and launch_date < 20191010
1
code is  002327
select * from stock_info where code='002327' and launch_date < 20191010
1
code is  002328
select * from stock_info where code='002328' and launch_date < 20191010
1
code is  002329
select * from stock_info where code='002329' and launch_date < 20191010
1
code is  002330
select * from stock_info where code='002330' and launch_date < 20191010
1
code is  002331
select * from stock_info where code='002331' and launch_date < 20191010
1
code is  002332
select * from stock_info where code='002332' and launch_date < 20191010
1
code is  002333
select * from stock_info where code='002333' and launch_date < 20191010
1
code is  002334
select * from stock_info where code='002334' and launch_date < 20191010
1
code is  002335
select * from stock_info where code='002335' and launch_date < 20191010
1
code is  002336
select * from stock_info where code='002336' and launch_date < 20191010
1
code is  002337
select * from stock_info where code='002337' and launch_date < 20191010
1
code is  002338
select * from stock_info where code='002338' and launch_date < 20191010
1

code is  002339
select * from stock_info where code='002339' and launch_date < 20191010
1
code is  002340
select * from stock_info where code='002340' and launch_date < 20191010
1
code is  002341
select * from stock_info where code='002341' and launch_date < 20191010
1
code is  002342
select * from stock_info where code='002342' and launch_date < 20191010
1
code is  002343
select * from stock_info where code='002343' and launch_date < 20191010
1
code is  002344
select * from stock_info where code='002344' and launch_date < 20191010
1
code is  002345
select * from stock_info where code='002345' and launch_date < 20191010
1
code is  002346
select * from stock_info where code='002346' and launch_date < 20191010
1
code is  002347
select * from stock_info where code='002347' and launch_date < 20191010
1
code is  002348
select * from stock_info where code='002348' and launch_date < 20191010
1
code is  002349
select * from stock_info where code='002349' and launch_date < 20191010
1
code is  002350
select * from stock_info where code='002350' and launch_date < 20191010
1
code is  002351
select * from stock_info where code='002351' and launch_date < 20191010
1
code is  002352
select * from stock_info where code='002352' and launch_date < 20191010
1
code is  002353
select * from stock_info where code='002353' and launch_date < 20191010
1
code is  002354
select * from stock_info where code='002354' and launch_date < 20191010
1
code is  002355
select * from stock_info where code='002355' and launch_date < 20191010
1
code is  002356
select * from stock_info where code='002356' and launch_date < 20191010
1
code is  002357
select * from stock_info where code='002357' and launch_date < 20191010
1
code is  002358
select * from stock_info where code='002358' and launch_date < 20191010
1
code is  002359
select * from stock_info where code='002359' and launch_date < 20191010
1
code is  002360
select * from stock_info where code='002360' and launch_date < 20191010
1
code is  002361
select * from stock_info where code='002361' and launch_date < 20191010
1
code is  002362
select * from stock_info where code='002362' and launch_date < 20191010
1
code is  002363
select * from stock_info where code='002363' and launch_date < 20191010
1
code is  002364
select * from stock_info where code='002364' and launch_date < 20191010
1
code is  002365
select * from stock_info where code='002365' and launch_date < 20191010
1
code is  002366
select * from stock_info where code='002366' and launch_date < 20191010
1
code is  002367
select * from stock_info where code='002367' and launch_date < 20191010
1
code is  002368
select * from stock_info where code='002368' and launch_date < 20191010
1
code is  002369
select * from stock_info where code='002369' and launch_date < 20191010
1
code is  002370
select * from stock_info where code='002370' and launch_date < 20191010
1
code is  002371
select * from stock_info where code='002371' and launch_date < 20191010
1
code is  002372
select * from stock_info where code='002372' and launch_date < 20191010
1
code is  002373
select * from stock_info where code='002373' and launch_date < 20191010
1
code is  002374
select * from stock_info where code='002374' and launch_date < 20191010
1
code is  002375
select * from stock_info where code='002375' and launch_date < 20191010
1
code is  002376
select * from stock_info where code='002376' and launch_date < 20191010
1
code is  002377
select * from stock_info where code='002377' and launch_date < 20191010
1
code is  002378
select * from stock_info where code='002378' and launch_date < 20191010
1
code is  002379
select * from stock_info where code='002379' and launch_date < 20191010
1
code is  002380
select * from stock_info where code='002380' and launch_date < 20191010
1
code is  002381
select * from stock_info where code='002381' and launch_date < 20191010
1
code is  002382
select * from stock_info where code='002382' and launch_date < 20191010
1
code is  002383
select * from stock_info where code='002383' and launch_date < 20191010
1
code is  002384
select * from stock_info where code='002384' and launch_date < 20191010
1
code is  002385
select * from stock_info where code='002385' and launch_date < 20191010
1
code is  002386
select * from stock_info where code='002386' and launch_date < 20191010
1
code is  002387
select * from stock_info where code='002387' and launch_date < 20191010
1
code is  002388
select * from stock_info where code='002388' and launch_date < 20191010
1
code is  002389
select * from stock_info where code='002389' and launch_date < 20191010
1
code is  002390
select * from stock_info where code='002390' and launch_date < 20191010
1
code is  002391
select * from stock_info where code='002391' and launch_date < 20191010
1
code is  002392
select * from stock_info where code='002392' and launch_date < 20191010
1
code is  002393
select * from stock_info where code='002393' and launch_date < 20191010
1
code is  002394
select * from stock_info where code='002394' and launch_date < 20191010
1
code is  002395
select * from stock_info where code='002395' and launch_date < 20191010
1
code is  002396
select * from stock_info where code='002396' and launch_date < 20191010
1
code is  002397
select * from stock_info where code='002397' and launch_date < 20191010
1
code is  002398
select * from stock_info where code='002398' and launch_date < 20191010
1
code is  002399
select * from stock_info where code='002399' and launch_date < 20191010
1
code is  002400
select * from stock_info where code='002400' and launch_date < 20191010
1
code is  002401
select * from stock_info where code='002401' and launch_date < 20191010
1
code is  002402
select * from stock_info where code='002402' and launch_date < 20191010
1
code is  002403
select * from stock_info where code='002403' and launch_date < 20191010
1
code is  002404
select * from stock_info where code='002404' and launch_date < 20191010
1
code is  002405
select * from stock_info where code='002405' and launch_date < 20191010
1
code is  002406
select * from stock_info where code='002406' and launch_date < 20191010
1
code is  002407
select * from stock_info where code='002407' and launch_date < 20191010
1
code is  002408
select * from stock_info where code='002408' and launch_date < 20191010
1
code is  002409
select * from stock_info where code='002409' and launch_date < 20191010
1
code is  002410
select * from stock_info where code='002410' and launch_date < 20191010
1
code is  002411
select * from stock_info where code='002411' and launch_date < 20191010
1
code is  002412
select * from stock_info where code='002412' and launch_date < 20191010
1
code is  002413
select * from stock_info where code='002413' and launch_date < 20191010
1
code is  002414
select * from stock_info where code='002414' and launch_date < 20191010
1
code is  002415
select * from stock_info where code='002415' and launch_date < 20191010
1
code is  002416
select * from stock_info where code='002416' and launch_date < 20191010
1
code is  002417
select * from stock_info where code='002417' and launch_date < 20191010
1
code is  002418
select * from stock_info where code='002418' and launch_date < 20191010
1
code is  002419
select * from stock_info where code='002419' and launch_date < 20191010
1
code is  002420
select * from stock_info where code='002420' and launch_date < 20191010
1
code is  002421
select * from stock_info where code='002421' and launch_date < 20191010
1
code is  002422
select * from stock_info where code='002422' and launch_date < 20191010
1
code is  002423
select * from stock_info where code='002423' and launch_date < 20191010
1
code is  002424
select * from stock_info where code='002424' and launch_date < 20191010
1
code is  002425
select * from stock_info where code='002425' and launch_date < 20191010
1
code is  002426
select * from stock_info where code='002426' and launch_date < 20191010
1
code is  002427
select * from stock_info where code='002427' and launch_date < 20191010
1
code is  002428
select * from stock_info where code='002428' and launch_date < 20191010
1
code is  002429
select * from stock_info where code='002429' and launch_date < 20191010
1
code is  002430
select * from stock_info where code='002430' and launch_date < 20191010
1
code is  002431
select * from stock_info where code='002431' and launch_date < 20191010
1
code is  002432
select * from stock_info where code='002432' and launch_date < 20191010
1
code is  002433
select * from stock_info where code='002433' and launch_date < 20191010
1
code is  002434
select * from stock_info where code='002434' and launch_date < 20191010
1
code is  002435
select * from stock_info where code='002435' and launch_date < 20191010
1
code is  002436
select * from stock_info where code='002436' and launch_date < 20191010
1
code is  002437
select * from stock_info where code='002437' and launch_date < 20191010
1

code is  002438
select * from stock_info where code='002438' and launch_date < 20191010
1
code is  002439
select * from stock_info where code='002439' and launch_date < 20191010
1
code is  002440
select * from stock_info where code='002440' and launch_date < 20191010
1
code is  002441
select * from stock_info where code='002441' and launch_date < 20191010
1
code is  002442
select * from stock_info where code='002442' and launch_date < 20191010
1
code is  002443
select * from stock_info where code='002443' and launch_date < 20191010
1
code is  002444
select * from stock_info where code='002444' and launch_date < 20191010
1
code is  002445
select * from stock_info where code='002445' and launch_date < 20191010
1
code is  002446
select * from stock_info where code='002446' and launch_date < 20191010
1
code is  002447
select * from stock_info where code='002447' and launch_date < 20191010
1
code is  002448
select * from stock_info where code='002448' and launch_date < 20191010
1
code is  002449
select * from stock_info where code='002449' and launch_date < 20191010
1
code is  002450
select * from stock_info where code='002450' and launch_date < 20191010
1
code is  002451
select * from stock_info where code='002451' and launch_date < 20191010
1
code is  002452
select * from stock_info where code='002452' and launch_date < 20191010
1
code is  002453
select * from stock_info where code='002453' and launch_date < 20191010
1
code is  002454
select * from stock_info where code='002454' and launch_date < 20191010
1
code is  002455
select * from stock_info where code='002455' and launch_date < 20191010
1
code is  002456
select * from stock_info where code='002456' and launch_date < 20191010
1
code is  002457
select * from stock_info where code='002457' and launch_date < 20191010
1
code is  002458
select * from stock_info where code='002458' and launch_date < 20191010
1
code is  002459
select * from stock_info where code='002459' and launch_date < 20191010
1
code is  002460
select * from stock_info where code='002460' and launch_date < 20191010
1
code is  002461
select * from stock_info where code='002461' and launch_date < 20191010
1
code is  002462
select * from stock_info where code='002462' and launch_date < 20191010
1
code is  002463
select * from stock_info where code='002463' and launch_date < 20191010
1
code is  002464
select * from stock_info where code='002464' and launch_date < 20191010
1
code is  002465
select * from stock_info where code='002465' and launch_date < 20191010
1
code is  002466
select * from stock_info where code='002466' and launch_date < 20191010
1
code is  002467
select * from stock_info where code='002467' and launch_date < 20191010
1
code is  002468
select * from stock_info where code='002468' and launch_date < 20191010
1
code is  002469
select * from stock_info where code='002469' and launch_date < 20191010
1
code is  002470
select * from stock_info where code='002470' and launch_date < 20191010
1
code is  002471
select * from stock_info where code='002471' and launch_date < 20191010
1
code is  002472
select * from stock_info where code='002472' and launch_date < 20191010
1
code is  002473
select * from stock_info where code='002473' and launch_date < 20191010
1
code is  002474
select * from stock_info where code='002474' and launch_date < 20191010
1
code is  002475
select * from stock_info where code='002475' and launch_date < 20191010
1
code is  002476
select * from stock_info where code='002476' and launch_date < 20191010
1
code is  002478
select * from stock_info where code='002478' and launch_date < 20191010
1
code is  002479
select * from stock_info where code='002479' and launch_date < 20191010
1
code is  002480
select * from stock_info where code='002480' and launch_date < 20191010
1
code is  002481
select * from stock_info where code='002481' and launch_date < 20191010
1
code is  002482
select * from stock_info where code='002482' and launch_date < 20191010
1
code is  002483
select * from stock_info where code='002483' and launch_date < 20191010
1
code is  002484
select * from stock_info where code='002484' and launch_date < 20191010
1
code is  002485
select * from stock_info where code='002485' and launch_date < 20191010
1
code is  002486
select * from stock_info where code='002486' and launch_date < 20191010
1
code is  002487
select * from stock_info where code='002487' and launch_date < 20191010
1
code is  002488
select * from stock_info where code='002488' and launch_date < 20191010
1
code is  002489
select * from stock_info where code='002489' and launch_date < 20191010
1
code is  002490
select * from stock_info where code='002490' and launch_date < 20191010
1
code is  002491
select * from stock_info where code='002491' and launch_date < 20191010
1
code is  002492
select * from stock_info where code='002492' and launch_date < 20191010
1
code is  002493
select * from stock_info where code='002493' and launch_date < 20191010
1
code is  002494
select * from stock_info where code='002494' and launch_date < 20191010
1
code is  002495
select * from stock_info where code='002495' and launch_date < 20191010
1
code is  002496
select * from stock_info where code='002496' and launch_date < 20191010
1
code is  002497
select * from stock_info where code='002497' and launch_date < 20191010
1
code is  002498
select * from stock_info where code='002498' and launch_date < 20191010
1
code is  002499
select * from stock_info where code='002499' and launch_date < 20191010
1
code is  002500
select * from stock_info where code='002500' and launch_date < 20191010
1
code is  002501
select * from stock_info where code='002501' and launch_date < 20191010
1
code is  002502
select * from stock_info where code='002502' and launch_date < 20191010
1
code is  002503
select * from stock_info where code='002503' and launch_date < 20191010
1
code is  002504
select * from stock_info where code='002504' and launch_date < 20191010
1
code is  002505
select * from stock_info where code='002505' and launch_date < 20191010
1
code is  002506
select * from stock_info where code='002506' and launch_date < 20191010
1
code is  002507
select * from stock_info where code='002507' and launch_date < 20191010
1
code is  002508
select * from stock_info where code='002508' and launch_date < 20191010
1
code is  002509
select * from stock_info where code='002509' and launch_date < 20191010
1
code is  002510
select * from stock_info where code='002510' and launch_date < 20191010
1
code is  002511
select * from stock_info where code='002511' and launch_date < 20191010
1
code is  002512
select * from stock_info where code='002512' and launch_date < 20191010
1
code is  002513
select * from stock_info where code='002513' and launch_date < 20191010
1
code is  002514
select * from stock_info where code='002514' and launch_date < 20191010
1
code is  002515
select * from stock_info where code='002515' and launch_date < 20191010
1
code is  002516
select * from stock_info where code='002516' and launch_date < 20191010
1
code is  002517
select * from stock_info where code='002517' and launch_date < 20191010
1
code is  002518
select * from stock_info where code='002518' and launch_date < 20191010
1
code is  002519
select * from stock_info where code='002519' and launch_date < 20191010
1
code is  002520
select * from stock_info where code='002520' and launch_date < 20191010
1
code is  002521
select * from stock_info where code='002521' and launch_date < 20191010
1
code is  002522
select * from stock_info where code='002522' and launch_date < 20191010
1
code is  002523
select * from stock_info where code='002523' and launch_date < 20191010
1
code is  002524
select * from stock_info where code='002524' and launch_date < 20191010
1
code is  002526
select * from stock_info where code='002526' and launch_date < 20191010
1
code is  002527
select * from stock_info where code='002527' and launch_date < 20191010
1
code is  002528
select * from stock_info where code='002528' and launch_date < 20191010
1
code is  002529
select * from stock_info where code='002529' and launch_date < 20191010
1
code is  002530
select * from stock_info where code='002530' and launch_date < 20191010
1
code is  002531
select * from stock_info where code='002531' and launch_date < 20191010
1
code is  002532
select * from stock_info where code='002532' and launch_date < 20191010
1
code is  002533
select * from stock_info where code='002533' and launch_date < 20191010
1
code is  002534
select * from stock_info where code='002534' and launch_date < 20191010
1
code is  002535
select * from stock_info where code='002535' and launch_date < 20191010
1
code is  002536
select * from stock_info where code='002536' and launch_date < 20191010
1
code is  002537
select * from stock_info where code='002537' and launch_date < 20191010
1
code is  002538
select * from stock_info where code='002538' and launch_date < 20191010
1
code is  002539
select * from stock_info where code='002539' and launch_date < 20191010
1
code is  002540
select * from stock_info where code='002540' and launch_date < 20191010
1
code is  002541
select * from stock_info where code='002541' and launch_date < 20191010
1
code is  002542
select * from stock_info where code='002542' and launch_date < 20191010

1
code is  002543
select * from stock_info where code='002543' and launch_date < 20191010
1
code is  002544
select * from stock_info where code='002544' and launch_date < 20191010
1
code is  002545
select * from stock_info where code='002545' and launch_date < 20191010
1
code is  002546
select * from stock_info where code='002546' and launch_date < 20191010
1
code is  002547
select * from stock_info where code='002547' and launch_date < 20191010
1
code is  002548
select * from stock_info where code='002548' and launch_date < 20191010
1
code is  002549
select * from stock_info where code='002549' and launch_date < 20191010
1
code is  002550
select * from stock_info where code='002550' and launch_date < 20191010
1
code is  002551
select * from stock_info where code='002551' and launch_date < 20191010
1
code is  002552
select * from stock_info where code='002552' and launch_date < 20191010
1
code is  002553
select * from stock_info where code='002553' and launch_date < 20191010
1
code is  002554
select * from stock_info where code='002554' and launch_date < 20191010
1
code is  002555
select * from stock_info where code='002555' and launch_date < 20191010
1
code is  002556
select * from stock_info where code='002556' and launch_date < 20191010
1
code is  002557
select * from stock_info where code='002557' and launch_date < 20191010
1
code is  002558
select * from stock_info where code='002558' and launch_date < 20191010
1
code is  002559
select * from stock_info where code='002559' and launch_date < 20191010
1
code is  002560
select * from stock_info where code='002560' and launch_date < 20191010
1
code is  002561
select * from stock_info where code='002561' and launch_date < 20191010
1
code is  002562
select * from stock_info where code='002562' and launch_date < 20191010
1
code is  002563
select * from stock_info where code='002563' and launch_date < 20191010
1
code is  002564
select * from stock_info where code='002564' and launch_date < 20191010
1
code is  002565
select * from stock_info where code='002565' and launch_date < 20191010
1
code is  002566
select * from stock_info where code='002566' and launch_date < 20191010
1
code is  002567
select * from stock_info where code='002567' and launch_date < 20191010
1
code is  002568
select * from stock_info where code='002568' and launch_date < 20191010
1
code is  002569
select * from stock_info where code='002569' and launch_date < 20191010
1
code is  002570
select * from stock_info where code='002570' and launch_date < 20191010
1
code is  002571
select * from stock_info where code='002571' and launch_date < 20191010
1
code is  002572
select * from stock_info where code='002572' and launch_date < 20191010
1
code is  002573
select * from stock_info where code='002573' and launch_date < 20191010
1
code is  002574
select * from stock_info where code='002574' and launch_date < 20191010
1
code is  002575
select * from stock_info where code='002575' and launch_date < 20191010
1
code is  002576
select * from stock_info where code='002576' and launch_date < 20191010
1
code is  002577
select * from stock_info where code='002577' and launch_date < 20191010
1
code is  002578
select * from stock_info where code='002578' and launch_date < 20191010
1
code is  002579
select * from stock_info where code='002579' and launch_date < 20191010
1
code is  002580
select * from stock_info where code='002580' and launch_date < 20191010
1
code is  002581
select * from stock_info where code='002581' and launch_date < 20191010
1
code is  002582
select * from stock_info where code='002582' and launch_date < 20191010
1
code is  002583
select * from stock_info where code='002583' and launch_date < 20191010
1
code is  002584
select * from stock_info where code='002584' and launch_date < 20191010
1
code is  002585
select * from stock_info where code='002585' and launch_date < 20191010
1
code is  002586
select * from stock_info where code='002586' and launch_date < 20191010
1
code is  002587
select * from stock_info where code='002587' and launch_date < 20191010
1
code is  002588
select * from stock_info where code='002588' and launch_date < 20191010
1
code is  002589
select * from stock_info where code='002589' and launch_date < 20191010
1
code is  002590
select * from stock_info where code='002590' and launch_date < 20191010
1
code is  002591
select * from stock_info where code='002591' and launch_date < 20191010
1
code is  002592
select * from stock_info where code='002592' and launch_date < 20191010
1
code is  002593
select * from stock_info where code='002593' and launch_date < 20191010
1
code is  002594
select * from stock_info where code='002594' and launch_date < 20191010
1
code is  002595
select * from stock_info where code='002595' and launch_date < 20191010
1
code is  002596
select * from stock_info where code='002596' and launch_date < 20191010
1
code is  002597
select * from stock_info where code='002597' and launch_date < 20191010
1
code is  002598
select * from stock_info where code='002598' and launch_date < 20191010
1
code is  002599
select * from stock_info where code='002599' and launch_date < 20191010
1
code is  002600
select * from stock_info where code='002600' and launch_date < 20191010
1
code is  002601
select * from stock_info where code='002601' and launch_date < 20191010
1
code is  002602
select * from stock_info where code='002602' and launch_date < 20191010
1
code is  002603
select * from stock_info where code='002603' and launch_date < 20191010
1
code is  002604
select * from stock_info where code='002604' and launch_date < 20191010
1
code is  002605
select * from stock_info where code='002605' and launch_date < 20191010
1
code is  002606
select * from stock_info where code='002606' and launch_date < 20191010
1
code is  002607
select * from stock_info where code='002607' and launch_date < 20191010
1
code is  002608
select * from stock_info where code='002608' and launch_date < 20191010
1
code is  002609
select * from stock_info where code='002609' and launch_date < 20191010
1
code is  002610
select * from stock_info where code='002610' and launch_date < 20191010
1
code is  002611
select * from stock_info where code='002611' and launch_date < 20191010
1
code is  002612
select * from stock_info where code='002612' and launch_date < 20191010
1
code is  002613
select * from stock_info where code='002613' and launch_date < 20191010
1
code is  002614
select * from stock_info where code='002614' and launch_date < 20191010
1
code is  002615
select * from stock_info where code='002615' and launch_date < 20191010
1
code is  002616
select * from stock_info where code='002616' and launch_date < 20191010
1
code is  002617
select * from stock_info where code='002617' and launch_date < 20191010
1
code is  002618
select * from stock_info where code='002618' and launch_date < 20191010
1
code is  002619
select * from stock_info where code='002619' and launch_date < 20191010
1
code is  002620
select * from stock_info where code='002620' and launch_date < 20191010
1
code is  002621
select * from stock_info where code='002621' and launch_date < 20191010
1
code is  002622
select * from stock_info where code='002622' and launch_date < 20191010
1
code is  002623
select * from stock_info where code='002623' and launch_date < 20191010
1
code is  002624
select * from stock_info where code='002624' and launch_date < 20191010
1
code is  002625
select * from stock_info where code='002625' and launch_date < 20191010
1
code is  002626
select * from stock_info where code='002626' and launch_date < 20191010
1
code is  002627
select * from stock_info where code='002627' and launch_date < 20191010
1
code is  002628
select * from stock_info where code='002628' and launch_date < 20191010
1
code is  002629
select * from stock_info where code='002629' and launch_date < 20191010
1
code is  002630
select * from stock_info where code='002630' and launch_date < 20191010
1
code is  002631
select * from stock_info where code='002631' and launch_date < 20191010
1
code is  002632
select * from stock_info where code='002632' and launch_date < 20191010
1
code is  002633
select * from stock_info where code='002633' and launch_date < 20191010
1
code is  002634
select * from stock_info where code='002634' and launch_date < 20191010
1
code is  002635
select * from stock_info where code='002635' and launch_date < 20191010
1
code is  002636
select * from stock_info where code='002636' and launch_date < 20191010
1
code is  002637
select * from stock_info where code='002637' and launch_date < 20191010
1
code is  002638
select * from stock_info where code='002638' and launch_date < 20191010
1
code is  002639
select * from stock_info where code='002639' and launch_date < 20191010
1
code is  002640
select * from stock_info where code='002640' and launch_date < 20191010
1
code is  002641
select * from stock_info where code='002641' and launch_date < 20191010
1
code is  002642
select * from stock_info where code='002642' and launch_date < 20191010
1
code is  002643
select * from stock_info where code='002643' and launch_date < 20191010
1
code is  002644
select * from stock_info where code='002644' and launch_date < 20191010
1
code is  002645
select * from stock_info where code='002645' and launch_date < 20191010
1
code is  002646
select * from stock_info where code='002646' and launch_date < 20191010
1
code is  002647
select * from stock_info where code='002647' and launch_date < 20191010
1
code is  002648

select * from stock_info where code='002648' and launch_date < 20191010
1
code is  002649
select * from stock_info where code='002649' and launch_date < 20191010
1
code is  002650
select * from stock_info where code='002650' and launch_date < 20191010
1
code is  002651
select * from stock_info where code='002651' and launch_date < 20191010
1
code is  002652
select * from stock_info where code='002652' and launch_date < 20191010
1
code is  002653
select * from stock_info where code='002653' and launch_date < 20191010
1
code is  002654
select * from stock_info where code='002654' and launch_date < 20191010
1
code is  002655
select * from stock_info where code='002655' and launch_date < 20191010
1
code is  002656
select * from stock_info where code='002656' and launch_date < 20191010
1
code is  002657
select * from stock_info where code='002657' and launch_date < 20191010
1
code is  002658
select * from stock_info where code='002658' and launch_date < 20191010
1
code is  002659
select * from stock_info where code='002659' and launch_date < 20191010
1
code is  002660
select * from stock_info where code='002660' and launch_date < 20191010
1
code is  002661
select * from stock_info where code='002661' and launch_date < 20191010
1
code is  002662
select * from stock_info where code='002662' and launch_date < 20191010
1
code is  002663
select * from stock_info where code='002663' and launch_date < 20191010
1
code is  002664
select * from stock_info where code='002664' and launch_date < 20191010
1
code is  002665
select * from stock_info where code='002665' and launch_date < 20191010
1
code is  002666
select * from stock_info where code='002666' and launch_date < 20191010
1
code is  002667
select * from stock_info where code='002667' and launch_date < 20191010
1
code is  002668
select * from stock_info where code='002668' and launch_date < 20191010
1
code is  002669
select * from stock_info where code='002669' and launch_date < 20191010
1
code is  002670
select * from stock_info where code='002670' and launch_date < 20191010
1
code is  002671
select * from stock_info where code='002671' and launch_date < 20191010
1
code is  002672
select * from stock_info where code='002672' and launch_date < 20191010
1
code is  002673
select * from stock_info where code='002673' and launch_date < 20191010
1
code is  002674
select * from stock_info where code='002674' and launch_date < 20191010
1
code is  002675
select * from stock_info where code='002675' and launch_date < 20191010
1
code is  002676
select * from stock_info where code='002676' and launch_date < 20191010
1
code is  002677
select * from stock_info where code='002677' and launch_date < 20191010
1
code is  002678
select * from stock_info where code='002678' and launch_date < 20191010
1
code is  002679
select * from stock_info where code='002679' and launch_date < 20191010
1
code is  002681
select * from stock_info where code='002681' and launch_date < 20191010
1
code is  002682
select * from stock_info where code='002682' and launch_date < 20191010
1
code is  002683
select * from stock_info where code='002683' and launch_date < 20191010
1
code is  002684
select * from stock_info where code='002684' and launch_date < 20191010
1
code is  002685
select * from stock_info where code='002685' and launch_date < 20191010
1
code is  002686
select * from stock_info where code='002686' and launch_date < 20191010
1
code is  002687
select * from stock_info where code='002687' and launch_date < 20191010
1
code is  002688
select * from stock_info where code='002688' and launch_date < 20191010
1
code is  002689
select * from stock_info where code='002689' and launch_date < 20191010
1
code is  002690
select * from stock_info where code='002690' and launch_date < 20191010
1
code is  002691
select * from stock_info where code='002691' and launch_date < 20191010
1
code is  002692
select * from stock_info where code='002692' and launch_date < 20191010
1
code is  002693
select * from stock_info where code='002693' and launch_date < 20191010
1
code is  002694
select * from stock_info where code='002694' and launch_date < 20191010
1
code is  002695
select * from stock_info where code='002695' and launch_date < 20191010
1
code is  002696
select * from stock_info where code='002696' and launch_date < 20191010
1
code is  002697
select * from stock_info where code='002697' and launch_date < 20191010
1
code is  002698
select * from stock_info where code='002698' and launch_date < 20191010
1
code is  002699
select * from stock_info where code='002699' and launch_date < 20191010
1
code is  002700
select * from stock_info where code='002700' and launch_date < 20191010
1
code is  002701
select * from stock_info where code='002701' and launch_date < 20191010
1
code is  002702
select * from stock_info where code='002702' and launch_date < 20191010
1
code is  002703
select * from stock_info where code='002703' and launch_date < 20191010
1
code is  002705
select * from stock_info where code='002705' and launch_date < 20191010
1
code is  002706
select * from stock_info where code='002706' and launch_date < 20191010
1
code is  002707
select * from stock_info where code='002707' and launch_date < 20191010
1
code is  002708
select * from stock_info where code='002708' and launch_date < 20191010
1
code is  002709
select * from stock_info where code='002709' and launch_date < 20191010
1
code is  002711
select * from stock_info where code='002711' and launch_date < 20191010
1
code is  002712
select * from stock_info where code='002712' and launch_date < 20191010
1
code is  002713
select * from stock_info where code='002713' and launch_date < 20191010
1
code is  002714
select * from stock_info where code='002714' and launch_date < 20191010
1
code is  002715
select * from stock_info where code='002715' and launch_date < 20191010
1
code is  002716
select * from stock_info where code='002716' and launch_date < 20191010
1
code is  002717
select * from stock_info where code='002717' and launch_date < 20191010
1
code is  002718
select * from stock_info where code='002718' and launch_date < 20191010
1
code is  002719
select * from stock_info where code='002719' and launch_date < 20191010
1
code is  002721
select * from stock_info where code='002721' and launch_date < 20191010
1
code is  002722
select * from stock_info where code='002722' and launch_date < 20191010
1
code is  002723
select * from stock_info where code='002723' and launch_date < 20191010
1
code is  002724
select * from stock_info where code='002724' and launch_date < 20191010
1
code is  002725
select * from stock_info where code='002725' and launch_date < 20191010
1
code is  002726
select * from stock_info where code='002726' and launch_date < 20191010
1
code is  002727
select * from stock_info where code='002727' and launch_date < 20191010
1
code is  002728
select * from stock_info where code='002728' and launch_date < 20191010
1
code is  002729
select * from stock_info where code='002729' and launch_date < 20191010
1
code is  002730
select * from stock_info where code='002730' and launch_date < 20191010
1
code is  002731
select * from stock_info where code='002731' and launch_date < 20191010
1
code is  002732
select * from stock_info where code='002732' and launch_date < 20191010
1
code is  002733
select * from stock_info where code='002733' and launch_date < 20191010
1
code is  002734
select * from stock_info where code='002734' and launch_date < 20191010
1
code is  002735
select * from stock_info where code='002735' and launch_date < 20191010
1
code is  002736
select * from stock_info where code='002736' and launch_date < 20191010
1
code is  002737
select * from stock_info where code='002737' and launch_date < 20191010
1
code is  002738
select * from stock_info where code='002738' and launch_date < 20191010
1
code is  002739
select * from stock_info where code='002739' and launch_date < 20191010
1
code is  002740
select * from stock_info where code='002740' and launch_date < 20191010
1
code is  002741
select * from stock_info where code='002741' and launch_date < 20191010
1
code is  002742
select * from stock_info where code='002742' and launch_date < 20191010
1
code is  002743
select * from stock_info where code='002743' and launch_date < 20191010
1
code is  002745
select * from stock_info where code='002745' and launch_date < 20191010
1
code is  002746
select * from stock_info where code='002746' and launch_date < 20191010
1
code is  002747
select * from stock_info where code='002747' and launch_date < 20191010
1
code is  002748
select * from stock_info where code='002748' and launch_date < 20191010
1
code is  002749
select * from stock_info where code='002749' and launch_date < 20191010
1
code is  002750
select * from stock_info where code='002750' and launch_date < 20191010
1
code is  002751
select * from stock_info where code='002751' and launch_date < 20191010
1
code is  002752
select * from stock_info where code='002752' and launch_date < 20191010
1
code is  002753
select * from stock_info where code='002753' and launch_date < 20191010

1
code is  002755
select * from stock_info where code='002755' and launch_date < 20191010
1
code is  002756
select * from stock_info where code='002756' and launch_date < 20191010
1
code is  002757
select * from stock_info where code='002757' and launch_date < 20191010
1
code is  002758
select * from stock_info where code='002758' and launch_date < 20191010
1
code is  002759
select * from stock_info where code='002759' and launch_date < 20191010
1
code is  002760
select * from stock_info where code='002760' and launch_date < 20191010
1
code is  002761
select * from stock_info where code='002761' and launch_date < 20191010
1
code is  002762
select * from stock_info where code='002762' and launch_date < 20191010
1
code is  002763
select * from stock_info where code='002763' and launch_date < 20191010
1
code is  002765
select * from stock_info where code='002765' and launch_date < 20191010
1
code is  002766
select * from stock_info where code='002766' and launch_date < 20191010
1
code is  002767
select * from stock_info where code='002767' and launch_date < 20191010
1
code is  002768
select * from stock_info where code='002768' and launch_date < 20191010
1
code is  002769
select * from stock_info where code='002769' and launch_date < 20191010
1
code is  002770
select * from stock_info where code='002770' and launch_date < 20191010
1
code is  002771
select * from stock_info where code='002771' and launch_date < 20191010
1
code is  002772
select * from stock_info where code='002772' and launch_date < 20191010
1
code is  002773
select * from stock_info where code='002773' and launch_date < 20191010
1
code is  002774
select * from stock_info where code='002774' and launch_date < 20191010
1
code is  002775
select * from stock_info where code='002775' and launch_date < 20191010
1
code is  002776
select * from stock_info where code='002776' and launch_date < 20191010
1
code is  002777
select * from stock_info where code='002777' and launch_date < 20191010
1
code is  002778
select * from stock_info where code='002778' and launch_date < 20191010
1
code is  002779
select * from stock_info where code='002779' and launch_date < 20191010
1
code is  002780
select * from stock_info where code='002780' and launch_date < 20191010
1
code is  002781
select * from stock_info where code='002781' and launch_date < 20191010
1
code is  002782
select * from stock_info where code='002782' and launch_date < 20191010
1
code is  002783
select * from stock_info where code='002783' and launch_date < 20191010
1
code is  002785
select * from stock_info where code='002785' and launch_date < 20191010
1
code is  002786
select * from stock_info where code='002786' and launch_date < 20191010
1
code is  002787
select * from stock_info where code='002787' and launch_date < 20191010
1
code is  002788
select * from stock_info where code='002788' and launch_date < 20191010
1
code is  002789
select * from stock_info where code='002789' and launch_date < 20191010
1
code is  002790
select * from stock_info where code='002790' and launch_date < 20191010
1
code is  002791
select * from stock_info where code='002791' and launch_date < 20191010
1
code is  002792
select * from stock_info where code='002792' and launch_date < 20191010
1
code is  002793
select * from stock_info where code='002793' and launch_date < 20191010
1
code is  002795
select * from stock_info where code='002795' and launch_date < 20191010
1
code is  002796
select * from stock_info where code='002796' and launch_date < 20191010
1
code is  002797
select * from stock_info where code='002797' and launch_date < 20191010
1
code is  002798
select * from stock_info where code='002798' and launch_date < 20191010
1
code is  002799
select * from stock_info where code='002799' and launch_date < 20191010
1
code is  002800
select * from stock_info where code='002800' and launch_date < 20191010
1
code is  002801
select * from stock_info where code='002801' and launch_date < 20191010
1
code is  002802
select * from stock_info where code='002802' and launch_date < 20191010
1
code is  002803
select * from stock_info where code='002803' and launch_date < 20191010
1
code is  002805
select * from stock_info where code='002805' and launch_date < 20191010
1
code is  002806
select * from stock_info where code='002806' and launch_date < 20191010
1
code is  002807
select * from stock_info where code='002807' and launch_date < 20191010
1
code is  002808
select * from stock_info where code='002808' and launch_date < 20191010
1
code is  002809
select * from stock_info where code='002809' and launch_date < 20191010
1
code is  002810
select * from stock_info where code='002810' and launch_date < 20191010
1
code is  002811
select * from stock_info where code='002811' and launch_date < 20191010
1
code is  002812
select * from stock_info where code='002812' and launch_date < 20191010
1
code is  002813
select * from stock_info where code='002813' and launch_date < 20191010
1
code is  002815
select * from stock_info where code='002815' and launch_date < 20191010
1
code is  002816
select * from stock_info where code='002816' and launch_date < 20191010
1
code is  002817
select * from stock_info where code='002817' and launch_date < 20191010
1
code is  002818
select * from stock_info where code='002818' and launch_date < 20191010
1
code is  002819
select * from stock_info where code='002819' and launch_date < 20191010
1
code is  002820
select * from stock_info where code='002820' and launch_date < 20191010
1
code is  002821
select * from stock_info where code='002821' and launch_date < 20191010
1
code is  002822
select * from stock_info where code='002822' and launch_date < 20191010
1
code is  002823
select * from stock_info where code='002823' and launch_date < 20191010
1
code is  002824
select * from stock_info where code='002824' and launch_date < 20191010
1
code is  002825
select * from stock_info where code='002825' and launch_date < 20191010
1
code is  002826
select * from stock_info where code='002826' and launch_date < 20191010
1
code is  002827
select * from stock_info where code='002827' and launch_date < 20191010
1
code is  002828
select * from stock_info where code='002828' and launch_date < 20191010
1
code is  002829
select * from stock_info where code='002829' and launch_date < 20191010
1
code is  002830
select * from stock_info where code='002830' and launch_date < 20191010
1
code is  002831
select * from stock_info where code='002831' and launch_date < 20191010
1
code is  002832
select * from stock_info where code='002832' and launch_date < 20191010
1
code is  002833
select * from stock_info where code='002833' and launch_date < 20191010
1
code is  002835
select * from stock_info where code='002835' and launch_date < 20191010
1
code is  002836
select * from stock_info where code='002836' and launch_date < 20191010
1
code is  002837
select * from stock_info where code='002837' and launch_date < 20191010
1
code is  002838
select * from stock_info where code='002838' and launch_date < 20191010
1
code is  002839
select * from stock_info where code='002839' and launch_date < 20191010
1
code is  002840
select * from stock_info where code='002840' and launch_date < 20191010
1
code is  002841
select * from stock_info where code='002841' and launch_date < 20191010
1
code is  002842
select * from stock_info where code='002842' and launch_date < 20191010
1
code is  002843
select * from stock_info where code='002843' and launch_date < 20191010
1
code is  002845
select * from stock_info where code='002845' and launch_date < 20191010
1
code is  002846
select * from stock_info where code='002846' and launch_date < 20191010
1
code is  002847
select * from stock_info where code='002847' and launch_date < 20191010
1
code is  002848
select * from stock_info where code='002848' and launch_date < 20191010
1
code is  002849
select * from stock_info where code='002849' and launch_date < 20191010
1
code is  002850
select * from stock_info where code='002850' and launch_date < 20191010
1
code is  002851
select * from stock_info where code='002851' and launch_date < 20191010
1
code is  002852
select * from stock_info where code='002852' and launch_date < 20191010
1
code is  002853
select * from stock_info where code='002853' and launch_date < 20191010
1
code is  002855
select * from stock_info where code='002855' and launch_date < 20191010
1
code is  002856
select * from stock_info where code='002856' and launch_date < 20191010
1
code is  002857
select * from stock_info where code='002857' and launch_date < 20191010
1
code is  002858
select * from stock_info where code='002858' and launch_date < 20191010
1
code is  002859
select * from stock_info where code='002859' and launch_date < 20191010
1
code is  002860
select * from stock_info where code='002860' and launch_date < 20191010
1
code is  002861
select * from stock_info where code='002861' and launch_date < 20191010
1
code is  002862
select * from stock_info where code='002862' and launch_date < 20191010
1

code is  002863
select * from stock_info where code='002863' and launch_date < 20191010
1
code is  002864
select * from stock_info where code='002864' and launch_date < 20191010
1
code is  002865
select * from stock_info where code='002865' and launch_date < 20191010
1
code is  002866
select * from stock_info where code='002866' and launch_date < 20191010
1
code is  002867
select * from stock_info where code='002867' and launch_date < 20191010
1
code is  002868
select * from stock_info where code='002868' and launch_date < 20191010
1
code is  002869
select * from stock_info where code='002869' and launch_date < 20191010
1
code is  002870
select * from stock_info where code='002870' and launch_date < 20191010
1
code is  002871
select * from stock_info where code='002871' and launch_date < 20191010
1
code is  002872
select * from stock_info where code='002872' and launch_date < 20191010
1
code is  002873
select * from stock_info where code='002873' and launch_date < 20191010
1
code is  002875
select * from stock_info where code='002875' and launch_date < 20191010
1
code is  002876
select * from stock_info where code='002876' and launch_date < 20191010
1
code is  002877
select * from stock_info where code='002877' and launch_date < 20191010
1
code is  002878
select * from stock_info where code='002878' and launch_date < 20191010
1
code is  002879
select * from stock_info where code='002879' and launch_date < 20191010
1
code is  002880
select * from stock_info where code='002880' and launch_date < 20191010
1
code is  002881
select * from stock_info where code='002881' and launch_date < 20191010
1
code is  002882
select * from stock_info where code='002882' and launch_date < 20191010
1
code is  002883
select * from stock_info where code='002883' and launch_date < 20191010
1
code is  002884
select * from stock_info where code='002884' and launch_date < 20191010
1
code is  002885
select * from stock_info where code='002885' and launch_date < 20191010
1
code is  002886
select * from stock_info where code='002886' and launch_date < 20191010
1
code is  002887
select * from stock_info where code='002887' and launch_date < 20191010
1
code is  002888
select * from stock_info where code='002888' and launch_date < 20191010
1
code is  002889
select * from stock_info where code='002889' and launch_date < 20191010
1
code is  002890
select * from stock_info where code='002890' and launch_date < 20191010
1
code is  002891
select * from stock_info where code='002891' and launch_date < 20191010
1
code is  002892
select * from stock_info where code='002892' and launch_date < 20191010
1
code is  002893
select * from stock_info where code='002893' and launch_date < 20191010
1
code is  002895
select * from stock_info where code='002895' and launch_date < 20191010
1
code is  002896
select * from stock_info where code='002896' and launch_date < 20191010
1
code is  002897
select * from stock_info where code='002897' and launch_date < 20191010
1
code is  002898
select * from stock_info where code='002898' and launch_date < 20191010
1
code is  002899
select * from stock_info where code='002899' and launch_date < 20191010
1
code is  002900
select * from stock_info where code='002900' and launch_date < 20191010
1
code is  002901
select * from stock_info where code='002901' and launch_date < 20191010
1
code is  002902
select * from stock_info where code='002902' and launch_date < 20191010
1
code is  002903
select * from stock_info where code='002903' and launch_date < 20191010
1
code is  002905
select * from stock_info where code='002905' and launch_date < 20191010
1
code is  002906
select * from stock_info where code='002906' and launch_date < 20191010
1
code is  002907
select * from stock_info where code='002907' and launch_date < 20191010
1
code is  002908
select * from stock_info where code='002908' and launch_date < 20191010
1
code is  002909
select * from stock_info where code='002909' and launch_date < 20191010
1
code is  002910
select * from stock_info where code='002910' and launch_date < 20191010
1
code is  002911
select * from stock_info where code='002911' and launch_date < 20191010
1
code is  002912
select * from stock_info where code='002912' and launch_date < 20191010
1
code is  002913
select * from stock_info where code='002913' and launch_date < 20191010
1
code is  002915
select * from stock_info where code='002915' and launch_date < 20191010
1
code is  002916
select * from stock_info where code='002916' and launch_date < 20191010
1
code is  002917
select * from stock_info where code='002917' and launch_date < 20191010
1
code is  002918
select * from stock_info where code='002918' and launch_date < 20191010
1
code is  002919
select * from stock_info where code='002919' and launch_date < 20191010
1
code is  002920
select * from stock_info where code='002920' and launch_date < 20191010
1
code is  002921
select * from stock_info where code='002921' and launch_date < 20191010
1
code is  002922
select * from stock_info where code='002922' and launch_date < 20191010
1
code is  002923
select * from stock_info where code='002923' and launch_date < 20191010
1
code is  002925
select * from stock_info where code='002925' and launch_date < 20191010
1
code is  002926
select * from stock_info where code='002926' and launch_date < 20191010
1
code is  002927
select * from stock_info where code='002927' and launch_date < 20191010
1
code is  002928
select * from stock_info where code='002928' and launch_date < 20191010
1
code is  002929
select * from stock_info where code='002929' and launch_date < 20191010
1
code is  002930
select * from stock_info where code='002930' and launch_date < 20191010
1
code is  002931
select * from stock_info where code='002931' and launch_date < 20191010
1
code is  002932
select * from stock_info where code='002932' and launch_date < 20191010
1
code is  002933
select * from stock_info where code='002933' and launch_date < 20191010
1
code is  002935
select * from stock_info where code='002935' and launch_date < 20191010
1
code is  002936
select * from stock_info where code='002936' and launch_date < 20191010
1
code is  002937
select * from stock_info where code='002937' and launch_date < 20191010
1
code is  002938
select * from stock_info where code='002938' and launch_date < 20191010
1
code is  002939
select * from stock_info where code='002939' and launch_date < 20191010
1
code is  002940
select * from stock_info where code='002940' and launch_date < 20191010
1
code is  002941
select * from stock_info where code='002941' and launch_date < 20191010
1
code is  002942
select * from stock_info where code='002942' and launch_date < 20191010
1
code is  002943
select * from stock_info where code='002943' and launch_date < 20191010
1
code is  002945
select * from stock_info where code='002945' and launch_date < 20191010
1
code is  002946
select * from stock_info where code='002946' and launch_date < 20191010
1
code is  002947
select * from stock_info where code='002947' and launch_date < 20191010
1
code is  002948
select * from stock_info where code='002948' and launch_date < 20191010
1
code is  002949
select * from stock_info where code='002949' and launch_date < 20191010
1
code is  002950
select * from stock_info where code='002950' and launch_date < 20191010
1
code is  002951
select * from stock_info where code='002951' and launch_date < 20191010
1
code is  002952
select * from stock_info where code='002952' and launch_date < 20191010
1
code is  002953
select * from stock_info where code='002953' and launch_date < 20191010
1
code is  002955
select * from stock_info where code='002955' and launch_date < 20191010
1
code is  002956
select * from stock_info where code='002956' and launch_date < 20191010
1
code is  002957
select * from stock_info where code='002957' and launch_date < 20191010
1
code is  002958
select * from stock_info where code='002958' and launch_date < 20191010
1
code is  002959
select * from stock_info where code='002959' and launch_date < 20191010
1
code is  002960
select * from stock_info where code='002960' and launch_date < 20191010
1
code is  002961
select * from stock_info where code='002961' and launch_date < 20191010
1
code is  002962
select * from stock_info where code='002962' and launch_date < 20191010
1
code is  002963
select * from stock_info where code='002963' and launch_date < 20191010
0
code is  002965
select * from stock_info where code='002965' and launch_date < 20191010
0
code is  002966
select * from stock_info where code='002966' and launch_date < 20191010
1
code is  002967
select * from stock_info where code='002967' and launch_date < 20191010
0
code is  003816
select * from stock_info where code='003816' and launch_date < 20191010
1
code is  300001
select * from stock_info where code='300001' and launch_date < 20191010
1
code is  300002
select * from stock_info where code='300002' and launch_date < 20191010

1
code is  300003
select * from stock_info where code='300003' and launch_date < 20191010
1
code is  300004
select * from stock_info where code='300004' and launch_date < 20191010
1
code is  300005
select * from stock_info where code='300005' and launch_date < 20191010
1
code is  300006
select * from stock_info where code='300006' and launch_date < 20191010
1
code is  300007
select * from stock_info where code='300007' and launch_date < 20191010
1
code is  300008
select * from stock_info where code='300008' and launch_date < 20191010
1
code is  300009
select * from stock_info where code='300009' and launch_date < 20191010
1
code is  300010
select * from stock_info where code='300010' and launch_date < 20191010
1
code is  300011
select * from stock_info where code='300011' and launch_date < 20191010
1
code is  300012
select * from stock_info where code='300012' and launch_date < 20191010
1
code is  300013
select * from stock_info where code='300013' and launch_date < 20191010
1
code is  300014
select * from stock_info where code='300014' and launch_date < 20191010
1
code is  300015
select * from stock_info where code='300015' and launch_date < 20191010
1
code is  300016
select * from stock_info where code='300016' and launch_date < 20191010
1
code is  300017
select * from stock_info where code='300017' and launch_date < 20191010
1
code is  300018
select * from stock_info where code='300018' and launch_date < 20191010
1
code is  300019
select * from stock_info where code='300019' and launch_date < 20191010
1
code is  300020
select * from stock_info where code='300020' and launch_date < 20191010
1
code is  300021
select * from stock_info where code='300021' and launch_date < 20191010
1
code is  300022
select * from stock_info where code='300022' and launch_date < 20191010
1
code is  300023
select * from stock_info where code='300023' and launch_date < 20191010
1
code is  300024
select * from stock_info where code='300024' and launch_date < 20191010
1
code is  300025
select * from stock_info where code='300025' and launch_date < 20191010
1
code is  300026
select * from stock_info where code='300026' and launch_date < 20191010
1
code is  300027
select * from stock_info where code='300027' and launch_date < 20191010
1
code is  300029
select * from stock_info where code='300029' and launch_date < 20191010
1
code is  300030
select * from stock_info where code='300030' and launch_date < 20191010
1
code is  300031
select * from stock_info where code='300031' and launch_date < 20191010
1
code is  300032
select * from stock_info where code='300032' and launch_date < 20191010
1
code is  300033
select * from stock_info where code='300033' and launch_date < 20191010
1
code is  300034
select * from stock_info where code='300034' and launch_date < 20191010
1
code is  300035
select * from stock_info where code='300035' and launch_date < 20191010
1
code is  300036
select * from stock_info where code='300036' and launch_date < 20191010
1
code is  300037
select * from stock_info where code='300037' and launch_date < 20191010
1
code is  300038
select * from stock_info where code='300038' and launch_date < 20191010
1
code is  300039
select * from stock_info where code='300039' and launch_date < 20191010
1
code is  300040
select * from stock_info where code='300040' and launch_date < 20191010
1
code is  300041
select * from stock_info where code='300041' and launch_date < 20191010
1
code is  300042
select * from stock_info where code='300042' and launch_date < 20191010
1
code is  300043
select * from stock_info where code='300043' and launch_date < 20191010
1
code is  300044
select * from stock_info where code='300044' and launch_date < 20191010
1
code is  300045
select * from stock_info where code='300045' and launch_date < 20191010
1
code is  300046
select * from stock_info where code='300046' and launch_date < 20191010
1
code is  300047
select * from stock_info where code='300047' and launch_date < 20191010
1
code is  300048
select * from stock_info where code='300048' and launch_date < 20191010
1
code is  300049
select * from stock_info where code='300049' and launch_date < 20191010
1
code is  300050
select * from stock_info where code='300050' and launch_date < 20191010
1
code is  300051
select * from stock_info where code='300051' and launch_date < 20191010
1
code is  300052
select * from stock_info where code='300052' and launch_date < 20191010
1
code is  300053
select * from stock_info where code='300053' and launch_date < 20191010
1
code is  300054
select * from stock_info where code='300054' and launch_date < 20191010
1
code is  300055
select * from stock_info where code='300055' and launch_date < 20191010
1
code is  300056
select * from stock_info where code='300056' and launch_date < 20191010
1
code is  300057
select * from stock_info where code='300057' and launch_date < 20191010
1
code is  300058
select * from stock_info where code='300058' and launch_date < 20191010
1
code is  300059
select * from stock_info where code='300059' and launch_date < 20191010
1
code is  300061
select * from stock_info where code='300061' and launch_date < 20191010
1
code is  300062
select * from stock_info where code='300062' and launch_date < 20191010
1
code is  300063
select * from stock_info where code='300063' and launch_date < 20191010
1
code is  300064
select * from stock_info where code='300064' and launch_date < 20191010
1
code is  300065
select * from stock_info where code='300065' and launch_date < 20191010
1
code is  300066
select * from stock_info where code='300066' and launch_date < 20191010
1
code is  300067
select * from stock_info where code='300067' and launch_date < 20191010
1
code is  300068
select * from stock_info where code='300068' and launch_date < 20191010
1
code is  300069
select * from stock_info where code='300069' and launch_date < 20191010
1
code is  300070
select * from stock_info where code='300070' and launch_date < 20191010
1
code is  300071
select * from stock_info where code='300071' and launch_date < 20191010
1
code is  300072
select * from stock_info where code='300072' and launch_date < 20191010
1
code is  300073
select * from stock_info where code='300073' and launch_date < 20191010
1
code is  300074
select * from stock_info where code='300074' and launch_date < 20191010
1
code is  300075
select * from stock_info where code='300075' and launch_date < 20191010
1
code is  300076
select * from stock_info where code='300076' and launch_date < 20191010
1
code is  300077
select * from stock_info where code='300077' and launch_date < 20191010
1
code is  300078
select * from stock_info where code='300078' and launch_date < 20191010
1
code is  300079
select * from stock_info where code='300079' and launch_date < 20191010
1
code is  300080
select * from stock_info where code='300080' and launch_date < 20191010
1
code is  300081
select * from stock_info where code='300081' and launch_date < 20191010
1
code is  300082
select * from stock_info where code='300082' and launch_date < 20191010
1
code is  300083
select * from stock_info where code='300083' and launch_date < 20191010
1
code is  300084
select * from stock_info where code='300084' and launch_date < 20191010
1
code is  300085
select * from stock_info where code='300085' and launch_date < 20191010
1
code is  300086
select * from stock_info where code='300086' and launch_date < 20191010
1
code is  300087
select * from stock_info where code='300087' and launch_date < 20191010
1
code is  300088
select * from stock_info where code='300088' and launch_date < 20191010
1
code is  300089
select * from stock_info where code='300089' and launch_date < 20191010
1
code is  300090
select * from stock_info where code='300090' and launch_date < 20191010
1
code is  300091
select * from stock_info where code='300091' and launch_date < 20191010
1
code is  300092
select * from stock_info where code='300092' and launch_date < 20191010
1
code is  300093
select * from stock_info where code='300093' and launch_date < 20191010
1
code is  300094
select * from stock_info where code='300094' and launch_date < 20191010
1
code is  300095
select * from stock_info where code='300095' and launch_date < 20191010
1
code is  300096
select * from stock_info where code='300096' and launch_date < 20191010
1
code is  300097
select * from stock_info where code='300097' and launch_date < 20191010
1
code is  300098
select * from stock_info where code='300098' and launch_date < 20191010
1
code is  300099
select * from stock_info where code='300099' and launch_date < 20191010
1
code is  300100
select * from stock_info where code='300100' and launch_date < 20191010
1

code is  300101
select * from stock_info where code='300101' and launch_date < 20191010
1
code is  300102
select * from stock_info where code='300102' and launch_date < 20191010
1
code is  300103
select * from stock_info where code='300103' and launch_date < 20191010
1
code is  300104
select * from stock_info where code='300104' and launch_date < 20191010
1
code is  300105
select * from stock_info where code='300105' and launch_date < 20191010
1
code is  300106
select * from stock_info where code='300106' and launch_date < 20191010
1
code is  300107
select * from stock_info where code='300107' and launch_date < 20191010
1
code is  300108
select * from stock_info where code='300108' and launch_date < 20191010
1
code is  300109
select * from stock_info where code='300109' and launch_date < 20191010
1
code is  300110
select * from stock_info where code='300110' and launch_date < 20191010
1
code is  300111
select * from stock_info where code='300111' and launch_date < 20191010
1
code is  300112
select * from stock_info where code='300112' and launch_date < 20191010
1
code is  300113
select * from stock_info where code='300113' and launch_date < 20191010
1
code is  300114
select * from stock_info where code='300114' and launch_date < 20191010
1
code is  300115
select * from stock_info where code='300115' and launch_date < 20191010
1
code is  300116
select * from stock_info where code='300116' and launch_date < 20191010
1
code is  300117
select * from stock_info where code='300117' and launch_date < 20191010
1
code is  300118
select * from stock_info where code='300118' and launch_date < 20191010
1
code is  300119
select * from stock_info where code='300119' and launch_date < 20191010
1
code is  300120
select * from stock_info where code='300120' and launch_date < 20191010
1
code is  300121
select * from stock_info where code='300121' and launch_date < 20191010
1
code is  300122
select * from stock_info where code='300122' and launch_date < 20191010
1
code is  300123
select * from stock_info where code='300123' and launch_date < 20191010
1
code is  300124
select * from stock_info where code='300124' and launch_date < 20191010
1
code is  300125
select * from stock_info where code='300125' and launch_date < 20191010
1
code is  300126
select * from stock_info where code='300126' and launch_date < 20191010
1
code is  300127
select * from stock_info where code='300127' and launch_date < 20191010
1
code is  300128
select * from stock_info where code='300128' and launch_date < 20191010
1
code is  300129
select * from stock_info where code='300129' and launch_date < 20191010
1
code is  300130
select * from stock_info where code='300130' and launch_date < 20191010
1
code is  300131
select * from stock_info where code='300131' and launch_date < 20191010
1
code is  300132
select * from stock_info where code='300132' and launch_date < 20191010
1
code is  300133
select * from stock_info where code='300133' and launch_date < 20191010
1
code is  300134
select * from stock_info where code='300134' and launch_date < 20191010
1
code is  300135
select * from stock_info where code='300135' and launch_date < 20191010
1
code is  300136
select * from stock_info where code='300136' and launch_date < 20191010
1
code is  300137
select * from stock_info where code='300137' and launch_date < 20191010
1
code is  300138
select * from stock_info where code='300138' and launch_date < 20191010
1
code is  300139
select * from stock_info where code='300139' and launch_date < 20191010
1
code is  300140
select * from stock_info where code='300140' and launch_date < 20191010
1
code is  300141
select * from stock_info where code='300141' and launch_date < 20191010
1
code is  300142
select * from stock_info where code='300142' and launch_date < 20191010
1
code is  300143
select * from stock_info where code='300143' and launch_date < 20191010
1
code is  300144
select * from stock_info where code='300144' and launch_date < 20191010
1
code is  300145
select * from stock_info where code='300145' and launch_date < 20191010
1
code is  300146
select * from stock_info where code='300146' and launch_date < 20191010
1
code is  300147
select * from stock_info where code='300147' and launch_date < 20191010
1
code is  300148
select * from stock_info where code='300148' and launch_date < 20191010
1
code is  300149
select * from stock_info where code='300149' and launch_date < 20191010
1
code is  300150
select * from stock_info where code='300150' and launch_date < 20191010
1
code is  300151
select * from stock_info where code='300151' and launch_date < 20191010
1
code is  300152
select * from stock_info where code='300152' and launch_date < 20191010
1
code is  300153
select * from stock_info where code='300153' and launch_date < 20191010
1
code is  300154
select * from stock_info where code='300154' and launch_date < 20191010
1
code is  300155
select * from stock_info where code='300155' and launch_date < 20191010
1
code is  300156
select * from stock_info where code='300156' and launch_date < 20191010
1
code is  300157
select * from stock_info where code='300157' and launch_date < 20191010
1
code is  300158
select * from stock_info where code='300158' and launch_date < 20191010
1
code is  300159
select * from stock_info where code='300159' and launch_date < 20191010
1
code is  300160
select * from stock_info where code='300160' and launch_date < 20191010
1
code is  300161
select * from stock_info where code='300161' and launch_date < 20191010
1
code is  300162
select * from stock_info where code='300162' and launch_date < 20191010
1
code is  300163
select * from stock_info where code='300163' and launch_date < 20191010
1
code is  300164
select * from stock_info where code='300164' and launch_date < 20191010
1
code is  300165
select * from stock_info where code='300165' and launch_date < 20191010
1
code is  300166
select * from stock_info where code='300166' and launch_date < 20191010
1
code is  300167
select * from stock_info where code='300167' and launch_date < 20191010
1
code is  300168
select * from stock_info where code='300168' and launch_date < 20191010
1
code is  300169
select * from stock_info where code='300169' and launch_date < 20191010
1
code is  300170
select * from stock_info where code='300170' and launch_date < 20191010
1
code is  300171
select * from stock_info where code='300171' and launch_date < 20191010
1
code is  300172
select * from stock_info where code='300172' and launch_date < 20191010
1
code is  300173
select * from stock_info where code='300173' and launch_date < 20191010
1
code is  300174
select * from stock_info where code='300174' and launch_date < 20191010
1
code is  300175
select * from stock_info where code='300175' and launch_date < 20191010
1
code is  300176
select * from stock_info where code='300176' and launch_date < 20191010
1
code is  300177
select * from stock_info where code='300177' and launch_date < 20191010
1
code is  300178
select * from stock_info where code='300178' and launch_date < 20191010
1
code is  300179
select * from stock_info where code='300179' and launch_date < 20191010
1
code is  300180
select * from stock_info where code='300180' and launch_date < 20191010
1
code is  300181
select * from stock_info where code='300181' and launch_date < 20191010
1
code is  300182
select * from stock_info where code='300182' and launch_date < 20191010
1
code is  300183
select * from stock_info where code='300183' and launch_date < 20191010
1
code is  300184
select * from stock_info where code='300184' and launch_date < 20191010
1
code is  300185
select * from stock_info where code='300185' and launch_date < 20191010
1
code is  300187
select * from stock_info where code='300187' and launch_date < 20191010
1
code is  300188
select * from stock_info where code='300188' and launch_date < 20191010
1
code is  300189
select * from stock_info where code='300189' and launch_date < 20191010
1
code is  300190
select * from stock_info where code='300190' and launch_date < 20191010
1
code is  300191
select * from stock_info where code='300191' and launch_date < 20191010
1
code is  300192
select * from stock_info where code='300192' and launch_date < 20191010
1
code is  300193
select * from stock_info where code='300193' and launch_date < 20191010
1
code is  300194
select * from stock_info where code='300194' and launch_date < 20191010
1
code is  300195
select * from stock_info where code='300195' and launch_date < 20191010
1
code is  300196
select * from stock_info where code='300196' and launch_date < 20191010
1
code is  300197
select * from stock_info where code='300197' and launch_date < 20191010
1
code is  300198
select * from stock_info where code='300198' and launch_date < 20191010
1
code is  300199
select * from stock_info where code='300199' and launch_date < 20191010
1
code is  300200
select * from stock_info where code='300200' and launch_date < 20191010
1
code is  300201
select * from stock_info where code='300201' and launch_date < 20191010
1
code is  300202
select * from stock_info where code='300202' and launch_date < 20191010
1
code is  300203
select * from stock_info where code='300203' and launch_date < 20191010
1
code is  300204
select * from stock_info where code='300204' and launch_date < 20191010
1
code is  300205
select * from stock_info where code='300205' and launch_date < 20191010
1
code is  300206
select * from stock_info where code='300206' and launch_date < 20191010
1
code is  300207
select * from stock_info where code='300207' and launch_date < 20191010
1

code is  300208
select * from stock_info where code='300208' and launch_date < 20191010
1
code is  300209
select * from stock_info where code='300209' and launch_date < 20191010
1
code is  300210
select * from stock_info where code='300210' and launch_date < 20191010
1
code is  300211
select * from stock_info where code='300211' and launch_date < 20191010
1
code is  300212
select * from stock_info where code='300212' and launch_date < 20191010
1
code is  300213
select * from stock_info where code='300213' and launch_date < 20191010
1
code is  300214
select * from stock_info where code='300214' and launch_date < 20191010
1
code is  300215
select * from stock_info where code='300215' and launch_date < 20191010
1
code is  300216
select * from stock_info where code='300216' and launch_date < 20191010
1
code is  300217
select * from stock_info where code='300217' and launch_date < 20191010
1
code is  300218
select * from stock_info where code='300218' and launch_date < 20191010
1
code is  300219
select * from stock_info where code='300219' and launch_date < 20191010
1
code is  300220
select * from stock_info where code='300220' and launch_date < 20191010
1
code is  300221
select * from stock_info where code='300221' and launch_date < 20191010
1
code is  300222
select * from stock_info where code='300222' and launch_date < 20191010
1
code is  300223
select * from stock_info where code='300223' and launch_date < 20191010
1
code is  300224
select * from stock_info where code='300224' and launch_date < 20191010
1
code is  300225
select * from stock_info where code='300225' and launch_date < 20191010
1
code is  300226
select * from stock_info where code='300226' and launch_date < 20191010
1
code is  300227
select * from stock_info where code='300227' and launch_date < 20191010
1
code is  300228
select * from stock_info where code='300228' and launch_date < 20191010
1
code is  300229
select * from stock_info where code='300229' and launch_date < 20191010
1
code is  300230
select * from stock_info where code='300230' and launch_date < 20191010
1
code is  300231
select * from stock_info where code='300231' and launch_date < 20191010
1
code is  300232
select * from stock_info where code='300232' and launch_date < 20191010
1
code is  300233
select * from stock_info where code='300233' and launch_date < 20191010
1
code is  300234
select * from stock_info where code='300234' and launch_date < 20191010
1
code is  300235
select * from stock_info where code='300235' and launch_date < 20191010
1
code is  300236
select * from stock_info where code='300236' and launch_date < 20191010
1
code is  300237
select * from stock_info where code='300237' and launch_date < 20191010
1
code is  300238
select * from stock_info where code='300238' and launch_date < 20191010
1
code is  300239
select * from stock_info where code='300239' and launch_date < 20191010
1
code is  300240
select * from stock_info where code='300240' and launch_date < 20191010
1
code is  300241
select * from stock_info where code='300241' and launch_date < 20191010
1
code is  300242
select * from stock_info where code='300242' and launch_date < 20191010
1
code is  300243
select * from stock_info where code='300243' and launch_date < 20191010
1
code is  300244
select * from stock_info where code='300244' and launch_date < 20191010
1
code is  300245
select * from stock_info where code='300245' and launch_date < 20191010
1
code is  300246
select * from stock_info where code='300246' and launch_date < 20191010
1
code is  300247
select * from stock_info where code='300247' and launch_date < 20191010
1
code is  300248
select * from stock_info where code='300248' and launch_date < 20191010
1
code is  300249
select * from stock_info where code='300249' and launch_date < 20191010
1
code is  300250
select * from stock_info where code='300250' and launch_date < 20191010
1
code is  300251
select * from stock_info where code='300251' and launch_date < 20191010
1
code is  300252
select * from stock_info where code='300252' and launch_date < 20191010
1
code is  300253
select * from stock_info where code='300253' and launch_date < 20191010
1
code is  300254
select * from stock_info where code='300254' and launch_date < 20191010
1
code is  300255
select * from stock_info where code='300255' and launch_date < 20191010
1
code is  300256
select * from stock_info where code='300256' and launch_date < 20191010
1
code is  300257
select * from stock_info where code='300257' and launch_date < 20191010
1
code is  300258
select * from stock_info where code='300258' and launch_date < 20191010
1
code is  300259
select * from stock_info where code='300259' and launch_date < 20191010
1
code is  300260
select * from stock_info where code='300260' and launch_date < 20191010
1
code is  300261
select * from stock_info where code='300261' and launch_date < 20191010
1
code is  300262
select * from stock_info where code='300262' and launch_date < 20191010
1
code is  300263
select * from stock_info where code='300263' and launch_date < 20191010
1
code is  300264
select * from stock_info where code='300264' and launch_date < 20191010
1
code is  300265
select * from stock_info where code='300265' and launch_date < 20191010
1
code is  300266
select * from stock_info where code='300266' and launch_date < 20191010
1
code is  300267
select * from stock_info where code='300267' and launch_date < 20191010
1
code is  300268
select * from stock_info where code='300268' and launch_date < 20191010
1
code is  300269
select * from stock_info where code='300269' and launch_date < 20191010
1
code is  300270
select * from stock_info where code='300270' and launch_date < 20191010
1
code is  300271
select * from stock_info where code='300271' and launch_date < 20191010
1
code is  300272
select * from stock_info where code='300272' and launch_date < 20191010
1
code is  300273
select * from stock_info where code='300273' and launch_date < 20191010
1
code is  300274
select * from stock_info where code='300274' and launch_date < 20191010
1
code is  300275
select * from stock_info where code='300275' and launch_date < 20191010
1
code is  300276
select * from stock_info where code='300276' and launch_date < 20191010
1
code is  300277
select * from stock_info where code='300277' and launch_date < 20191010
1
code is  300278
select * from stock_info where code='300278' and launch_date < 20191010
1
code is  300279
select * from stock_info where code='300279' and launch_date < 20191010
1
code is  300280
select * from stock_info where code='300280' and launch_date < 20191010
1
code is  300281
select * from stock_info where code='300281' and launch_date < 20191010
1
code is  300282
select * from stock_info where code='300282' and launch_date < 20191010
1
code is  300283
select * from stock_info where code='300283' and launch_date < 20191010
1
code is  300284
select * from stock_info where code='300284' and launch_date < 20191010
1
code is  300285
select * from stock_info where code='300285' and launch_date < 20191010
1
code is  300286
select * from stock_info where code='300286' and launch_date < 20191010
1
code is  300287
select * from stock_info where code='300287' and launch_date < 20191010
1
code is  300288
select * from stock_info where code='300288' and launch_date < 20191010
1
code is  300289
select * from stock_info where code='300289' and launch_date < 20191010
1
code is  300290
select * from stock_info where code='300290' and launch_date < 20191010
1
code is  300291
select * from stock_info where code='300291' and launch_date < 20191010
1
code is  300292
select * from stock_info where code='300292' and launch_date < 20191010
1
code is  300293
select * from stock_info where code='300293' and launch_date < 20191010
1
code is  300294
select * from stock_info where code='300294' and launch_date < 20191010
1
code is  300295
select * from stock_info where code='300295' and launch_date < 20191010
1
code is  300296
select * from stock_info where code='300296' and launch_date < 20191010
1
code is  300297
select * from stock_info where code='300297' and launch_date < 20191010
1
code is  300298
select * from stock_info where code='300298' and launch_date < 20191010
1
code is  300299
select * from stock_info where code='300299' and launch_date < 20191010
1
code is  300300
select * from stock_info where code='300300' and launch_date < 20191010
1
code is  300301
select * from stock_info where code='300301' and launch_date < 20191010
1
code is  300302
select * from stock_info where code='300302' and launch_date < 20191010
1
code is  300303
select * from stock_info where code='300303' and launch_date < 20191010
1
code is  300304
select * from stock_info where code='300304' and launch_date < 20191010
1
code is  300305
select * from stock_info where code='300305' and launch_date < 20191010
1
code is  300306
select * from stock_info where code='300306' and launch_date < 20191010
1
code is  300307
select * from stock_info where code='300307' and launch_date < 20191010
1
code is  300308
select * from stock_info where code='300308' and launch_date < 20191010
1

code is  300309
select * from stock_info where code='300309' and launch_date < 20191010
1
code is  300310
select * from stock_info where code='300310' and launch_date < 20191010
1
code is  300311
select * from stock_info where code='300311' and launch_date < 20191010
1
code is  300312
select * from stock_info where code='300312' and launch_date < 20191010
1
code is  300313
select * from stock_info where code='300313' and launch_date < 20191010
1
code is  300314
select * from stock_info where code='300314' and launch_date < 20191010
1
code is  300315
select * from stock_info where code='300315' and launch_date < 20191010
1
code is  300316
select * from stock_info where code='300316' and launch_date < 20191010
1
code is  300317
select * from stock_info where code='300317' and launch_date < 20191010
1
code is  300318
select * from stock_info where code='300318' and launch_date < 20191010
1
code is  300319
select * from stock_info where code='300319' and launch_date < 20191010
1
code is  300320
select * from stock_info where code='300320' and launch_date < 20191010
1
code is  300321
select * from stock_info where code='300321' and launch_date < 20191010
1
code is  300322
select * from stock_info where code='300322' and launch_date < 20191010
1
code is  300323
select * from stock_info where code='300323' and launch_date < 20191010
1
code is  300324
select * from stock_info where code='300324' and launch_date < 20191010
1
code is  300325
select * from stock_info where code='300325' and launch_date < 20191010
1
code is  300326
select * from stock_info where code='300326' and launch_date < 20191010
1
code is  300327
select * from stock_info where code='300327' and launch_date < 20191010
1
code is  300328
select * from stock_info where code='300328' and launch_date < 20191010
1
code is  300329
select * from stock_info where code='300329' and launch_date < 20191010
1
code is  300330
select * from stock_info where code='300330' and launch_date < 20191010
1
code is  300331
select * from stock_info where code='300331' and launch_date < 20191010
1
code is  300332
select * from stock_info where code='300332' and launch_date < 20191010
1
code is  300333
select * from stock_info where code='300333' and launch_date < 20191010
1
code is  300334
select * from stock_info where code='300334' and launch_date < 20191010
1
code is  300335
select * from stock_info where code='300335' and launch_date < 20191010
1
code is  300336
select * from stock_info where code='300336' and launch_date < 20191010
1
code is  300337
select * from stock_info where code='300337' and launch_date < 20191010
1
code is  300338
select * from stock_info where code='300338' and launch_date < 20191010
1
code is  300339
select * from stock_info where code='300339' and launch_date < 20191010
1
code is  300340
select * from stock_info where code='300340' and launch_date < 20191010
1
code is  300341
select * from stock_info where code='300341' and launch_date < 20191010
1
code is  300342
select * from stock_info where code='300342' and launch_date < 20191010
1
code is  300343
select * from stock_info where code='300343' and launch_date < 20191010
1
code is  300344
select * from stock_info where code='300344' and launch_date < 20191010
1
code is  300345
select * from stock_info where code='300345' and launch_date < 20191010
1
code is  300346
select * from stock_info where code='300346' and launch_date < 20191010
1
code is  300347
select * from stock_info where code='300347' and launch_date < 20191010
1
code is  300348
select * from stock_info where code='300348' and launch_date < 20191010
1
code is  300349
select * from stock_info where code='300349' and launch_date < 20191010
1
code is  300350
select * from stock_info where code='300350' and launch_date < 20191010
1
code is  300351
select * from stock_info where code='300351' and launch_date < 20191010
1
code is  300352
select * from stock_info where code='300352' and launch_date < 20191010
1
code is  300353
select * from stock_info where code='300353' and launch_date < 20191010
1
code is  300354
select * from stock_info where code='300354' and launch_date < 20191010
1
code is  300355
select * from stock_info where code='300355' and launch_date < 20191010
1
code is  300356
select * from stock_info where code='300356' and launch_date < 20191010
1
code is  300357
select * from stock_info where code='300357' and launch_date < 20191010
1
code is  300358
select * from stock_info where code='300358' and launch_date < 20191010
1
code is  300359
select * from stock_info where code='300359' and launch_date < 20191010
1
code is  300360
select * from stock_info where code='300360' and launch_date < 20191010
1
code is  300362
select * from stock_info where code='300362' and launch_date < 20191010
1
code is  300363
select * from stock_info where code='300363' and launch_date < 20191010
1
code is  300364
select * from stock_info where code='300364' and launch_date < 20191010
1
code is  300365
select * from stock_info where code='300365' and launch_date < 20191010
1
code is  300366
select * from stock_info where code='300366' and launch_date < 20191010
1
code is  300367
select * from stock_info where code='300367' and launch_date < 20191010
1
code is  300368
select * from stock_info where code='300368' and launch_date < 20191010
1
code is  300369
select * from stock_info where code='300369' and launch_date < 20191010
1
code is  300370
select * from stock_info where code='300370' and launch_date < 20191010
1
code is  300371
select * from stock_info where code='300371' and launch_date < 20191010
1
code is  300373
select * from stock_info where code='300373' and launch_date < 20191010
1
code is  300374
select * from stock_info where code='300374' and launch_date < 20191010
1
code is  300375
select * from stock_info where code='300375' and launch_date < 20191010
1
code is  300376
select * from stock_info where code='300376' and launch_date < 20191010
1
code is  300377
select * from stock_info where code='300377' and launch_date < 20191010
1
code is  300378
select * from stock_info where code='300378' and launch_date < 20191010
1
code is  300379
select * from stock_info where code='300379' and launch_date < 20191010
1
code is  300380
select * from stock_info where code='300380' and launch_date < 20191010
1
code is  300381
select * from stock_info where code='300381' and launch_date < 20191010
1
code is  300382
select * from stock_info where code='300382' and launch_date < 20191010
1
code is  300383
select * from stock_info where code='300383' and launch_date < 20191010
1
code is  300384
select * from stock_info where code='300384' and launch_date < 20191010
1
code is  300385
select * from stock_info where code='300385' and launch_date < 20191010
1
code is  300386
select * from stock_info where code='300386' and launch_date < 20191010
1
code is  300387
select * from stock_info where code='300387' and launch_date < 20191010
1
code is  300388
select * from stock_info where code='300388' and launch_date < 20191010
1
code is  300389
select * from stock_info where code='300389' and launch_date < 20191010
1
code is  300390
select * from stock_info where code='300390' and launch_date < 20191010
1
code is  300391
select * from stock_info where code='300391' and launch_date < 20191010
1
code is  300392
select * from stock_info where code='300392' and launch_date < 20191010
1
code is  300393
select * from stock_info where code='300393' and launch_date < 20191010
1
code is  300394
select * from stock_info where code='300394' and launch_date < 20191010
1
code is  300395
select * from stock_info where code='300395' and launch_date < 20191010
1
code is  300396
select * from stock_info where code='300396' and launch_date < 20191010
1
code is  300397
select * from stock_info where code='300397' and launch_date < 20191010
1
code is  300398
select * from stock_info where code='300398' and launch_date < 20191010
1
code is  300399
select * from stock_info where code='300399' and launch_date < 20191010
1
code is  300400
select * from stock_info where code='300400' and launch_date < 20191010
1
code is  300401
select * from stock_info where code='300401' and launch_date < 20191010
1
code is  300402
select * from stock_info where code='300402' and launch_date < 20191010

1
code is  300403
select * from stock_info where code='300403' and launch_date < 20191010
1
code is  300404
select * from stock_info where code='300404' and launch_date < 20191010
1
code is  300405
select * from stock_info where code='300405' and launch_date < 20191010
1
code is  300406
select * from stock_info where code='300406' and launch_date < 20191010
1
code is  300407
select * from stock_info where code='300407' and launch_date < 20191010
1
code is  300408
select * from stock_info where code='300408' and launch_date < 20191010
1
code is  300409
select * from stock_info where code='300409' and launch_date < 20191010
1
code is  300410
select * from stock_info where code='300410' and launch_date < 20191010
1
code is  300411
select * from stock_info where code='300411' and launch_date < 20191010
1
code is  300412
select * from stock_info where code='300412' and launch_date < 20191010
1
code is  300413
select * from stock_info where code='300413' and launch_date < 20191010
1
code is  300414
select * from stock_info where code='300414' and launch_date < 20191010
1
code is  300415
select * from stock_info where code='300415' and launch_date < 20191010
1
code is  300416
select * from stock_info where code='300416' and launch_date < 20191010
1
code is  300417
select * from stock_info where code='300417' and launch_date < 20191010
1
code is  300418
select * from stock_info where code='300418' and launch_date < 20191010
1
code is  300419
select * from stock_info where code='300419' and launch_date < 20191010
1
code is  300420
select * from stock_info where code='300420' and launch_date < 20191010
1
code is  300421
select * from stock_info where code='300421' and launch_date < 20191010
1
code is  300422
select * from stock_info where code='300422' and launch_date < 20191010
1
code is  300423
select * from stock_info where code='300423' and launch_date < 20191010
1
code is  300424
select * from stock_info where code='300424' and launch_date < 20191010
1
code is  300425
select * from stock_info where code='300425' and launch_date < 20191010
1
code is  300426
select * from stock_info where code='300426' and launch_date < 20191010
1
code is  300427
select * from stock_info where code='300427' and launch_date < 20191010
1
code is  300428
select * from stock_info where code='300428' and launch_date < 20191010
1
code is  300429
select * from stock_info where code='300429' and launch_date < 20191010
1
code is  300430
select * from stock_info where code='300430' and launch_date < 20191010
1
code is  300431
select * from stock_info where code='300431' and launch_date < 20191010
1
code is  300432
select * from stock_info where code='300432' and launch_date < 20191010
1
code is  300433
select * from stock_info where code='300433' and launch_date < 20191010
1
code is  300434
select * from stock_info where code='300434' and launch_date < 20191010
1
code is  300435
select * from stock_info where code='300435' and launch_date < 20191010
1
code is  300436
select * from stock_info where code='300436' and launch_date < 20191010
1
code is  300437
select * from stock_info where code='300437' and launch_date < 20191010
1
code is  300438
select * from stock_info where code='300438' and launch_date < 20191010
1
code is  300439
select * from stock_info where code='300439' and launch_date < 20191010
1
code is  300440
select * from stock_info where code='300440' and launch_date < 20191010
1
code is  300441
select * from stock_info where code='300441' and launch_date < 20191010
1
code is  300442
select * from stock_info where code='300442' and launch_date < 20191010
1
code is  300443
select * from stock_info where code='300443' and launch_date < 20191010
1
code is  300444
select * from stock_info where code='300444' and launch_date < 20191010
1
code is  300445
select * from stock_info where code='300445' and launch_date < 20191010
1
code is  300446
select * from stock_info where code='300446' and launch_date < 20191010
1
code is  300447
select * from stock_info where code='300447' and launch_date < 20191010
1
code is  300448
select * from stock_info where code='300448' and launch_date < 20191010
1
code is  300449
select * from stock_info where code='300449' and launch_date < 20191010
1
code is  300450
select * from stock_info where code='300450' and launch_date < 20191010
1
code is  300451
select * from stock_info where code='300451' and launch_date < 20191010
1
code is  300452
select * from stock_info where code='300452' and launch_date < 20191010
1
code is  300453
select * from stock_info where code='300453' and launch_date < 20191010
1
code is  300454
select * from stock_info where code='300454' and launch_date < 20191010
1
code is  300455
select * from stock_info where code='300455' and launch_date < 20191010
1
code is  300456
select * from stock_info where code='300456' and launch_date < 20191010
1
code is  300457
select * from stock_info where code='300457' and launch_date < 20191010
1
code is  300458
select * from stock_info where code='300458' and launch_date < 20191010
1
code is  300459
select * from stock_info where code='300459' and launch_date < 20191010
1
code is  300460
select * from stock_info where code='300460' and launch_date < 20191010
1
code is  300461
select * from stock_info where code='300461' and launch_date < 20191010
1
code is  300462
select * from stock_info where code='300462' and launch_date < 20191010
1
code is  300463
select * from stock_info where code='300463' and launch_date < 20191010
1
code is  300464
select * from stock_info where code='300464' and launch_date < 20191010
1
code is  300465
select * from stock_info where code='300465' and launch_date < 20191010
1
code is  300466
select * from stock_info where code='300466' and launch_date < 20191010
1
code is  300467
select * from stock_info where code='300467' and launch_date < 20191010
1
code is  300468
select * from stock_info where code='300468' and launch_date < 20191010
1
code is  300469
select * from stock_info where code='300469' and launch_date < 20191010
1
code is  300470
select * from stock_info where code='300470' and launch_date < 20191010
1
code is  300471
select * from stock_info where code='300471' and launch_date < 20191010
1
code is  300472
select * from stock_info where code='300472' and launch_date < 20191010
1
code is  300473
select * from stock_info where code='300473' and launch_date < 20191010
1
code is  300474
select * from stock_info where code='300474' and launch_date < 20191010
1
code is  300475
select * from stock_info where code='300475' and launch_date < 20191010
1
code is  300476
select * from stock_info where code='300476' and launch_date < 20191010
1
code is  300477
select * from stock_info where code='300477' and launch_date < 20191010
1
code is  300478
select * from stock_info where code='300478' and launch_date < 20191010
1
code is  300479
select * from stock_info where code='300479' and launch_date < 20191010
1
code is  300480
select * from stock_info where code='300480' and launch_date < 20191010
1
code is  300481
select * from stock_info where code='300481' and launch_date < 20191010
1
code is  300482
select * from stock_info where code='300482' and launch_date < 20191010
1
code is  300483
select * from stock_info where code='300483' and launch_date < 20191010
1
code is  300484
select * from stock_info where code='300484' and launch_date < 20191010
1
code is  300485
select * from stock_info where code='300485' and launch_date < 20191010
1
code is  300486
select * from stock_info where code='300486' and launch_date < 20191010
1
code is  300487
select * from stock_info where code='300487' and launch_date < 20191010
1
code is  300488
select * from stock_info where code='300488' and launch_date < 20191010
1
code is  300489
select * from stock_info where code='300489' and launch_date < 20191010
1
code is  300490
select * from stock_info where code='300490' and launch_date < 20191010
1
code is  300491
select * from stock_info where code='300491' and launch_date < 20191010
1
code is  300492
select * from stock_info where code='300492' and launch_date < 20191010
1
code is  300493
select * from stock_info where code='300493' and launch_date < 20191010
1
code is  300494
select * from stock_info where code='300494' and launch_date < 20191010
1
code is  300495
select * from stock_info where code='300495' and launch_date < 20191010
1
code is  300496
select * from stock_info where code='300496' and launch_date < 20191010
1
code is  300497
select * from stock_info where code='300497' and launch_date < 20191010
1
code is  300498
select * from stock_info where code='300498' and launch_date < 20191010
1
code is  300499
select * from stock_info where code='300499' and launch_date < 20191010
1
code is  300500
select * from stock_info where code='300500' and launch_date < 20191010
1
code is  300501
select * from stock_info where code='300501' and launch_date < 20191010
1

code is  300502
select * from stock_info where code='300502' and launch_date < 20191010
1
code is  300503
select * from stock_info where code='300503' and launch_date < 20191010
1
code is  300504
select * from stock_info where code='300504' and launch_date < 20191010
1
code is  300505
select * from stock_info where code='300505' and launch_date < 20191010
1
code is  300506
select * from stock_info where code='300506' and launch_date < 20191010
1
code is  300507
select * from stock_info where code='300507' and launch_date < 20191010
1
code is  300508
select * from stock_info where code='300508' and launch_date < 20191010
1
code is  300509
select * from stock_info where code='300509' and launch_date < 20191010
1
code is  300510
select * from stock_info where code='300510' and launch_date < 20191010
1
code is  300511
select * from stock_info where code='300511' and launch_date < 20191010
1
code is  300512
select * from stock_info where code='300512' and launch_date < 20191010
1
code is  300513
select * from stock_info where code='300513' and launch_date < 20191010
1
code is  300514
select * from stock_info where code='300514' and launch_date < 20191010
1
code is  300515
select * from stock_info where code='300515' and launch_date < 20191010
1
code is  300516
select * from stock_info where code='300516' and launch_date < 20191010
1
code is  300517
select * from stock_info where code='300517' and launch_date < 20191010
1
code is  300518
select * from stock_info where code='300518' and launch_date < 20191010
1
code is  300519
select * from stock_info where code='300519' and launch_date < 20191010
1
code is  300520
select * from stock_info where code='300520' and launch_date < 20191010
1
code is  300521
select * from stock_info where code='300521' and launch_date < 20191010
1
code is  300522
select * from stock_info where code='300522' and launch_date < 20191010
1
code is  300523
select * from stock_info where code='300523' and launch_date < 20191010
1
code is  300525
select * from stock_info where code='300525' and launch_date < 20191010
1
code is  300526
select * from stock_info where code='300526' and launch_date < 20191010
1
code is  300527
select * from stock_info where code='300527' and launch_date < 20191010
1
code is  300528
select * from stock_info where code='300528' and launch_date < 20191010
1
code is  300529
select * from stock_info where code='300529' and launch_date < 20191010
1
code is  300530
select * from stock_info where code='300530' and launch_date < 20191010
1
code is  300531
select * from stock_info where code='300531' and launch_date < 20191010
1
code is  300532
select * from stock_info where code='300532' and launch_date < 20191010
1
code is  300533
select * from stock_info where code='300533' and launch_date < 20191010
1
code is  300534
select * from stock_info where code='300534' and launch_date < 20191010
1
code is  300535
select * from stock_info where code='300535' and launch_date < 20191010
1
code is  300536
select * from stock_info where code='300536' and launch_date < 20191010
1
code is  300537
select * from stock_info where code='300537' and launch_date < 20191010
1
code is  300538
select * from stock_info where code='300538' and launch_date < 20191010
1
code is  300539
select * from stock_info where code='300539' and launch_date < 20191010
1
code is  300540
select * from stock_info where code='300540' and launch_date < 20191010
1
code is  300541
select * from stock_info where code='300541' and launch_date < 20191010
1
code is  300542
select * from stock_info where code='300542' and launch_date < 20191010
1
code is  300543
select * from stock_info where code='300543' and launch_date < 20191010
1
code is  300545
select * from stock_info where code='300545' and launch_date < 20191010
1
code is  300546
select * from stock_info where code='300546' and launch_date < 20191010
1
code is  300547
select * from stock_info where code='300547' and launch_date < 20191010
1
code is  300548
select * from stock_info where code='300548' and launch_date < 20191010
1
code is  300549
select * from stock_info where code='300549' and launch_date < 20191010
1
code is  300550
select * from stock_info where code='300550' and launch_date < 20191010
1
code is  300551
select * from stock_info where code='300551' and launch_date < 20191010
1
code is  300552
select * from stock_info where code='300552' and launch_date < 20191010
1
code is  300553
select * from stock_info where code='300553' and launch_date < 20191010
1
code is  300554
select * from stock_info where code='300554' and launch_date < 20191010
1
code is  300555
select * from stock_info where code='300555' and launch_date < 20191010
1
code is  300556
select * from stock_info where code='300556' and launch_date < 20191010
1
code is  300557
select * from stock_info where code='300557' and launch_date < 20191010
1
code is  300558
select * from stock_info where code='300558' and launch_date < 20191010
1
code is  300559
select * from stock_info where code='300559' and launch_date < 20191010
1
code is  300560
select * from stock_info where code='300560' and launch_date < 20191010
1
code is  300561
select * from stock_info where code='300561' and launch_date < 20191010
1
code is  300562
select * from stock_info where code='300562' and launch_date < 20191010
1
code is  300563
select * from stock_info where code='300563' and launch_date < 20191010
1
code is  300564
select * from stock_info where code='300564' and launch_date < 20191010
0
code is  300565
select * from stock_info where code='300565' and launch_date < 20191010
1
code is  300566
select * from stock_info where code='300566' and launch_date < 20191010
1
code is  300567
select * from stock_info where code='300567' and launch_date < 20191010
1
code is  300568
select * from stock_info where code='300568' and launch_date < 20191010
1
code is  300569
select * from stock_info where code='300569' and launch_date < 20191010
1
code is  300570
select * from stock_info where code='300570' and launch_date < 20191010
1
code is  300571
select * from stock_info where code='300571' and launch_date < 20191010
1
code is  300572
select * from stock_info where code='300572' and launch_date < 20191010
1
code is  300573
select * from stock_info where code='300573' and launch_date < 20191010
1
code is  300575
select * from stock_info where code='300575' and launch_date < 20191010
1
code is  300576
select * from stock_info where code='300576' and launch_date < 20191010
1
code is  300577
select * from stock_info where code='300577' and launch_date < 20191010
1
code is  300578
select * from stock_info where code='300578' and launch_date < 20191010
1
code is  300579
select * from stock_info where code='300579' and launch_date < 20191010
1
code is  300580
select * from stock_info where code='300580' and launch_date < 20191010
1
code is  300581
select * from stock_info where code='300581' and launch_date < 20191010
1
code is  300582
select * from stock_info where code='300582' and launch_date < 20191010
1
code is  300583
select * from stock_info where code='300583' and launch_date < 20191010
1
code is  300584
select * from stock_info where code='300584' and launch_date < 20191010
1
code is  300585
select * from stock_info where code='300585' and launch_date < 20191010
1
code is  300586
select * from stock_info where code='300586' and launch_date < 20191010
1
code is  300587
select * from stock_info where code='300587' and launch_date < 20191010
1
code is  300588
select * from stock_info where code='300588' and launch_date < 20191010
1
code is  300589
select * from stock_info where code='300589' and launch_date < 20191010
1
code is  300590
select * from stock_info where code='300590' and launch_date < 20191010
1
code is  300591
select * from stock_info where code='300591' and launch_date < 20191010
1
code is  300592
select * from stock_info where code='300592' and launch_date < 20191010
1
code is  300593
select * from stock_info where code='300593' and launch_date < 20191010
1
code is  300594
select * from stock_info where code='300594' and launch_date < 20191010
1
code is  300595
select * from stock_info where code='300595' and launch_date < 20191010
1
code is  300596
select * from stock_info where code='300596' and launch_date < 20191010
1
code is  300597
select * from stock_info where code='300597' and launch_date < 20191010
1
code is  300598
select * from stock_info where code='300598' and launch_date < 20191010
1
code is  300599
select * from stock_info where code='300599' and launch_date < 20191010
1
code is  300600
select * from stock_info where code='300600' and launch_date < 20191010
1
code is  300601
select * from stock_info where code='300601' and launch_date < 20191010
1
code is  300602
select * from stock_info where code='300602' and launch_date < 20191010
1
code is  300603
select * from stock_info where code='300603' and launch_date < 20191010
1
code is  300604
select * from stock_info where code='300604' and launch_date < 20191010
1
code is  300605
select * from stock_info where code='300605' and launch_date < 20191010
1
code is  300606
select * from stock_info where code='300606' and launch_date < 20191010
1
code is  300607
select * from stock_info where code='300607' and launch_date < 20191010
1
code is  300608
select * from stock_info where code='300608' and launch_date < 20191010
1
code is  300609
select * from stock_info where code='300609' and launch_date < 20191010
1
code is  300610
select * from stock_info where code='300610' and launch_date < 20191010
1
code is  300611
select * from stock_info where code='300611' and launch_date < 20191010
1
code is  300612
select * from stock_info where code='300612' and launch_date < 20191010
1
code is  300613
select * from stock_info where code='300613' and launch_date < 20191010

1
code is  300615
select * from stock_info where code='300615' and launch_date < 20191010
1
code is  300616
select * from stock_info where code='300616' and launch_date < 20191010
1
code is  300617
select * from stock_info where code='300617' and launch_date < 20191010
1
code is  300618
select * from stock_info where code='300618' and launch_date < 20191010
1
code is  300619
select * from stock_info where code='300619' and launch_date < 20191010
1
code is  300620
select * from stock_info where code='300620' and launch_date < 20191010
1
code is  300621
select * from stock_info where code='300621' and launch_date < 20191010
1
code is  300622
select * from stock_info where code='300622' and launch_date < 20191010
1
code is  300623
select * from stock_info where code='300623' and launch_date < 20191010
1
code is  300624
select * from stock_info where code='300624' and launch_date < 20191010
1
code is  300625
select * from stock_info where code='300625' and launch_date < 20191010
1
code is  300626
select * from stock_info where code='300626' and launch_date < 20191010
1
code is  300627
select * from stock_info where code='300627' and launch_date < 20191010
1
code is  300628
select * from stock_info where code='300628' and launch_date < 20191010
1
code is  300629
select * from stock_info where code='300629' and launch_date < 20191010
1
code is  300630
select * from stock_info where code='300630' and launch_date < 20191010
1
code is  300631
select * from stock_info where code='300631' and launch_date < 20191010
1
code is  300632
select * from stock_info where code='300632' and launch_date < 20191010
1
code is  300633
select * from stock_info where code='300633' and launch_date < 20191010
1
code is  300634
select * from stock_info where code='300634' and launch_date < 20191010
1
code is  300635
select * from stock_info where code='300635' and launch_date < 20191010
1
code is  300636
select * from stock_info where code='300636' and launch_date < 20191010
1
code is  300637
select * from stock_info where code='300637' and launch_date < 20191010
1
code is  300638
select * from stock_info where code='300638' and launch_date < 20191010
1
code is  300639
select * from stock_info where code='300639' and launch_date < 20191010
1
code is  300640
select * from stock_info where code='300640' and launch_date < 20191010
1
code is  300641
select * from stock_info where code='300641' and launch_date < 20191010
1
code is  300642
select * from stock_info where code='300642' and launch_date < 20191010
1
code is  300643
select * from stock_info where code='300643' and launch_date < 20191010
1
code is  300644
select * from stock_info where code='300644' and launch_date < 20191010
1
code is  300645
select * from stock_info where code='300645' and launch_date < 20191010
1
code is  300647
select * from stock_info where code='300647' and launch_date < 20191010
1
code is  300648
select * from stock_info where code='300648' and launch_date < 20191010
1
code is  300649
select * from stock_info where code='300649' and launch_date < 20191010
1
code is  300650
select * from stock_info where code='300650' and launch_date < 20191010
1
code is  300651
select * from stock_info where code='300651' and launch_date < 20191010
1
code is  300652
select * from stock_info where code='300652' and launch_date < 20191010
1
code is  300653
select * from stock_info where code='300653' and launch_date < 20191010
1
code is  300654
select * from stock_info where code='300654' and launch_date < 20191010
1
code is  300655
select * from stock_info where code='300655' and launch_date < 20191010
1
code is  300656
select * from stock_info where code='300656' and launch_date < 20191010
1
code is  300657
select * from stock_info where code='300657' and launch_date < 20191010
1
code is  300658
select * from stock_info where code='300658' and launch_date < 20191010
1
code is  300659
select * from stock_info where code='300659' and launch_date < 20191010
1
code is  300660
select * from stock_info where code='300660' and launch_date < 20191010
1
code is  300661
select * from stock_info where code='300661' and launch_date < 20191010
1
code is  300662
select * from stock_info where code='300662' and launch_date < 20191010
1
code is  300663
select * from stock_info where code='300663' and launch_date < 20191010
1
code is  300664
select * from stock_info where code='300664' and launch_date < 20191010
1
code is  300665
select * from stock_info where code='300665' and launch_date < 20191010
1
code is  300666
select * from stock_info where code='300666' and launch_date < 20191010
1
code is  300667
select * from stock_info where code='300667' and launch_date < 20191010
1
code is  300668
select * from stock_info where code='300668' and launch_date < 20191010
1
code is  300669
select * from stock_info where code='300669' and launch_date < 20191010
1
code is  300670
select * from stock_info where code='300670' and launch_date < 20191010
1
code is  300671
select * from stock_info where code='300671' and launch_date < 20191010
1
code is  300672
select * from stock_info where code='300672' and launch_date < 20191010
1
code is  300673
select * from stock_info where code='300673' and launch_date < 20191010
1
code is  300674
select * from stock_info where code='300674' and launch_date < 20191010
1
code is  300675
select * from stock_info where code='300675' and launch_date < 20191010
1
code is  300676
select * from stock_info where code='300676' and launch_date < 20191010
1
code is  300677
select * from stock_info where code='300677' and launch_date < 20191010
1
code is  300678
select * from stock_info where code='300678' and launch_date < 20191010
1
code is  300679
select * from stock_info where code='300679' and launch_date < 20191010
1
code is  300680
select * from stock_info where code='300680' and launch_date < 20191010
1
code is  300681
select * from stock_info where code='300681' and launch_date < 20191010
1
code is  300682
select * from stock_info where code='300682' and launch_date < 20191010
1
code is  300683
select * from stock_info where code='300683' and launch_date < 20191010
1
code is  300684
select * from stock_info where code='300684' and launch_date < 20191010
1
code is  300685
select * from stock_info where code='300685' and launch_date < 20191010
1
code is  300686
select * from stock_info where code='300686' and launch_date < 20191010
1
code is  300687
select * from stock_info where code='300687' and launch_date < 20191010
1
code is  300688
select * from stock_info where code='300688' and launch_date < 20191010
1
code is  300689
select * from stock_info where code='300689' and launch_date < 20191010
1
code is  300690
select * from stock_info where code='300690' and launch_date < 20191010
1
code is  300691
select * from stock_info where code='300691' and launch_date < 20191010
1
code is  300692
select * from stock_info where code='300692' and launch_date < 20191010
1
code is  300693
select * from stock_info where code='300693' and launch_date < 20191010
1
code is  300694
select * from stock_info where code='300694' and launch_date < 20191010
1
code is  300695
select * from stock_info where code='300695' and launch_date < 20191010
1
code is  300696
select * from stock_info where code='300696' and launch_date < 20191010
1
code is  300697
select * from stock_info where code='300697' and launch_date < 20191010
1
code is  300698
select * from stock_info where code='300698' and launch_date < 20191010
1
code is  300699
select * from stock_info where code='300699' and launch_date < 20191010
1
code is  300700
select * from stock_info where code='300700' and launch_date < 20191010
1
code is  300701
select * from stock_info where code='300701' and launch_date < 20191010
1
code is  300702
select * from stock_info where code='300702' and launch_date < 20191010
1
code is  300703
select * from stock_info where code='300703' and launch_date < 20191010
1
code is  300705
select * from stock_info where code='300705' and launch_date < 20191010
1
code is  300706
select * from stock_info where code='300706' and launch_date < 20191010
1
code is  300707
select * from stock_info where code='300707' and launch_date < 20191010
1
code is  300708
select * from stock_info where code='300708' and launch_date < 20191010
1
code is  300709
select * from stock_info where code='300709' and launch_date < 20191010
1
code is  300710
select * from stock_info where code='300710' and launch_date < 20191010
1
code is  300711
select * from stock_info where code='300711' and launch_date < 20191010
1
code is  300712
select * from stock_info where code='300712' and launch_date < 20191010
1
code is  300713
select * from stock_info where code='300713' and launch_date < 20191010
1
code is  300715
select * from stock_info where code='300715' and launch_date < 20191010
1
code is  300716
select * from stock_info where code='300716' and launch_date < 20191010

1
code is  300717
select * from stock_info where code='300717' and launch_date < 20191010
1
code is  300718
select * from stock_info where code='300718' and launch_date < 20191010
1
code is  300719
select * from stock_info where code='300719' and launch_date < 20191010
1
code is  300720
select * from stock_info where code='300720' and launch_date < 20191010
1
code is  300721
select * from stock_info where code='300721' and launch_date < 20191010
1
code is  300722
select * from stock_info where code='300722' and launch_date < 20191010
1
code is  300723
select * from stock_info where code='300723' and launch_date < 20191010
1
code is  300724
select * from stock_info where code='300724' and launch_date < 20191010
1
code is  300725
select * from stock_info where code='300725' and launch_date < 20191010
1
code is  300726
select * from stock_info where code='300726' and launch_date < 20191010
1
code is  300727
select * from stock_info where code='300727' and launch_date < 20191010
1
code is  300729
select * from stock_info where code='300729' and launch_date < 20191010
1
code is  300730
select * from stock_info where code='300730' and launch_date < 20191010
1
code is  300731
select * from stock_info where code='300731' and launch_date < 20191010
1
code is  300732
select * from stock_info where code='300732' and launch_date < 20191010
1
code is  300733
select * from stock_info where code='300733' and launch_date < 20191010
1
code is  300735
select * from stock_info where code='300735' and launch_date < 20191010
1
code is  300736
select * from stock_info where code='300736' and launch_date < 20191010
1
code is  300737
select * from stock_info where code='300737' and launch_date < 20191010
1
code is  300738
select * from stock_info where code='300738' and launch_date < 20191010
1
code is  300739
select * from stock_info where code='300739' and launch_date < 20191010
1
code is  300740
select * from stock_info where code='300740' and launch_date < 20191010
1
code is  300741
select * from stock_info where code='300741' and launch_date < 20191010
1
code is  300742
select * from stock_info where code='300742' and launch_date < 20191010
1
code is  300743
select * from stock_info where code='300743' and launch_date < 20191010
1
code is  300745
select * from stock_info where code='300745' and launch_date < 20191010
1
code is  300746
select * from stock_info where code='300746' and launch_date < 20191010
1
code is  300747
select * from stock_info where code='300747' and launch_date < 20191010
1
code is  300748
select * from stock_info where code='300748' and launch_date < 20191010
1
code is  300749
select * from stock_info where code='300749' and launch_date < 20191010
1
code is  300750
select * from stock_info where code='300750' and launch_date < 20191010
1
code is  300751
select * from stock_info where code='300751' and launch_date < 20191010
1
code is  300752
select * from stock_info where code='300752' and launch_date < 20191010
1
code is  300753
select * from stock_info where code='300753' and launch_date < 20191010
1
code is  300755
select * from stock_info where code='300755' and launch_date < 20191010
1
code is  300756
select * from stock_info where code='300756' and launch_date < 20191010
1
code is  300757
select * from stock_info where code='300757' and launch_date < 20191010
1
code is  300758
select * from stock_info where code='300758' and launch_date < 20191010
1
code is  300759
select * from stock_info where code='300759' and launch_date < 20191010
1
code is  300760
select * from stock_info where code='300760' and launch_date < 20191010
1
code is  300761
select * from stock_info where code='300761' and launch_date < 20191010
1
code is  300762
select * from stock_info where code='300762' and launch_date < 20191010
1
code is  300763
select * from stock_info where code='300763' and launch_date < 20191010
1
code is  300765
select * from stock_info where code='300765' and launch_date < 20191010
1
code is  300766
select * from stock_info where code='300766' and launch_date < 20191010
1
code is  300767
select * from stock_info where code='300767' and launch_date < 20191010
1
code is  300768
select * from stock_info where code='300768' and launch_date < 20191010
1
code is  300769
select * from stock_info where code='300769' and launch_date < 20191010
1
code is  300770
select * from stock_info where code='300770' and launch_date < 20191010
1
code is  300771
select * from stock_info where code='300771' and launch_date < 20191010
1
code is  300772
select * from stock_info where code='300772' and launch_date < 20191010
1
code is  300773
select * from stock_info where code='300773' and launch_date < 20191010
1
code is  300775
select * from stock_info where code='300775' and launch_date < 20191010
1
code is  300776
select * from stock_info where code='300776' and launch_date < 20191010
1
code is  300777
select * from stock_info where code='300777' and launch_date < 20191010
1
code is  300778
select * from stock_info where code='300778' and launch_date < 20191010
1
code is  300779
select * from stock_info where code='300779' and launch_date < 20191010
1
code is  300780
select * from stock_info where code='300780' and launch_date < 20191010
1
code is  300781
select * from stock_info where code='300781' and launch_date < 20191010
1
code is  300782
select * from stock_info where code='300782' and launch_date < 20191010
1
code is  300783
select * from stock_info where code='300783' and launch_date < 20191010
1
code is  300785
select * from stock_info where code='300785' and launch_date < 20191010
1
code is  300786
select * from stock_info where code='300786' and launch_date < 20191010
1
code is  300787
select * from stock_info where code='300787' and launch_date < 20191010
1
code is  300788
select * from stock_info where code='300788' and launch_date < 20191010
1
code is  300789
select * from stock_info where code='300789' and launch_date < 20191010
1
code is  300790
select * from stock_info where code='300790' and launch_date < 20191010
1
code is  300791
select * from stock_info where code='300791' and launch_date < 20191010
1
code is  300792
select * from stock_info where code='300792' and launch_date < 20191010
1
code is  300793
select * from stock_info where code='300793' and launch_date < 20191010
0
code is  300795
select * from stock_info where code='300795' and launch_date < 20191010
0
code is  300796
select * from stock_info where code='300796' and launch_date < 20191010
0
code is  300797
select * from stock_info where code='300797' and launch_date < 20191010
0
code is  300799
select * from stock_info where code='300799' and launch_date < 20191010
0
code is  300800
select * from stock_info where code='300800' and launch_date < 20191010
0
code is  300802
select * from stock_info where code='300802' and launch_date < 20191010
0
code is  300803
select * from stock_info where code='300803' and launch_date < 20191010
0
code is  600000
select * from stock_info where code='600000' and launch_date < 20191010
1
code is  600004
select * from stock_info where code='600004' and launch_date < 20191010
1
code is  600006
select * from stock_info where code='600006' and launch_date < 20191010
1
code is  600007
select * from stock_info where code='600007' and launch_date < 20191010
1
code is  600008
select * from stock_info where code='600008' and launch_date < 20191010
1
code is  600009
select * from stock_info where code='600009' and launch_date < 20191010
1
code is  600010
select * from stock_info where code='600010' and launch_date < 20191010
1
code is  600011
select * from stock_info where code='600011' and launch_date < 20191010
1
code is  600012
select * from stock_info where code='600012' and launch_date < 20191010
1
code is  600015
select * from stock_info where code='600015' and launch_date < 20191010
1
code is  600016
select * from stock_info where code='600016' and launch_date < 20191010
1
code is  600017
select * from stock_info where code='600017' and launch_date < 20191010
1
code is  600018
select * from stock_info where code='600018' and launch_date < 20191010
1
code is  600019
select * from stock_info where code='600019' and launch_date < 20191010
1
code is  600020
select * from stock_info where code='600020' and launch_date < 20191010
1
code is  600021
select * from stock_info where code='600021' and launch_date < 20191010
1
code is  600022
select * from stock_info where code='600022' and launch_date < 20191010
1
code is  600023
select * from stock_info where code='600023' and launch_date < 20191010
1
code is  600025
select * from stock_info where code='600025' and launch_date < 20191010
1
code is  600026
select * from stock_info where code='600026' and launch_date < 20191010
1
code is  600027
select * from stock_info where code='600027' and launch_date < 20191010
1
code is  600028
select * from stock_info where code='600028' and launch_date < 20191010
1
code is  600029
select * from stock_info where code='600029' and launch_date < 20191010
1
code is  600030
select * from stock_info where code='600030' and launch_date < 20191010
1
code is  600031
select * from stock_info where code='600031' and launch_date < 20191010
1
code is  600033
select * from stock_info where code='600033' and launch_date < 20191010
1
code is  600035
select * from stock_info where code='600035' and launch_date < 20191010
1
code is  600036
select * from stock_info where code='600036' and launch_date < 20191010
1
code is  600037
select * from stock_info where code='600037' and launch_date < 20191010
1
code is  600038
select * from stock_info where code='600038' and launch_date < 20191010
1
code is  600039

select * from stock_info where code='600039' and launch_date < 20191010
1
code is  600048
select * from stock_info where code='600048' and launch_date < 20191010
1
code is  600050
select * from stock_info where code='600050' and launch_date < 20191010
1
code is  600051
select * from stock_info where code='600051' and launch_date < 20191010
1
code is  600052
select * from stock_info where code='600052' and launch_date < 20191010
1
code is  600053
select * from stock_info where code='600053' and launch_date < 20191010
1
code is  600054
select * from stock_info where code='600054' and launch_date < 20191010
1
code is  600055
select * from stock_info where code='600055' and launch_date < 20191010
1
code is  600056
select * from stock_info where code='600056' and launch_date < 20191010
1
code is  600057
select * from stock_info where code='600057' and launch_date < 20191010
1
code is  600058
select * from stock_info where code='600058' and launch_date < 20191010
1
code is  600059
select * from stock_info where code='600059' and launch_date < 20191010
1
code is  600060
select * from stock_info where code='600060' and launch_date < 20191010
1
code is  600061
select * from stock_info where code='600061' and launch_date < 20191010
1
code is  600062
select * from stock_info where code='600062' and launch_date < 20191010
1
code is  600063
select * from stock_info where code='600063' and launch_date < 20191010
1
code is  600064
select * from stock_info where code='600064' and launch_date < 20191010
1
code is  600066
select * from stock_info where code='600066' and launch_date < 20191010
1
code is  600067
select * from stock_info where code='600067' and launch_date < 20191010
1
code is  600068
select * from stock_info where code='600068' and launch_date < 20191010
1
code is  600069
select * from stock_info where code='600069' and launch_date < 20191010
1
code is  600070
select * from stock_info where code='600070' and launch_date < 20191010
1
code is  600071
select * from stock_info where code='600071' and launch_date < 20191010
1
code is  600072
select * from stock_info where code='600072' and launch_date < 20191010
1
code is  600073
select * from stock_info where code='600073' and launch_date < 20191010
1
code is  600074
select * from stock_info where code='600074' and launch_date < 20191010
1
code is  600075
select * from stock_info where code='600075' and launch_date < 20191010
1
code is  600076
select * from stock_info where code='600076' and launch_date < 20191010
1
code is  600077
select * from stock_info where code='600077' and launch_date < 20191010
1
code is  600078
select * from stock_info where code='600078' and launch_date < 20191010
1
code is  600079
select * from stock_info where code='600079' and launch_date < 20191010
1
code is  600080
select * from stock_info where code='600080' and launch_date < 20191010
1
code is  600081
select * from stock_info where code='600081' and launch_date < 20191010
1
code is  600082
select * from stock_info where code='600082' and launch_date < 20191010
1
code is  600083
select * from stock_info where code='600083' and launch_date < 20191010
1
code is  600084
select * from stock_info where code='600084' and launch_date < 20191010
1
code is  600085
select * from stock_info where code='600085' and launch_date < 20191010
1
code is  600086
select * from stock_info where code='600086' and launch_date < 20191010
1
code is  600088
select * from stock_info where code='600088' and launch_date < 20191010
1
code is  600089
select * from stock_info where code='600089' and launch_date < 20191010
1
code is  600090
select * from stock_info where code='600090' and launch_date < 20191010
1
code is  600091
select * from stock_info where code='600091' and launch_date < 20191010
1
code is  600093
select * from stock_info where code='600093' and launch_date < 20191010
1
code is  600094
select * from stock_info where code='600094' and launch_date < 20191010
1
code is  600095
select * from stock_info where code='600095' and launch_date < 20191010
1
code is  600096
select * from stock_info where code='600096' and launch_date < 20191010
1
code is  600097
select * from stock_info where code='600097' and launch_date < 20191010
1
code is  600098
select * from stock_info where code='600098' and launch_date < 20191010
1
code is  600099
select * from stock_info where code='600099' and launch_date < 20191010
1
code is  600100
select * from stock_info where code='600100' and launch_date < 20191010
1
code is  600101
select * from stock_info where code='600101' and launch_date < 20191010
1
code is  600103
select * from stock_info where code='600103' and launch_date < 20191010
1
code is  600104
select * from stock_info where code='600104' and launch_date < 20191010
1
code is  600105
select * from stock_info where code='600105' and launch_date < 20191010
1
code is  600106
select * from stock_info where code='600106' and launch_date < 20191010
1
code is  600107
select * from stock_info where code='600107' and launch_date < 20191010
1
code is  600108
select * from stock_info where code='600108' and launch_date < 20191010
1
code is  600109
select * from stock_info where code='600109' and launch_date < 20191010
1
code is  600110
select * from stock_info where code='600110' and launch_date < 20191010
1
code is  600111
select * from stock_info where code='600111' and launch_date < 20191010
1
code is  600112
select * from stock_info where code='600112' and launch_date < 20191010
1
code is  600113
select * from stock_info where code='600113' and launch_date < 20191010
1
code is  600114
select * from stock_info where code='600114' and launch_date < 20191010
1
code is  600115
select * from stock_info where code='600115' and launch_date < 20191010
1
code is  600116
select * from stock_info where code='600116' and launch_date < 20191010
1
code is  600117
select * from stock_info where code='600117' and launch_date < 20191010
1
code is  600118
select * from stock_info where code='600118' and launch_date < 20191010
1
code is  600119
select * from stock_info where code='600119' and launch_date < 20191010
1
code is  600120
select * from stock_info where code='600120' and launch_date < 20191010
1
code is  600121
select * from stock_info where code='600121' and launch_date < 20191010
1
code is  600122
select * from stock_info where code='600122' and launch_date < 20191010
1
code is  600123
select * from stock_info where code='600123' and launch_date < 20191010
1
code is  600125
select * from stock_info where code='600125' and launch_date < 20191010
1
code is  600126
select * from stock_info where code='600126' and launch_date < 20191010
1
code is  600127
select * from stock_info where code='600127' and launch_date < 20191010
1
code is  600128
select * from stock_info where code='600128' and launch_date < 20191010
1
code is  600129
select * from stock_info where code='600129' and launch_date < 20191010
1
code is  600130
select * from stock_info where code='600130' and launch_date < 20191010
1
code is  600131
select * from stock_info where code='600131' and launch_date < 20191010
1
code is  600132
select * from stock_info where code='600132' and launch_date < 20191010
1
code is  600133
select * from stock_info where code='600133' and launch_date < 20191010
1
code is  600135
select * from stock_info where code='600135' and launch_date < 20191010
1
code is  600136
select * from stock_info where code='600136' and launch_date < 20191010
1
code is  600137
select * from stock_info where code='600137' and launch_date < 20191010
1
code is  600138
select * from stock_info where code='600138' and launch_date < 20191010
1
code is  600139
select * from stock_info where code='600139' and launch_date < 20191010
1
code is  600141
select * from stock_info where code='600141' and launch_date < 20191010
1
code is  600143
select * from stock_info where code='600143' and launch_date < 20191010
1
code is  600146
select * from stock_info where code='600146' and launch_date < 20191010
1
code is  600148
select * from stock_info where code='600148' and launch_date < 20191010
1
code is  600149
select * from stock_info where code='600149' and launch_date < 20191010
1
code is  600150
select * from stock_info where code='600150' and launch_date < 20191010
1
code is  600151
select * from stock_info where code='600151' and launch_date < 20191010
1
code is  600152
select * from stock_info where code='600152' and launch_date < 20191010
1
code is  600153
select * from stock_info where code='600153' and launch_date < 20191010
1
code is  600155
select * from stock_info where code='600155' and launch_date < 20191010
1
code is  600156
select * from stock_info where code='600156' and launch_date < 20191010
1
code is  600157
select * from stock_info where code='600157' and launch_date < 20191010
1
code is  600158
select * from stock_info where code='600158' and launch_date < 20191010
1
code is  600159
select * from stock_info where code='600159' and launch_date < 20191010
1
code is  600160
select * from stock_info where code='600160' and launch_date < 20191010

1
code is  600161
select * from stock_info where code='600161' and launch_date < 20191010
1
code is  600162
select * from stock_info where code='600162' and launch_date < 20191010
1
code is  600163
select * from stock_info where code='600163' and launch_date < 20191010
1
code is  600165
select * from stock_info where code='600165' and launch_date < 20191010
1
code is  600166
select * from stock_info where code='600166' and launch_date < 20191010
1
code is  600167
select * from stock_info where code='600167' and launch_date < 20191010
1
code is  600168
select * from stock_info where code='600168' and launch_date < 20191010
1
code is  600169
select * from stock_info where code='600169' and launch_date < 20191010
1
code is  600170
select * from stock_info where code='600170' and launch_date < 20191010
1
code is  600171
select * from stock_info where code='600171' and launch_date < 20191010
1
code is  600172
select * from stock_info where code='600172' and launch_date < 20191010
1
code is  600173
select * from stock_info where code='600173' and launch_date < 20191010
1
code is  600175
select * from stock_info where code='600175' and launch_date < 20191010
1
code is  600176
select * from stock_info where code='600176' and launch_date < 20191010
1
code is  600177
select * from stock_info where code='600177' and launch_date < 20191010
1
code is  600178
select * from stock_info where code='600178' and launch_date < 20191010
1
code is  600179
select * from stock_info where code='600179' and launch_date < 20191010
1
code is  600180
select * from stock_info where code='600180' and launch_date < 20191010
1
code is  600182
select * from stock_info where code='600182' and launch_date < 20191010
1
code is  600183
select * from stock_info where code='600183' and launch_date < 20191010
1
code is  600184
select * from stock_info where code='600184' and launch_date < 20191010
1
code is  600185
select * from stock_info where code='600185' and launch_date < 20191010
1
code is  600186
select * from stock_info where code='600186' and launch_date < 20191010
1
code is  600187
select * from stock_info where code='600187' and launch_date < 20191010
1
code is  600188
select * from stock_info where code='600188' and launch_date < 20191010
1
code is  600189
select * from stock_info where code='600189' and launch_date < 20191010
1
code is  600190
select * from stock_info where code='600190' and launch_date < 20191010
1
code is  600191
select * from stock_info where code='600191' and launch_date < 20191010
1
code is  600192
select * from stock_info where code='600192' and launch_date < 20191010
1
code is  600193
select * from stock_info where code='600193' and launch_date < 20191010
1
code is  600195
select * from stock_info where code='600195' and launch_date < 20191010
1
code is  600196
select * from stock_info where code='600196' and launch_date < 20191010
1
code is  600197
select * from stock_info where code='600197' and launch_date < 20191010
1
code is  600198
select * from stock_info where code='600198' and launch_date < 20191010
1
code is  600199
select * from stock_info where code='600199' and launch_date < 20191010
1
code is  600200
select * from stock_info where code='600200' and launch_date < 20191010
1
code is  600201
select * from stock_info where code='600201' and launch_date < 20191010
1
code is  600202
select * from stock_info where code='600202' and launch_date < 20191010
1
code is  600203
select * from stock_info where code='600203' and launch_date < 20191010
1
code is  600206
select * from stock_info where code='600206' and launch_date < 20191010
1
code is  600207
select * from stock_info where code='600207' and launch_date < 20191010
1
code is  600208
select * from stock_info where code='600208' and launch_date < 20191010
1
code is  600209
select * from stock_info where code='600209' and launch_date < 20191010
1
code is  600210
select * from stock_info where code='600210' and launch_date < 20191010
1
code is  600211
select * from stock_info where code='600211' and launch_date < 20191010
1
code is  600212
select * from stock_info where code='600212' and launch_date < 20191010
1
code is  600213
select * from stock_info where code='600213' and launch_date < 20191010
1
code is  600215
select * from stock_info where code='600215' and launch_date < 20191010
1
code is  600216
select * from stock_info where code='600216' and launch_date < 20191010
1
code is  600217
select * from stock_info where code='600217' and launch_date < 20191010
1
code is  600218
select * from stock_info where code='600218' and launch_date < 20191010
1
code is  600219
select * from stock_info where code='600219' and launch_date < 20191010
1
code is  600220
select * from stock_info where code='600220' and launch_date < 20191010
1
code is  600221
select * from stock_info where code='600221' and launch_date < 20191010
1
code is  600222
select * from stock_info where code='600222' and launch_date < 20191010
1
code is  600223
select * from stock_info where code='600223' and launch_date < 20191010
1
code is  600225
select * from stock_info where code='600225' and launch_date < 20191010
1
code is  600226
select * from stock_info where code='600226' and launch_date < 20191010
1
code is  600227
select * from stock_info where code='600227' and launch_date < 20191010
1
code is  600228
select * from stock_info where code='600228' and launch_date < 20191010
1
code is  600229
select * from stock_info where code='600229' and launch_date < 20191010
1
code is  600230
select * from stock_info where code='600230' and launch_date < 20191010
1
code is  600231
select * from stock_info where code='600231' and launch_date < 20191010
1
code is  600232
select * from stock_info where code='600232' and launch_date < 20191010
1
code is  600233
select * from stock_info where code='600233' and launch_date < 20191010
1
code is  600234
select * from stock_info where code='600234' and launch_date < 20191010
1
code is  600235
select * from stock_info where code='600235' and launch_date < 20191010
1
code is  600236
select * from stock_info where code='600236' and launch_date < 20191010
1
code is  600237
select * from stock_info where code='600237' and launch_date < 20191010
1
code is  600238
select * from stock_info where code='600238' and launch_date < 20191010
1
code is  600239
select * from stock_info where code='600239' and launch_date < 20191010
1
code is  600241
select * from stock_info where code='600241' and launch_date < 20191010
1
code is  600242
select * from stock_info where code='600242' and launch_date < 20191010
1
code is  600243
select * from stock_info where code='600243' and launch_date < 20191010
1
code is  600246
select * from stock_info where code='600246' and launch_date < 20191010
1
code is  600247
select * from stock_info where code='600247' and launch_date < 20191010
1
code is  600248
select * from stock_info where code='600248' and launch_date < 20191010
1
code is  600249
select * from stock_info where code='600249' and launch_date < 20191010
1
code is  600250
select * from stock_info where code='600250' and launch_date < 20191010
1
code is  600251
select * from stock_info where code='600251' and launch_date < 20191010
1
code is  600252
select * from stock_info where code='600252' and launch_date < 20191010
1
code is  600255
select * from stock_info where code='600255' and launch_date < 20191010
1
code is  600256
select * from stock_info where code='600256' and launch_date < 20191010
1
code is  600257
select * from stock_info where code='600257' and launch_date < 20191010
1
code is  600258
select * from stock_info where code='600258' and launch_date < 20191010
1
code is  600259
select * from stock_info where code='600259' and launch_date < 20191010
1
code is  600260
select * from stock_info where code='600260' and launch_date < 20191010
1
code is  600261
select * from stock_info where code='600261' and launch_date < 20191010
1
code is  600262
select * from stock_info where code='600262' and launch_date < 20191010
1
code is  600265
select * from stock_info where code='600265' and launch_date < 20191010
1
code is  600266
select * from stock_info where code='600266' and launch_date < 20191010
1
code is  600267
select * from stock_info where code='600267' and launch_date < 20191010
1
code is  600268
select * from stock_info where code='600268' and launch_date < 20191010
1
code is  600269
select * from stock_info where code='600269' and launch_date < 20191010
1
code is  600271
select * from stock_info where code='600271' and launch_date < 20191010
1
code is  600272
select * from stock_info where code='600272' and launch_date < 20191010
1
code is  600273
select * from stock_info where code='600273' and launch_date < 20191010
1
code is  600275
select * from stock_info where code='600275' and launch_date < 20191010
1
code is  600276
select * from stock_info where code='600276' and launch_date < 20191010
1
code is  600277
select * from stock_info where code='600277' and launch_date < 20191010
1
code is  600278
select * from stock_info where code='600278' and launch_date < 20191010
1
code is  600279
select * from stock_info where code='600279' and launch_date < 20191010
1
code is  600280
select * from stock_info where code='600280' and launch_date < 20191010
1
code is  600281
select * from stock_info where code='600281' and launch_date < 20191010
1
code is  600282
select * from stock_info where code='600282' and launch_date < 20191010
1
code is  600283
select * from stock_info where code='600283' and launch_date < 20191010
1
code is  600284
select * from stock_info where code='600284' and launch_date < 20191010
1
code is  600285
select * from stock_info where code='600285' and launch_date < 20191010
1

code is  600287
select * from stock_info where code='600287' and launch_date < 20191010
1
code is  600288
select * from stock_info where code='600288' and launch_date < 20191010
1
code is  600289
select * from stock_info where code='600289' and launch_date < 20191010
1
code is  600290
select * from stock_info where code='600290' and launch_date < 20191010
1
code is  600291
select * from stock_info where code='600291' and launch_date < 20191010
1
code is  600292
select * from stock_info where code='600292' and launch_date < 20191010
1
code is  600293
select * from stock_info where code='600293' and launch_date < 20191010
1
code is  600295
select * from stock_info where code='600295' and launch_date < 20191010
1
code is  600297
select * from stock_info where code='600297' and launch_date < 20191010
1
code is  600298
select * from stock_info where code='600298' and launch_date < 20191010
1
code is  600299
select * from stock_info where code='600299' and launch_date < 20191010
1
code is  600300
select * from stock_info where code='600300' and launch_date < 20191010
1
code is  600301
select * from stock_info where code='600301' and launch_date < 20191010
1
code is  600302
select * from stock_info where code='600302' and launch_date < 20191010
1
code is  600303
select * from stock_info where code='600303' and launch_date < 20191010
1
code is  600305
select * from stock_info where code='600305' and launch_date < 20191010
1
code is  600306
select * from stock_info where code='600306' and launch_date < 20191010
1
code is  600307
select * from stock_info where code='600307' and launch_date < 20191010
1
code is  600308
select * from stock_info where code='600308' and launch_date < 20191010
1
code is  600309
select * from stock_info where code='600309' and launch_date < 20191010
1
code is  600310
select * from stock_info where code='600310' and launch_date < 20191010
1
code is  600311
select * from stock_info where code='600311' and launch_date < 20191010
1
code is  600312
select * from stock_info where code='600312' and launch_date < 20191010
1
code is  600313
select * from stock_info where code='600313' and launch_date < 20191010
1
code is  600315
select * from stock_info where code='600315' and launch_date < 20191010
1
code is  600316
select * from stock_info where code='600316' and launch_date < 20191010
1
code is  600317
select * from stock_info where code='600317' and launch_date < 20191010
1
code is  600318
select * from stock_info where code='600318' and launch_date < 20191010
1
code is  600319
select * from stock_info where code='600319' and launch_date < 20191010
1
code is  600320
select * from stock_info where code='600320' and launch_date < 20191010
1
code is  600321
select * from stock_info where code='600321' and launch_date < 20191010
1
code is  600322
select * from stock_info where code='600322' and launch_date < 20191010
1
code is  600323
select * from stock_info where code='600323' and launch_date < 20191010
1
code is  600325
select * from stock_info where code='600325' and launch_date < 20191010
1
code is  600326
select * from stock_info where code='600326' and launch_date < 20191010
1
code is  600327
select * from stock_info where code='600327' and launch_date < 20191010
1
code is  600328
select * from stock_info where code='600328' and launch_date < 20191010
1
code is  600329
select * from stock_info where code='600329' and launch_date < 20191010
1
code is  600330
select * from stock_info where code='600330' and launch_date < 20191010
1
code is  600331
select * from stock_info where code='600331' and launch_date < 20191010
1
code is  600332
select * from stock_info where code='600332' and launch_date < 20191010
1
code is  600333
select * from stock_info where code='600333' and launch_date < 20191010
1
code is  600335
select * from stock_info where code='600335' and launch_date < 20191010
1
code is  600336
select * from stock_info where code='600336' and launch_date < 20191010
1
code is  600337
select * from stock_info where code='600337' and launch_date < 20191010
1
code is  600338
select * from stock_info where code='600338' and launch_date < 20191010
1
code is  600339
select * from stock_info where code='600339' and launch_date < 20191010
1
code is  600340
select * from stock_info where code='600340' and launch_date < 20191010
1
code is  600343
select * from stock_info where code='600343' and launch_date < 20191010
1
code is  600345
select * from stock_info where code='600345' and launch_date < 20191010
1
code is  600346
select * from stock_info where code='600346' and launch_date < 20191010
1
code is  600348
select * from stock_info where code='600348' and launch_date < 20191010
1
code is  600350
select * from stock_info where code='600350' and launch_date < 20191010
1
code is  600351
select * from stock_info where code='600351' and launch_date < 20191010
1
code is  600352
select * from stock_info where code='600352' and launch_date < 20191010
1
code is  600353
select * from stock_info where code='600353' and launch_date < 20191010
1
code is  600354
select * from stock_info where code='600354' and launch_date < 20191010
1
code is  600355
select * from stock_info where code='600355' and launch_date < 20191010
1
code is  600356
select * from stock_info where code='600356' and launch_date < 20191010
1
code is  600358
select * from stock_info where code='600358' and launch_date < 20191010
1
code is  600359
select * from stock_info where code='600359' and launch_date < 20191010
1
code is  600360
select * from stock_info where code='600360' and launch_date < 20191010
1
code is  600361
select * from stock_info where code='600361' and launch_date < 20191010
1
code is  600362
select * from stock_info where code='600362' and launch_date < 20191010
1
code is  600363
select * from stock_info where code='600363' and launch_date < 20191010
1
code is  600365
select * from stock_info where code='600365' and launch_date < 20191010
1
code is  600366
select * from stock_info where code='600366' and launch_date < 20191010
1
code is  600367
select * from stock_info where code='600367' and launch_date < 20191010
1
code is  600368
select * from stock_info where code='600368' and launch_date < 20191010
1
code is  600369
select * from stock_info where code='600369' and launch_date < 20191010
1
code is  600370
select * from stock_info where code='600370' and launch_date < 20191010
1
code is  600371
select * from stock_info where code='600371' and launch_date < 20191010
1
code is  600372
select * from stock_info where code='600372' and launch_date < 20191010
1
code is  600373
select * from stock_info where code='600373' and launch_date < 20191010
1
code is  600375
select * from stock_info where code='600375' and launch_date < 20191010
1
code is  600376
select * from stock_info where code='600376' and launch_date < 20191010
1
code is  600377
select * from stock_info where code='600377' and launch_date < 20191010
1
code is  600378
select * from stock_info where code='600378' and launch_date < 20191010
1
code is  600379
select * from stock_info where code='600379' and launch_date < 20191010
1
code is  600380
select * from stock_info where code='600380' and launch_date < 20191010
1
code is  600381
select * from stock_info where code='600381' and launch_date < 20191010
1
code is  600382
select * from stock_info where code='600382' and launch_date < 20191010
1
code is  600383
select * from stock_info where code='600383' and launch_date < 20191010
1
code is  600385
select * from stock_info where code='600385' and launch_date < 20191010
1
code is  600386
select * from stock_info where code='600386' and launch_date < 20191010
1
code is  600387
select * from stock_info where code='600387' and launch_date < 20191010
1
code is  600388
select * from stock_info where code='600388' and launch_date < 20191010
1
code is  600389
select * from stock_info where code='600389' and launch_date < 20191010
1
code is  600390
select * from stock_info where code='600390' and launch_date < 20191010
1
code is  600391
select * from stock_info where code='600391' and launch_date < 20191010
1
code is  600392
select * from stock_info where code='600392' and launch_date < 20191010
1
code is  600393
select * from stock_info where code='600393' and launch_date < 20191010
1
code is  600395
select * from stock_info where code='600395' and launch_date < 20191010
1
code is  600396
select * from stock_info where code='600396' and launch_date < 20191010
1
code is  600397
select * from stock_info where code='600397' and launch_date < 20191010
1
code is  600398
select * from stock_info where code='600398' and launch_date < 20191010
1
code is  600399
select * from stock_info where code='600399' and launch_date < 20191010
1
code is  600400
select * from stock_info where code='600400' and launch_date < 20191010
1
code is  600403
select * from stock_info where code='600403' and launch_date < 20191010
1
code is  600405
select * from stock_info where code='600405' and launch_date < 20191010
1
code is  600406
select * from stock_info where code='600406' and launch_date < 20191010
1
code is  600408
select * from stock_info where code='600408' and launch_date < 20191010
1
code is  600409
select * from stock_info where code='600409' and launch_date < 20191010
1
code is  600410
select * from stock_info where code='600410' and launch_date < 20191010
1
code is  600415
select * from stock_info where code='600415' and launch_date < 20191010

1
code is  600416
select * from stock_info where code='600416' and launch_date < 20191010
1
code is  600418
select * from stock_info where code='600418' and launch_date < 20191010
1
code is  600419
select * from stock_info where code='600419' and launch_date < 20191010
1
code is  600420
select * from stock_info where code='600420' and launch_date < 20191010
1
code is  600421
select * from stock_info where code='600421' and launch_date < 20191010
1
code is  600422
select * from stock_info where code='600422' and launch_date < 20191010
1
code is  600423
select * from stock_info where code='600423' and launch_date < 20191010
1
code is  600425
select * from stock_info where code='600425' and launch_date < 20191010
1
code is  600426
select * from stock_info where code='600426' and launch_date < 20191010
1
code is  600428
select * from stock_info where code='600428' and launch_date < 20191010
1
code is  600429
select * from stock_info where code='600429' and launch_date < 20191010
1
code is  600433
select * from stock_info where code='600433' and launch_date < 20191010
1
code is  600435
select * from stock_info where code='600435' and launch_date < 20191010
1
code is  600436
select * from stock_info where code='600436' and launch_date < 20191010
1
code is  600438
select * from stock_info where code='600438' and launch_date < 20191010
1
code is  600439
select * from stock_info where code='600439' and launch_date < 20191010
1
code is  600444
select * from stock_info where code='600444' and launch_date < 20191010
1
code is  600446
select * from stock_info where code='600446' and launch_date < 20191010
1
code is  600448
select * from stock_info where code='600448' and launch_date < 20191010
1
code is  600449
select * from stock_info where code='600449' and launch_date < 20191010
1
code is  600452
select * from stock_info where code='600452' and launch_date < 20191010
1
code is  600455
select * from stock_info where code='600455' and launch_date < 20191010
1
code is  600456
select * from stock_info where code='600456' and launch_date < 20191010
1
code is  600458
select * from stock_info where code='600458' and launch_date < 20191010
1
code is  600459
select * from stock_info where code='600459' and launch_date < 20191010
1
code is  600460
select * from stock_info where code='600460' and launch_date < 20191010
1
code is  600461
select * from stock_info where code='600461' and launch_date < 20191010
1
code is  600462
select * from stock_info where code='600462' and launch_date < 20191010
1
code is  600463
select * from stock_info where code='600463' and launch_date < 20191010
1
code is  600466
select * from stock_info where code='600466' and launch_date < 20191010
1
code is  600467
select * from stock_info where code='600467' and launch_date < 20191010
1
code is  600468
select * from stock_info where code='600468' and launch_date < 20191010
1
code is  600469
select * from stock_info where code='600469' and launch_date < 20191010
1
code is  600470
select * from stock_info where code='600470' and launch_date < 20191010
1
code is  600475
select * from stock_info where code='600475' and launch_date < 20191010
1
code is  600476
select * from stock_info where code='600476' and launch_date < 20191010
1
code is  600477
select * from stock_info where code='600477' and launch_date < 20191010
1
code is  600478
select * from stock_info where code='600478' and launch_date < 20191010
1
code is  600479
select * from stock_info where code='600479' and launch_date < 20191010
1
code is  600480
select * from stock_info where code='600480' and launch_date < 20191010
1
code is  600481
select * from stock_info where code='600481' and launch_date < 20191010
1
code is  600482
select * from stock_info where code='600482' and launch_date < 20191010
1
code is  600483
select * from stock_info where code='600483' and launch_date < 20191010
1
code is  600485
select * from stock_info where code='600485' and launch_date < 20191010
1
code is  600486
select * from stock_info where code='600486' and launch_date < 20191010
1
code is  600487
select * from stock_info where code='600487' and launch_date < 20191010
1
code is  600488
select * from stock_info where code='600488' and launch_date < 20191010
1
code is  600489
select * from stock_info where code='600489' and launch_date < 20191010
1
code is  600490
select * from stock_info where code='600490' and launch_date < 20191010
1
code is  600491
select * from stock_info where code='600491' and launch_date < 20191010
1
code is  600493
select * from stock_info where code='600493' and launch_date < 20191010
1
code is  600495
select * from stock_info where code='600495' and launch_date < 20191010
1
code is  600496
select * from stock_info where code='600496' and launch_date < 20191010
1
code is  600497
select * from stock_info where code='600497' and launch_date < 20191010
1
code is  600498
select * from stock_info where code='600498' and launch_date < 20191010
1
code is  600499
select * from stock_info where code='600499' and launch_date < 20191010
1
code is  600500
select * from stock_info where code='600500' and launch_date < 20191010
1
code is  600501
select * from stock_info where code='600501' and launch_date < 20191010
1
code is  600502
select * from stock_info where code='600502' and launch_date < 20191010
1
code is  600503
select * from stock_info where code='600503' and launch_date < 20191010
1
code is  600505
select * from stock_info where code='600505' and launch_date < 20191010
1
code is  600506
select * from stock_info where code='600506' and launch_date < 20191010
1
code is  600507
select * from stock_info where code='600507' and launch_date < 20191010
1
code is  600508
select * from stock_info where code='600508' and launch_date < 20191010
1
code is  600509
select * from stock_info where code='600509' and launch_date < 20191010
1
code is  600510
select * from stock_info where code='600510' and launch_date < 20191010
1
code is  600511
select * from stock_info where code='600511' and launch_date < 20191010
1
code is  600512
select * from stock_info where code='600512' and launch_date < 20191010
1
code is  600513
select * from stock_info where code='600513' and launch_date < 20191010
1
code is  600515
select * from stock_info where code='600515' and launch_date < 20191010
1
code is  600516
select * from stock_info where code='600516' and launch_date < 20191010
1
code is  600517
select * from stock_info where code='600517' and launch_date < 20191010
1
code is  600518
select * from stock_info where code='600518' and launch_date < 20191010
1
code is  600519
select * from stock_info where code='600519' and launch_date < 20191010
1
code is  600520
select * from stock_info where code='600520' and launch_date < 20191010
1
code is  600521
select * from stock_info where code='600521' and launch_date < 20191010
1
code is  600522
select * from stock_info where code='600522' and launch_date < 20191010
1
code is  600523
select * from stock_info where code='600523' and launch_date < 20191010
1
code is  600525
select * from stock_info where code='600525' and launch_date < 20191010
1
code is  600526
select * from stock_info where code='600526' and launch_date < 20191010
1
code is  600527
select * from stock_info where code='600527' and launch_date < 20191010
1
code is  600528
select * from stock_info where code='600528' and launch_date < 20191010
1
code is  600529
select * from stock_info where code='600529' and launch_date < 20191010
1
code is  600530
select * from stock_info where code='600530' and launch_date < 20191010
1
code is  600531
select * from stock_info where code='600531' and launch_date < 20191010
1
code is  600532
select * from stock_info where code='600532' and launch_date < 20191010
1
code is  600533
select * from stock_info where code='600533' and launch_date < 20191010
1
code is  600535
select * from stock_info where code='600535' and launch_date < 20191010
1
code is  600536
select * from stock_info where code='600536' and launch_date < 20191010
1
code is  600537
select * from stock_info where code='600537' and launch_date < 20191010
1
code is  600538
select * from stock_info where code='600538' and launch_date < 20191010
1
code is  600539
select * from stock_info where code='600539' and launch_date < 20191010
1
code is  600540
select * from stock_info where code='600540' and launch_date < 20191010
1
code is  600543
select * from stock_info where code='600543' and launch_date < 20191010
1
code is  600545

select * from stock_info where code='600545' and launch_date < 20191010
1
code is  600546
select * from stock_info where code='600546' and launch_date < 20191010
1
code is  600547
select * from stock_info where code='600547' and launch_date < 20191010
1
code is  600548
select * from stock_info where code='600548' and launch_date < 20191010
1
code is  600549
select * from stock_info where code='600549' and launch_date < 20191010
1
code is  600550
select * from stock_info where code='600550' and launch_date < 20191010
1
code is  600551
select * from stock_info where code='600551' and launch_date < 20191010
1
code is  600552
select * from stock_info where code='600552' and launch_date < 20191010
1
code is  600555
select * from stock_info where code='600555' and launch_date < 20191010
1
code is  600556
select * from stock_info where code='600556' and launch_date < 20191010
1
code is  600557
select * from stock_info where code='600557' and launch_date < 20191010
1
code is  600558
select * from stock_info where code='600558' and launch_date < 20191010
1
code is  600559
select * from stock_info where code='600559' and launch_date < 20191010
1
code is  600560
select * from stock_info where code='600560' and launch_date < 20191010
1
code is  600561
select * from stock_info where code='600561' and launch_date < 20191010
1
code is  600562
select * from stock_info where code='600562' and launch_date < 20191010
1
code is  600563
select * from stock_info where code='600563' and launch_date < 20191010
1
code is  600565
select * from stock_info where code='600565' and launch_date < 20191010
1
code is  600566
select * from stock_info where code='600566' and launch_date < 20191010
1
code is  600567
select * from stock_info where code='600567' and launch_date < 20191010
1
code is  600568
select * from stock_info where code='600568' and launch_date < 20191010
1
code is  600569
select * from stock_info where code='600569' and launch_date < 20191010
1
code is  600570
select * from stock_info where code='600570' and launch_date < 20191010
1
code is  600571
select * from stock_info where code='600571' and launch_date < 20191010
1
code is  600572
select * from stock_info where code='600572' and launch_date < 20191010
1
code is  600573
select * from stock_info where code='600573' and launch_date < 20191010
1
code is  600575
select * from stock_info where code='600575' and launch_date < 20191010
1
code is  600576
select * from stock_info where code='600576' and launch_date < 20191010
1
code is  600577
select * from stock_info where code='600577' and launch_date < 20191010
1
code is  600578
select * from stock_info where code='600578' and launch_date < 20191010
1
code is  600579
select * from stock_info where code='600579' and launch_date < 20191010
1
code is  600580
select * from stock_info where code='600580' and launch_date < 20191010
1
code is  600581
select * from stock_info where code='600581' and launch_date < 20191010
1
code is  600582
select * from stock_info where code='600582' and launch_date < 20191010
1
code is  600583
select * from stock_info where code='600583' and launch_date < 20191010
1
code is  600584
select * from stock_info where code='600584' and launch_date < 20191010
1
code is  600585
select * from stock_info where code='600585' and launch_date < 20191010
1
code is  600586
select * from stock_info where code='600586' and launch_date < 20191010
1
code is  600587
select * from stock_info where code='600587' and launch_date < 20191010
1
code is  600588
select * from stock_info where code='600588' and launch_date < 20191010
1
code is  600589
select * from stock_info where code='600589' and launch_date < 20191010
1
code is  600590
select * from stock_info where code='600590' and launch_date < 20191010
1
code is  600592
select * from stock_info where code='600592' and launch_date < 20191010
1
code is  600593
select * from stock_info where code='600593' and launch_date < 20191010
1
code is  600594
select * from stock_info where code='600594' and launch_date < 20191010
1
code is  600595
select * from stock_info where code='600595' and launch_date < 20191010
1
code is  600596
select * from stock_info where code='600596' and launch_date < 20191010
1
code is  600597
select * from stock_info where code='600597' and launch_date < 20191010
1
code is  600598
select * from stock_info where code='600598' and launch_date < 20191010
1
code is  600599
select * from stock_info where code='600599' and launch_date < 20191010
1
code is  600600
select * from stock_info where code='600600' and launch_date < 20191010
1
code is  600601
select * from stock_info where code='600601' and launch_date < 20191010
1
code is  600602
select * from stock_info where code='600602' and launch_date < 20191010
1
code is  600603
select * from stock_info where code='600603' and launch_date < 20191010
1
code is  600604
select * from stock_info where code='600604' and launch_date < 20191010
1
code is  600605
select * from stock_info where code='600605' and launch_date < 20191010
1
code is  600606
select * from stock_info where code='600606' and launch_date < 20191010
1
code is  600608
select * from stock_info where code='600608' and launch_date < 20191010
1
code is  600609
select * from stock_info where code='600609' and launch_date < 20191010
1
code is  600610
select * from stock_info where code='600610' and launch_date < 20191010
1
code is  600611
select * from stock_info where code='600611' and launch_date < 20191010
1
code is  600612
select * from stock_info where code='600612' and launch_date < 20191010
1
code is  600613
select * from stock_info where code='600613' and launch_date < 20191010
1
code is  600614
select * from stock_info where code='600614' and launch_date < 20191010
1
code is  600615
select * from stock_info where code='600615' and launch_date < 20191010
1
code is  600616
select * from stock_info where code='600616' and launch_date < 20191010
1
code is  600617
select * from stock_info where code='600617' and launch_date < 20191010
1
code is  600618
select * from stock_info where code='600618' and launch_date < 20191010
1
code is  600619
select * from stock_info where code='600619' and launch_date < 20191010
1
code is  600620
select * from stock_info where code='600620' and launch_date < 20191010
1
code is  600621
select * from stock_info where code='600621' and launch_date < 20191010
1
code is  600622
select * from stock_info where code='600622' and launch_date < 20191010
1
code is  600623
select * from stock_info where code='600623' and launch_date < 20191010
1
code is  600624
select * from stock_info where code='600624' and launch_date < 20191010
1
code is  600626
select * from stock_info where code='600626' and launch_date < 20191010
1
code is  600628
select * from stock_info where code='600628' and launch_date < 20191010
1
code is  600629
select * from stock_info where code='600629' and launch_date < 20191010
1
code is  600630
select * from stock_info where code='600630' and launch_date < 20191010
1
code is  600633
select * from stock_info where code='600633' and launch_date < 20191010
1
code is  600634
select * from stock_info where code='600634' and launch_date < 20191010
1
code is  600635
select * from stock_info where code='600635' and launch_date < 20191010
1
code is  600636
select * from stock_info where code='600636' and launch_date < 20191010
1
code is  600637
select * from stock_info where code='600637' and launch_date < 20191010
1
code is  600638
select * from stock_info where code='600638' and launch_date < 20191010
1
code is  600639
select * from stock_info where code='600639' and launch_date < 20191010
1
code is  600640
select * from stock_info where code='600640' and launch_date < 20191010
1
code is  600641
select * from stock_info where code='600641' and launch_date < 20191010
1
code is  600642
select * from stock_info where code='600642' and launch_date < 20191010
1
code is  600643
select * from stock_info where code='600643' and launch_date < 20191010
1
code is  600644
select * from stock_info where code='600644' and launch_date < 20191010
1
code is  600645
select * from stock_info where code='600645' and launch_date < 20191010
1
code is  600647
select * from stock_info where code='600647' and launch_date < 20191010
1
code is  600648
select * from stock_info where code='600648' and launch_date < 20191010
1
code is  600649
select * from stock_info where code='600649' and launch_date < 20191010
1
code is  600650
select * from stock_info where code='600650' and launch_date < 20191010
1
code is  600651
select * from stock_info where code='600651' and launch_date < 20191010
1
code is  600652
select * from stock_info where code='600652' and launch_date < 20191010
1
code is  600653
select * from stock_info where code='600653' and launch_date < 20191010
1
code is  600654
select * from stock_info where code='600654' and launch_date < 20191010
1
code is  600655
select * from stock_info where code='600655' and launch_date < 20191010

1
code is  600657
select * from stock_info where code='600657' and launch_date < 20191010
1
code is  600658
select * from stock_info where code='600658' and launch_date < 20191010
1
code is  600660
select * from stock_info where code='600660' and launch_date < 20191010
1
code is  600661
select * from stock_info where code='600661' and launch_date < 20191010
1
code is  600662
select * from stock_info where code='600662' and launch_date < 20191010
1
code is  600663
select * from stock_info where code='600663' and launch_date < 20191010
1
code is  600664
select * from stock_info where code='600664' and launch_date < 20191010
1
code is  600665
select * from stock_info where code='600665' and launch_date < 20191010
1
code is  600666
select * from stock_info where code='600666' and launch_date < 20191010
1
code is  600667
select * from stock_info where code='600667' and launch_date < 20191010
1
code is  600668
select * from stock_info where code='600668' and launch_date < 20191010
1
code is  600671
select * from stock_info where code='600671' and launch_date < 20191010
1
code is  600673
select * from stock_info where code='600673' and launch_date < 20191010
1
code is  600674
select * from stock_info where code='600674' and launch_date < 20191010
1
code is  600675
select * from stock_info where code='600675' and launch_date < 20191010
1
code is  600676
select * from stock_info where code='600676' and launch_date < 20191010
1
code is  600677
select * from stock_info where code='600677' and launch_date < 20191010
1
code is  600678
select * from stock_info where code='600678' and launch_date < 20191010
1
code is  600679
select * from stock_info where code='600679' and launch_date < 20191010
1
code is  600681
select * from stock_info where code='600681' and launch_date < 20191010
1
code is  600682
select * from stock_info where code='600682' and launch_date < 20191010
1
code is  600683
select * from stock_info where code='600683' and launch_date < 20191010
1
code is  600684
select * from stock_info where code='600684' and launch_date < 20191010
1
code is  600685
select * from stock_info where code='600685' and launch_date < 20191010
1
code is  600686
select * from stock_info where code='600686' and launch_date < 20191010
1
code is  600687
select * from stock_info where code='600687' and launch_date < 20191010
1
code is  600688
select * from stock_info where code='600688' and launch_date < 20191010
1
code is  600689
select * from stock_info where code='600689' and launch_date < 20191010
1
code is  600690
select * from stock_info where code='600690' and launch_date < 20191010
1
code is  600691
select * from stock_info where code='600691' and launch_date < 20191010
1
code is  600692
select * from stock_info where code='600692' and launch_date < 20191010
1
code is  600693
select * from stock_info where code='600693' and launch_date < 20191010
1
code is  600694
select * from stock_info where code='600694' and launch_date < 20191010
1
code is  600695
select * from stock_info where code='600695' and launch_date < 20191010
1
code is  600696
select * from stock_info where code='600696' and launch_date < 20191010
1
code is  600697
select * from stock_info where code='600697' and launch_date < 20191010
1
code is  600698
select * from stock_info where code='600698' and launch_date < 20191010
1
code is  600699
select * from stock_info where code='600699' and launch_date < 20191010
1
code is  600701
select * from stock_info where code='600701' and launch_date < 20191010
1
code is  600702
select * from stock_info where code='600702' and launch_date < 20191010
1
code is  600703
select * from stock_info where code='600703' and launch_date < 20191010
1
code is  600704
select * from stock_info where code='600704' and launch_date < 20191010
1
code is  600705
select * from stock_info where code='600705' and launch_date < 20191010
1
code is  600706
select * from stock_info where code='600706' and launch_date < 20191010
1
code is  600707
select * from stock_info where code='600707' and launch_date < 20191010
1
code is  600708
select * from stock_info where code='600708' and launch_date < 20191010
1
code is  600710
select * from stock_info where code='600710' and launch_date < 20191010
1
code is  600711
select * from stock_info where code='600711' and launch_date < 20191010
1
code is  600712
select * from stock_info where code='600712' and launch_date < 20191010
1
code is  600713
select * from stock_info where code='600713' and launch_date < 20191010
1
code is  600714
select * from stock_info where code='600714' and launch_date < 20191010
1
code is  600715
select * from stock_info where code='600715' and launch_date < 20191010
1
code is  600716
select * from stock_info where code='600716' and launch_date < 20191010
1
code is  600717
select * from stock_info where code='600717' and launch_date < 20191010
1
code is  600718
select * from stock_info where code='600718' and launch_date < 20191010
1
code is  600719
select * from stock_info where code='600719' and launch_date < 20191010
1
code is  600720
select * from stock_info where code='600720' and launch_date < 20191010
1
code is  600721
select * from stock_info where code='600721' and launch_date < 20191010
1
code is  600722
select * from stock_info where code='600722' and launch_date < 20191010
1
code is  600723
select * from stock_info where code='600723' and launch_date < 20191010
1
code is  600724
select * from stock_info where code='600724' and launch_date < 20191010
1
code is  600725
select * from stock_info where code='600725' and launch_date < 20191010
1
code is  600726
select * from stock_info where code='600726' and launch_date < 20191010
1
code is  600727
select * from stock_info where code='600727' and launch_date < 20191010
1
code is  600728
select * from stock_info where code='600728' and launch_date < 20191010
1
code is  600729
select * from stock_info where code='600729' and launch_date < 20191010
1
code is  600730
select * from stock_info where code='600730' and launch_date < 20191010
1
code is  600731
select * from stock_info where code='600731' and launch_date < 20191010
1
code is  600732
select * from stock_info where code='600732' and launch_date < 20191010
1
code is  600733
select * from stock_info where code='600733' and launch_date < 20191010
1
code is  600734
select * from stock_info where code='600734' and launch_date < 20191010
1
code is  600735
select * from stock_info where code='600735' and launch_date < 20191010
1
code is  600736
select * from stock_info where code='600736' and launch_date < 20191010
1
code is  600737
select * from stock_info where code='600737' and launch_date < 20191010
1
code is  600738
select * from stock_info where code='600738' and launch_date < 20191010
1
code is  600739
select * from stock_info where code='600739' and launch_date < 20191010
1
code is  600740
select * from stock_info where code='600740' and launch_date < 20191010
1
code is  600741
select * from stock_info where code='600741' and launch_date < 20191010
1
code is  600742
select * from stock_info where code='600742' and launch_date < 20191010
1
code is  600743
select * from stock_info where code='600743' and launch_date < 20191010
1
code is  600744
select * from stock_info where code='600744' and launch_date < 20191010
1
code is  600745
select * from stock_info where code='600745' and launch_date < 20191010
1
code is  600746
select * from stock_info where code='600746' and launch_date < 20191010
1
code is  600748
select * from stock_info where code='600748' and launch_date < 20191010
1
code is  600749
select * from stock_info where code='600749' and launch_date < 20191010
1
code is  600750
select * from stock_info where code='600750' and launch_date < 20191010
1
code is  600751
select * from stock_info where code='600751' and launch_date < 20191010
1
code is  600753
select * from stock_info where code='600753' and launch_date < 20191010
1
code is  600754
select * from stock_info where code='600754' and launch_date < 20191010
1
code is  600755
select * from stock_info where code='600755' and launch_date < 20191010
1
code is  600756
select * from stock_info where code='600756' and launch_date < 20191010
1
code is  600757
select * from stock_info where code='600757' and launch_date < 20191010
1
code is  600758
select * from stock_info where code='600758' and launch_date < 20191010
1
code is  600759
select * from stock_info where code='600759' and launch_date < 20191010
1
code is  600760
select * from stock_info where code='600760' and launch_date < 20191010
1
code is  600761
select * from stock_info where code='600761' and launch_date < 20191010
1
code is  600763
select * from stock_info where code='600763' and launch_date < 20191010
1
code is  600764
select * from stock_info where code='600764' and launch_date < 20191010
1
code is  600765
select * from stock_info where code='600765' and launch_date < 20191010
1
code is  600766
select * from stock_info where code='600766' and launch_date < 20191010
1
code is  600767
select * from stock_info where code='600767' and launch_date < 20191010
1
code is  600768
select * from stock_info where code='600768' and launch_date < 20191010
1
code is  600769
select * from stock_info where code='600769' and launch_date < 20191010
1

code is  600770
select * from stock_info where code='600770' and launch_date < 20191010
1
code is  600771
select * from stock_info where code='600771' and launch_date < 20191010
1
code is  600773
select * from stock_info where code='600773' and launch_date < 20191010
1
code is  600774
select * from stock_info where code='600774' and launch_date < 20191010
1
code is  600775
select * from stock_info where code='600775' and launch_date < 20191010
1
code is  600776
select * from stock_info where code='600776' and launch_date < 20191010
1
code is  600777
select * from stock_info where code='600777' and launch_date < 20191010
1
code is  600778
select * from stock_info where code='600778' and launch_date < 20191010
1
code is  600779
select * from stock_info where code='600779' and launch_date < 20191010
1
code is  600780
select * from stock_info where code='600780' and launch_date < 20191010
1
code is  600781
select * from stock_info where code='600781' and launch_date < 20191010
1
code is  600782
select * from stock_info where code='600782' and launch_date < 20191010
1
code is  600783
select * from stock_info where code='600783' and launch_date < 20191010
1
code is  600784
select * from stock_info where code='600784' and launch_date < 20191010
1
code is  600785
select * from stock_info where code='600785' and launch_date < 20191010
1
code is  600787
select * from stock_info where code='600787' and launch_date < 20191010
1
code is  600789
select * from stock_info where code='600789' and launch_date < 20191010
1
code is  600790
select * from stock_info where code='600790' and launch_date < 20191010
1
code is  600791
select * from stock_info where code='600791' and launch_date < 20191010
1
code is  600792
select * from stock_info where code='600792' and launch_date < 20191010
1
code is  600793
select * from stock_info where code='600793' and launch_date < 20191010
1
code is  600794
select * from stock_info where code='600794' and launch_date < 20191010
1
code is  600795
select * from stock_info where code='600795' and launch_date < 20191010
1
code is  600796
select * from stock_info where code='600796' and launch_date < 20191010
1
code is  600797
select * from stock_info where code='600797' and launch_date < 20191010
1
code is  600798
select * from stock_info where code='600798' and launch_date < 20191010
1
code is  600800
select * from stock_info where code='600800' and launch_date < 20191010
1
code is  600801
select * from stock_info where code='600801' and launch_date < 20191010
1
code is  600802
select * from stock_info where code='600802' and launch_date < 20191010
1
code is  600803
select * from stock_info where code='600803' and launch_date < 20191010
1
code is  600804
select * from stock_info where code='600804' and launch_date < 20191010
1
code is  600805
select * from stock_info where code='600805' and launch_date < 20191010
1
code is  600807
select * from stock_info where code='600807' and launch_date < 20191010
1
code is  600808
select * from stock_info where code='600808' and launch_date < 20191010
1
code is  600809
select * from stock_info where code='600809' and launch_date < 20191010
1
code is  600810
select * from stock_info where code='600810' and launch_date < 20191010
1
code is  600811
select * from stock_info where code='600811' and launch_date < 20191010
1
code is  600812
select * from stock_info where code='600812' and launch_date < 20191010
1
code is  600814
select * from stock_info where code='600814' and launch_date < 20191010
1
code is  600815
select * from stock_info where code='600815' and launch_date < 20191010
1
code is  600816
select * from stock_info where code='600816' and launch_date < 20191010
1
code is  600817
select * from stock_info where code='600817' and launch_date < 20191010
1
code is  600818
select * from stock_info where code='600818' and launch_date < 20191010
1
code is  600819
select * from stock_info where code='600819' and launch_date < 20191010
1
code is  600820
select * from stock_info where code='600820' and launch_date < 20191010
1
code is  600821
select * from stock_info where code='600821' and launch_date < 20191010
1
code is  600822
select * from stock_info where code='600822' and launch_date < 20191010
1
code is  600823
select * from stock_info where code='600823' and launch_date < 20191010
1
code is  600824
select * from stock_info where code='600824' and launch_date < 20191010
1
code is  600825
select * from stock_info where code='600825' and launch_date < 20191010
1
code is  600826
select * from stock_info where code='600826' and launch_date < 20191010
1
code is  600827
select * from stock_info where code='600827' and launch_date < 20191010
1
code is  600828
select * from stock_info where code='600828' and launch_date < 20191010
1
code is  600829
select * from stock_info where code='600829' and launch_date < 20191010
1
code is  600830
select * from stock_info where code='600830' and launch_date < 20191010
1
code is  600831
select * from stock_info where code='600831' and launch_date < 20191010
1
code is  600833
select * from stock_info where code='600833' and launch_date < 20191010
1
code is  600834
select * from stock_info where code='600834' and launch_date < 20191010
1
code is  600835
select * from stock_info where code='600835' and launch_date < 20191010
1
code is  600836
select * from stock_info where code='600836' and launch_date < 20191010
1
code is  600837
select * from stock_info where code='600837' and launch_date < 20191010
1
code is  600838
select * from stock_info where code='600838' and launch_date < 20191010
1
code is  600839
select * from stock_info where code='600839' and launch_date < 20191010
1
code is  600841
select * from stock_info where code='600841' and launch_date < 20191010
1
code is  600843
select * from stock_info where code='600843' and launch_date < 20191010
1
code is  600844
select * from stock_info where code='600844' and launch_date < 20191010
1
code is  600845
select * from stock_info where code='600845' and launch_date < 20191010
1
code is  600846
select * from stock_info where code='600846' and launch_date < 20191010
1
code is  600847
select * from stock_info where code='600847' and launch_date < 20191010
1
code is  600848
select * from stock_info where code='600848' and launch_date < 20191010
1
code is  600850
select * from stock_info where code='600850' and launch_date < 20191010
1
code is  600851
select * from stock_info where code='600851' and launch_date < 20191010
1
code is  600853
select * from stock_info where code='600853' and launch_date < 20191010
1
code is  600854
select * from stock_info where code='600854' and launch_date < 20191010
1
code is  600855
select * from stock_info where code='600855' and launch_date < 20191010
1
code is  600856
select * from stock_info where code='600856' and launch_date < 20191010
1
code is  600857
select * from stock_info where code='600857' and launch_date < 20191010
1
code is  600858
select * from stock_info where code='600858' and launch_date < 20191010
1
code is  600859
select * from stock_info where code='600859' and launch_date < 20191010
1
code is  600860
select * from stock_info where code='600860' and launch_date < 20191010
1
code is  600861
select * from stock_info where code='600861' and launch_date < 20191010
1
code is  600862
select * from stock_info where code='600862' and launch_date < 20191010
1
code is  600863
select * from stock_info where code='600863' and launch_date < 20191010
1
code is  600864
select * from stock_info where code='600864' and launch_date < 20191010
1
code is  600865
select * from stock_info where code='600865' and launch_date < 20191010
1
code is  600866
select * from stock_info where code='600866' and launch_date < 20191010
1
code is  600867
select * from stock_info where code='600867' and launch_date < 20191010
1
code is  600868
select * from stock_info where code='600868' and launch_date < 20191010
1
code is  600869
select * from stock_info where code='600869' and launch_date < 20191010
1
code is  600870
select * from stock_info where code='600870' and launch_date < 20191010
1
code is  600871
select * from stock_info where code='600871' and launch_date < 20191010
1
code is  600872
select * from stock_info where code='600872' and launch_date < 20191010
1
code is  600873
select * from stock_info where code='600873' and launch_date < 20191010
1
code is  600874
select * from stock_info where code='600874' and launch_date < 20191010
1
code is  600875
select * from stock_info where code='600875' and launch_date < 20191010
1
code is  600876
select * from stock_info where code='600876' and launch_date < 20191010
1
code is  600877
select * from stock_info where code='600877' and launch_date < 20191010
1
code is  600879
select * from stock_info where code='600879' and launch_date < 20191010
1
code is  600880
select * from stock_info where code='600880' and launch_date < 20191010
1
code is  600881
select * from stock_info where code='600881' and launch_date < 20191010
1
code is  600882
select * from stock_info where code='600882' and launch_date < 20191010
1
code is  600883
select * from stock_info where code='600883' and launch_date < 20191010
1
code is  600884
select * from stock_info where code='600884' and launch_date < 20191010

1
code is  600885
select * from stock_info where code='600885' and launch_date < 20191010
1
code is  600886
select * from stock_info where code='600886' and launch_date < 20191010
1
code is  600887
select * from stock_info where code='600887' and launch_date < 20191010
1
code is  600888
select * from stock_info where code='600888' and launch_date < 20191010
1
code is  600889
select * from stock_info where code='600889' and launch_date < 20191010
1
code is  600890
select * from stock_info where code='600890' and launch_date < 20191010
1
code is  600891
select * from stock_info where code='600891' and launch_date < 20191010
1
code is  600892
select * from stock_info where code='600892' and launch_date < 20191010
1
code is  600893
select * from stock_info where code='600893' and launch_date < 20191010
1
code is  600894
select * from stock_info where code='600894' and launch_date < 20191010
1
code is  600895
select * from stock_info where code='600895' and launch_date < 20191010
1
code is  600896
select * from stock_info where code='600896' and launch_date < 20191010
1
code is  600897
select * from stock_info where code='600897' and launch_date < 20191010
1
code is  600898
select * from stock_info where code='600898' and launch_date < 20191010
1
code is  600900
select * from stock_info where code='600900' and launch_date < 20191010
1
code is  600901
select * from stock_info where code='600901' and launch_date < 20191010
1
code is  600903
select * from stock_info where code='600903' and launch_date < 20191010
1
code is  600908
select * from stock_info where code='600908' and launch_date < 20191010
1
code is  600909
select * from stock_info where code='600909' and launch_date < 20191010
1
code is  600917
select * from stock_info where code='600917' and launch_date < 20191010
1
code is  600919
select * from stock_info where code='600919' and launch_date < 20191010
1
code is  600926
select * from stock_info where code='600926' and launch_date < 20191010
1
code is  600928
select * from stock_info where code='600928' and launch_date < 20191010
1
code is  600929
select * from stock_info where code='600929' and launch_date < 20191010
1
code is  600933
select * from stock_info where code='600933' and launch_date < 20191010
1
code is  600936
select * from stock_info where code='600936' and launch_date < 20191010
1
code is  600939
select * from stock_info where code='600939' and launch_date < 20191010
1
code is  600958
select * from stock_info where code='600958' and launch_date < 20191010
1
code is  600959
select * from stock_info where code='600959' and launch_date < 20191010
1
code is  600960
select * from stock_info where code='600960' and launch_date < 20191010
1
code is  600961
select * from stock_info where code='600961' and launch_date < 20191010
1
code is  600962
select * from stock_info where code='600962' and launch_date < 20191010
1
code is  600963
select * from stock_info where code='600963' and launch_date < 20191010
1
code is  600965
select * from stock_info where code='600965' and launch_date < 20191010
1
code is  600966
select * from stock_info where code='600966' and launch_date < 20191010
1
code is  600967
select * from stock_info where code='600967' and launch_date < 20191010
1
code is  600968
select * from stock_info where code='600968' and launch_date < 20191010
1
code is  600969
select * from stock_info where code='600969' and launch_date < 20191010
1
code is  600970
select * from stock_info where code='600970' and launch_date < 20191010
1
code is  600971
select * from stock_info where code='600971' and launch_date < 20191010
1
code is  600973
select * from stock_info where code='600973' and launch_date < 20191010
1
code is  600975
select * from stock_info where code='600975' and launch_date < 20191010
1
code is  600976
select * from stock_info where code='600976' and launch_date < 20191010
1
code is  600977
select * from stock_info where code='600977' and launch_date < 20191010
1
code is  600978
select * from stock_info where code='600978' and launch_date < 20191010
1
code is  600979
select * from stock_info where code='600979' and launch_date < 20191010
1
code is  600980
select * from stock_info where code='600980' and launch_date < 20191010
1
code is  600981
select * from stock_info where code='600981' and launch_date < 20191010
1
code is  600982
select * from stock_info where code='600982' and launch_date < 20191010
1
code is  600983
select * from stock_info where code='600983' and launch_date < 20191010
1
code is  600984
select * from stock_info where code='600984' and launch_date < 20191010
1
code is  600985
select * from stock_info where code='600985' and launch_date < 20191010
1
code is  600986
select * from stock_info where code='600986' and launch_date < 20191010
1
code is  600987
select * from stock_info where code='600987' and launch_date < 20191010
1
code is  600988
select * from stock_info where code='600988' and launch_date < 20191010
1
code is  600989
select * from stock_info where code='600989' and launch_date < 20191010
1
code is  600990
select * from stock_info where code='600990' and launch_date < 20191010
1
code is  600992
select * from stock_info where code='600992' and launch_date < 20191010
1
code is  600993
select * from stock_info where code='600993' and launch_date < 20191010
1
code is  600995
select * from stock_info where code='600995' and launch_date < 20191010
1
code is  600996
select * from stock_info where code='600996' and launch_date < 20191010
1
code is  600997
select * from stock_info where code='600997' and launch_date < 20191010
1
code is  600998
select * from stock_info where code='600998' and launch_date < 20191010
1
code is  600999
select * from stock_info where code='600999' and launch_date < 20191010
1
code is  601000
select * from stock_info where code='601000' and launch_date < 20191010
1
code is  601001
select * from stock_info where code='601001' and launch_date < 20191010
1
code is  601002
select * from stock_info where code='601002' and launch_date < 20191010
1
code is  601003
select * from stock_info where code='601003' and launch_date < 20191010
1
code is  601005
select * from stock_info where code='601005' and launch_date < 20191010
1
code is  601006
select * from stock_info where code='601006' and launch_date < 20191010
1
code is  601007
select * from stock_info where code='601007' and launch_date < 20191010
1
code is  601008
select * from stock_info where code='601008' and launch_date < 20191010
1
code is  601009
select * from stock_info where code='601009' and launch_date < 20191010
1
code is  601010
select * from stock_info where code='601010' and launch_date < 20191010
1
code is  601011
select * from stock_info where code='601011' and launch_date < 20191010
1
code is  601012
select * from stock_info where code='601012' and launch_date < 20191010
1
code is  601015
select * from stock_info where code='601015' and launch_date < 20191010
1
code is  601016
select * from stock_info where code='601016' and launch_date < 20191010
1
code is  601018
select * from stock_info where code='601018' and launch_date < 20191010
1
code is  601019
select * from stock_info where code='601019' and launch_date < 20191010
1
code is  601020
select * from stock_info where code='601020' and launch_date < 20191010
1
code is  601021
select * from stock_info where code='601021' and launch_date < 20191010
1
code is  601028
select * from stock_info where code='601028' and launch_date < 20191010
1
code is  601038
select * from stock_info where code='601038' and launch_date < 20191010
1
code is  601058
select * from stock_info where code='601058' and launch_date < 20191010
1
code is  601066
select * from stock_info where code='601066' and launch_date < 20191010
1
code is  601068
select * from stock_info where code='601068' and launch_date < 20191010
1
code is  601069
select * from stock_info where code='601069' and launch_date < 20191010
1
code is  601077
select * from stock_info where code='601077' and launch_date < 20191010
0
code is  601086
select * from stock_info where code='601086' and launch_date < 20191010
1
code is  601088
select * from stock_info where code='601088' and launch_date < 20191010
1
code is  601098
select * from stock_info where code='601098' and launch_date < 20191010
1
code is  601099
select * from stock_info where code='601099' and launch_date < 20191010
1
code is  601100
select * from stock_info where code='601100' and launch_date < 20191010
1
code is  601101
select * from stock_info where code='601101' and launch_date < 20191010
1
code is  601106
select * from stock_info where code='601106' and launch_date < 20191010
1
code is  601107
select * from stock_info where code='601107' and launch_date < 20191010
1
code is  601108
select * from stock_info where code='601108' and launch_date < 20191010
1
code is  601111
select * from stock_info where code='601111' and launch_date < 20191010
1
code is  601113
select * from stock_info where code='601113' and launch_date < 20191010
1
code is  601116
select * from stock_info where code='601116' and launch_date < 20191010

1
code is  601117
select * from stock_info where code='601117' and launch_date < 20191010
1
code is  601118
select * from stock_info where code='601118' and launch_date < 20191010
1
code is  601126
select * from stock_info where code='601126' and launch_date < 20191010
1
code is  601127
select * from stock_info where code='601127' and launch_date < 20191010
1
code is  601128
select * from stock_info where code='601128' and launch_date < 20191010
1
code is  601137
select * from stock_info where code='601137' and launch_date < 20191010
1
code is  601138
select * from stock_info where code='601138' and launch_date < 20191010
1
code is  601139
select * from stock_info where code='601139' and launch_date < 20191010
1
code is  601155
select * from stock_info where code='601155' and launch_date < 20191010
1
code is  601158
select * from stock_info where code='601158' and launch_date < 20191010
1
code is  601162
select * from stock_info where code='601162' and launch_date < 20191010
1
code is  601163
select * from stock_info where code='601163' and launch_date < 20191010
1
code is  601166
select * from stock_info where code='601166' and launch_date < 20191010
1
code is  601168
select * from stock_info where code='601168' and launch_date < 20191010
1
code is  601169
select * from stock_info where code='601169' and launch_date < 20191010
1
code is  601177
select * from stock_info where code='601177' and launch_date < 20191010
1
code is  601179
select * from stock_info where code='601179' and launch_date < 20191010
1
code is  601186
select * from stock_info where code='601186' and launch_date < 20191010
1
code is  601188
select * from stock_info where code='601188' and launch_date < 20191010
1
code is  601198
select * from stock_info where code='601198' and launch_date < 20191010
1
code is  601199
select * from stock_info where code='601199' and launch_date < 20191010
1
code is  601200
select * from stock_info where code='601200' and launch_date < 20191010
1
code is  601208
select * from stock_info where code='601208' and launch_date < 20191010
1
code is  601211
select * from stock_info where code='601211' and launch_date < 20191010
1
code is  601212
select * from stock_info where code='601212' and launch_date < 20191010
1
code is  601216
select * from stock_info where code='601216' and launch_date < 20191010
1
code is  601218
select * from stock_info where code='601218' and launch_date < 20191010
1
code is  601222
select * from stock_info where code='601222' and launch_date < 20191010
1
code is  601225
select * from stock_info where code='601225' and launch_date < 20191010
1
code is  601226
select * from stock_info where code='601226' and launch_date < 20191010
1
code is  601228
select * from stock_info where code='601228' and launch_date < 20191010
1
code is  601229
select * from stock_info where code='601229' and launch_date < 20191010
1
code is  601231
select * from stock_info where code='601231' and launch_date < 20191010
1
code is  601233
select * from stock_info where code='601233' and launch_date < 20191010
1
code is  601236
select * from stock_info where code='601236' and launch_date < 20191010
1
code is  601238
select * from stock_info where code='601238' and launch_date < 20191010
1
code is  601258
select * from stock_info where code='601258' and launch_date < 20191010
1
code is  601288
select * from stock_info where code='601288' and launch_date < 20191010
1
code is  601298
select * from stock_info where code='601298' and launch_date < 20191010
1
code is  601311
select * from stock_info where code='601311' and launch_date < 20191010
1
code is  601318
select * from stock_info where code='601318' and launch_date < 20191010
1
code is  601319
select * from stock_info where code='601319' and launch_date < 20191010
1
code is  601326
select * from stock_info where code='601326' and launch_date < 20191010
1
code is  601328
select * from stock_info where code='601328' and launch_date < 20191010
1
code is  601330
select * from stock_info where code='601330' and launch_date < 20191010
1
code is  601333
select * from stock_info where code='601333' and launch_date < 20191010
1
code is  601336
select * from stock_info where code='601336' and launch_date < 20191010
1
code is  601339
select * from stock_info where code='601339' and launch_date < 20191010
1
code is  601360
select * from stock_info where code='601360' and launch_date < 20191010
1
code is  601366
select * from stock_info where code='601366' and launch_date < 20191010
1
code is  601368
select * from stock_info where code='601368' and launch_date < 20191010
1
code is  601369
select * from stock_info where code='601369' and launch_date < 20191010
1
code is  601375
select * from stock_info where code='601375' and launch_date < 20191010
1
code is  601377
select * from stock_info where code='601377' and launch_date < 20191010
1
code is  601388
select * from stock_info where code='601388' and launch_date < 20191010
1
code is  601390
select * from stock_info where code='601390' and launch_date < 20191010
1
code is  601398
select * from stock_info where code='601398' and launch_date < 20191010
1
code is  601500
select * from stock_info where code='601500' and launch_date < 20191010
1
code is  601515
select * from stock_info where code='601515' and launch_date < 20191010
1
code is  601518
select * from stock_info where code='601518' and launch_date < 20191010
1
code is  601519
select * from stock_info where code='601519' and launch_date < 20191010
1
code is  601555
select * from stock_info where code='601555' and launch_date < 20191010
1
code is  601558
select * from stock_info where code='601558' and launch_date < 20191010
1
code is  601566
select * from stock_info where code='601566' and launch_date < 20191010
1
code is  601567
select * from stock_info where code='601567' and launch_date < 20191010
1
code is  601577
select * from stock_info where code='601577' and launch_date < 20191010
1
code is  601579
select * from stock_info where code='601579' and launch_date < 20191010
1
code is  601588
select * from stock_info where code='601588' and launch_date < 20191010
1
code is  601595
select * from stock_info where code='601595' and launch_date < 20191010
1
code is  601598
select * from stock_info where code='601598' and launch_date < 20191010
1
code is  601599
select * from stock_info where code='601599' and launch_date < 20191010
1
code is  601600
select * from stock_info where code='601600' and launch_date < 20191010
1
code is  601601
select * from stock_info where code='601601' and launch_date < 20191010
1
code is  601606
select * from stock_info where code='601606' and launch_date < 20191010
1
code is  601607
select * from stock_info where code='601607' and launch_date < 20191010
1
code is  601608
select * from stock_info where code='601608' and launch_date < 20191010
1
code is  601611
select * from stock_info where code='601611' and launch_date < 20191010
1
code is  601615
select * from stock_info where code='601615' and launch_date < 20191010
1
code is  601616
select * from stock_info where code='601616' and launch_date < 20191010
1
code is  601618
select * from stock_info where code='601618' and launch_date < 20191010
1
code is  601619
select * from stock_info where code='601619' and launch_date < 20191010
1
code is  601628
select * from stock_info where code='601628' and launch_date < 20191010
1
code is  601633
select * from stock_info where code='601633' and launch_date < 20191010
1
code is  601636
select * from stock_info where code='601636' and launch_date < 20191010
1
code is  601666
select * from stock_info where code='601666' and launch_date < 20191010
1
code is  601668
select * from stock_info where code='601668' and launch_date < 20191010
1
code is  601669
select * from stock_info where code='601669' and launch_date < 20191010
1
code is  601677
select * from stock_info where code='601677' and launch_date < 20191010
1
code is  601678
select * from stock_info where code='601678' and launch_date < 20191010
1
code is  601688
select * from stock_info where code='601688' and launch_date < 20191010
1
code is  601689
select * from stock_info where code='601689' and launch_date < 20191010
1
code is  601698
select * from stock_info where code='601698' and launch_date < 20191010
1
code is  601699
select * from stock_info where code='601699' and launch_date < 20191010
1
code is  601700
select * from stock_info where code='601700' and launch_date < 20191010
1
code is  601717
select * from stock_info where code='601717' and launch_date < 20191010
1
code is  601718
select * from stock_info where code='601718' and launch_date < 20191010
1
code is  601727
select * from stock_info where code='601727' and launch_date < 20191010
1
code is  601766
select * from stock_info where code='601766' and launch_date < 20191010
1
code is  601777
select * from stock_info where code='601777' and launch_date < 20191010
1
code is  601788
select * from stock_info where code='601788' and launch_date < 20191010
1
code is  601789
select * from stock_info where code='601789' and launch_date < 20191010
1
code is  601798
select * from stock_info where code='601798' and launch_date < 20191010
1
code is  601799
select * from stock_info where code='601799' and launch_date < 20191010
1
code is  601800
select * from stock_info where code='601800' and launch_date < 20191010
1
code is  601801
select * from stock_info where code='601801' and launch_date < 20191010

1
code is  601808
select * from stock_info where code='601808' and launch_date < 20191010
1
code is  601811
select * from stock_info where code='601811' and launch_date < 20191010
1
code is  601818
select * from stock_info where code='601818' and launch_date < 20191010
1
code is  601828
select * from stock_info where code='601828' and launch_date < 20191010
1
code is  601838
select * from stock_info where code='601838' and launch_date < 20191010
1
code is  601857
select * from stock_info where code='601857' and launch_date < 20191010
1
code is  601858
select * from stock_info where code='601858' and launch_date < 20191010
1
code is  601860
select * from stock_info where code='601860' and launch_date < 20191010
1
code is  601865
select * from stock_info where code='601865' and launch_date < 20191010
1
code is  601866
select * from stock_info where code='601866' and launch_date < 20191010
1
code is  601869
select * from stock_info where code='601869' and launch_date < 20191010
1
code is  601872
select * from stock_info where code='601872' and launch_date < 20191010
1
code is  601877
select * from stock_info where code='601877' and launch_date < 20191010
1
code is  601878
select * from stock_info where code='601878' and launch_date < 20191010
1
code is  601880
select * from stock_info where code='601880' and launch_date < 20191010
1
code is  601881
select * from stock_info where code='601881' and launch_date < 20191010
1
code is  601882
select * from stock_info where code='601882' and launch_date < 20191010
1
code is  601886
select * from stock_info where code='601886' and launch_date < 20191010
1
code is  601888
select * from stock_info where code='601888' and launch_date < 20191010
1
code is  601890
select * from stock_info where code='601890' and launch_date < 20191010
1
code is  601898
select * from stock_info where code='601898' and launch_date < 20191010
1
code is  601899
select * from stock_info where code='601899' and launch_date < 20191010
1
code is  601900
select * from stock_info where code='601900' and launch_date < 20191010
1
code is  601901
select * from stock_info where code='601901' and launch_date < 20191010
1
code is  601908
select * from stock_info where code='601908' and launch_date < 20191010
1
code is  601918
select * from stock_info where code='601918' and launch_date < 20191010
1
code is  601919
select * from stock_info where code='601919' and launch_date < 20191010
1
code is  601928
select * from stock_info where code='601928' and launch_date < 20191010
1
code is  601929
select * from stock_info where code='601929' and launch_date < 20191010
1
code is  601933
select * from stock_info where code='601933' and launch_date < 20191010
1
code is  601939
select * from stock_info where code='601939' and launch_date < 20191010
1
code is  601949
select * from stock_info where code='601949' and launch_date < 20191010
1
code is  601952
select * from stock_info where code='601952' and launch_date < 20191010
1
code is  601958
select * from stock_info where code='601958' and launch_date < 20191010
1
code is  601965
select * from stock_info where code='601965' and launch_date < 20191010
1
code is  601966
select * from stock_info where code='601966' and launch_date < 20191010
1
code is  601968
select * from stock_info where code='601968' and launch_date < 20191010
1
code is  601969
select * from stock_info where code='601969' and launch_date < 20191010
1
code is  601975
select * from stock_info where code='601975' and launch_date < 20191010
1
code is  601985
select * from stock_info where code='601985' and launch_date < 20191010
1
code is  601988
select * from stock_info where code='601988' and launch_date < 20191010
1
code is  601989
select * from stock_info where code='601989' and launch_date < 20191010
1
code is  601990
select * from stock_info where code='601990' and launch_date < 20191010
1
code is  601991
select * from stock_info where code='601991' and launch_date < 20191010
1
code is  601992
select * from stock_info where code='601992' and launch_date < 20191010
1
code is  601996
select * from stock_info where code='601996' and launch_date < 20191010
1
code is  601997
select * from stock_info where code='601997' and launch_date < 20191010
1
code is  601998
select * from stock_info where code='601998' and launch_date < 20191010
1
code is  601999
select * from stock_info where code='601999' and launch_date < 20191010
1
code is  603000
select * from stock_info where code='603000' and launch_date < 20191010
1
code is  603001
select * from stock_info where code='603001' and launch_date < 20191010
1
code is  603002
select * from stock_info where code='603002' and launch_date < 20191010
1
code is  603003
select * from stock_info where code='603003' and launch_date < 20191010
1
code is  603005
select * from stock_info where code='603005' and launch_date < 20191010
1
code is  603006
select * from stock_info where code='603006' and launch_date < 20191010
1
code is  603007
select * from stock_info where code='603007' and launch_date < 20191010
1
code is  603008
select * from stock_info where code='603008' and launch_date < 20191010
1
code is  603009
select * from stock_info where code='603009' and launch_date < 20191010
1
code is  603010
select * from stock_info where code='603010' and launch_date < 20191010
1
code is  603011
select * from stock_info where code='603011' and launch_date < 20191010
1
code is  603012
select * from stock_info where code='603012' and launch_date < 20191010
1
code is  603013
select * from stock_info where code='603013' and launch_date < 20191010
1
code is  603015
select * from stock_info where code='603015' and launch_date < 20191010
1
code is  603016
select * from stock_info where code='603016' and launch_date < 20191010
1
code is  603017
select * from stock_info where code='603017' and launch_date < 20191010
1
code is  603018
select * from stock_info where code='603018' and launch_date < 20191010
1
code is  603019
select * from stock_info where code='603019' and launch_date < 20191010
1
code is  603020
select * from stock_info where code='603020' and launch_date < 20191010
1
code is  603021
select * from stock_info where code='603021' and launch_date < 20191010
1
code is  603022
select * from stock_info where code='603022' and launch_date < 20191010
1
code is  603023
select * from stock_info where code='603023' and launch_date < 20191010
1
code is  603025
select * from stock_info where code='603025' and launch_date < 20191010
1
code is  603026
select * from stock_info where code='603026' and launch_date < 20191010
1
code is  603027
select * from stock_info where code='603027' and launch_date < 20191010
1
code is  603028
select * from stock_info where code='603028' and launch_date < 20191010
1
code is  603029
select * from stock_info where code='603029' and launch_date < 20191010
1
code is  603030
select * from stock_info where code='603030' and launch_date < 20191010
1
code is  603031
select * from stock_info where code='603031' and launch_date < 20191010
1
code is  603032
select * from stock_info where code='603032' and launch_date < 20191010
1
code is  603033
select * from stock_info where code='603033' and launch_date < 20191010
1
code is  603035
select * from stock_info where code='603035' and launch_date < 20191010
1
code is  603036
select * from stock_info where code='603036' and launch_date < 20191010
1
code is  603037
select * from stock_info where code='603037' and launch_date < 20191010
1
code is  603038
select * from stock_info where code='603038' and launch_date < 20191010
1
code is  603039
select * from stock_info where code='603039' and launch_date < 20191010
1
code is  603040
select * from stock_info where code='603040' and launch_date < 20191010
1
code is  603041
select * from stock_info where code='603041' and launch_date < 20191010
1
code is  603042
select * from stock_info where code='603042' and launch_date < 20191010
1
code is  603043
select * from stock_info where code='603043' and launch_date < 20191010
1
code is  603045
select * from stock_info where code='603045' and launch_date < 20191010
1
code is  603050
select * from stock_info where code='603050' and launch_date < 20191010
1
code is  603055
select * from stock_info where code='603055' and launch_date < 20191010
1
code is  603056
select * from stock_info where code='603056' and launch_date < 20191010
1
code is  603058
select * from stock_info where code='603058' and launch_date < 20191010
1
code is  603059
select * from stock_info where code='603059' and launch_date < 20191010
1
code is  603060
select * from stock_info where code='603060' and launch_date < 20191010
1
code is  603063
select * from stock_info where code='603063' and launch_date < 20191010
1
code is  603066
select * from stock_info where code='603066' and launch_date < 20191010
1
code is  603067
select * from stock_info where code='603067' and launch_date < 20191010
1
code is  603068
select * from stock_info where code='603068' and launch_date < 20191010
1
code is  603069
select * from stock_info where code='603069' and launch_date < 20191010

1
code is  603076
select * from stock_info where code='603076' and launch_date < 20191010
1
code is  603077
select * from stock_info where code='603077' and launch_date < 20191010
1
code is  603078
select * from stock_info where code='603078' and launch_date < 20191010
1
code is  603079
select * from stock_info where code='603079' and launch_date < 20191010
1
code is  603080
select * from stock_info where code='603080' and launch_date < 20191010
1
code is  603081
select * from stock_info where code='603081' and launch_date < 20191010
1
code is  603083
select * from stock_info where code='603083' and launch_date < 20191010
1
code is  603085
select * from stock_info where code='603085' and launch_date < 20191010
1
code is  603086
select * from stock_info where code='603086' and launch_date < 20191010
1
code is  603088
select * from stock_info where code='603088' and launch_date < 20191010
1
code is  603089
select * from stock_info where code='603089' and launch_date < 20191010
1
code is  603090
select * from stock_info where code='603090' and launch_date < 20191010
1
code is  603093
select * from stock_info where code='603093' and launch_date < 20191010
1
code is  603096
select * from stock_info where code='603096' and launch_date < 20191010
1
code is  603098
select * from stock_info where code='603098' and launch_date < 20191010
1
code is  603099
select * from stock_info where code='603099' and launch_date < 20191010
1
code is  603100
select * from stock_info where code='603100' and launch_date < 20191010
1
code is  603101
select * from stock_info where code='603101' and launch_date < 20191010
1
code is  603103
select * from stock_info where code='603103' and launch_date < 20191010
1
code is  603105
select * from stock_info where code='603105' and launch_date < 20191010
1
code is  603106
select * from stock_info where code='603106' and launch_date < 20191010
1
code is  603108
select * from stock_info where code='603108' and launch_date < 20191010
1
code is  603110
select * from stock_info where code='603110' and launch_date < 20191010
1
code is  603111
select * from stock_info where code='603111' and launch_date < 20191010
1
code is  603113
select * from stock_info where code='603113' and launch_date < 20191010
1
code is  603115
select * from stock_info where code='603115' and launch_date < 20191010
1
code is  603116
select * from stock_info where code='603116' and launch_date < 20191010
1
code is  603117
select * from stock_info where code='603117' and launch_date < 20191010
1
code is  603118
select * from stock_info where code='603118' and launch_date < 20191010
1
code is  603121
select * from stock_info where code='603121' and launch_date < 20191010
1
code is  603123
select * from stock_info where code='603123' and launch_date < 20191010
1
code is  603126
select * from stock_info where code='603126' and launch_date < 20191010
1
code is  603127
select * from stock_info where code='603127' and launch_date < 20191010
1
code is  603128
select * from stock_info where code='603128' and launch_date < 20191010
1
code is  603129
select * from stock_info where code='603129' and launch_date < 20191010
1
code is  603131
select * from stock_info where code='603131' and launch_date < 20191010
1
code is  603133
select * from stock_info where code='603133' and launch_date < 20191010
1
code is  603136
select * from stock_info where code='603136' and launch_date < 20191010
1
code is  603138
select * from stock_info where code='603138' and launch_date < 20191010
1
code is  603139
select * from stock_info where code='603139' and launch_date < 20191010
1
code is  603156
select * from stock_info where code='603156' and launch_date < 20191010
1
code is  603157
select * from stock_info where code='603157' and launch_date < 20191010
1
code is  603158
select * from stock_info where code='603158' and launch_date < 20191010
1
code is  603159
select * from stock_info where code='603159' and launch_date < 20191010
1
code is  603160
select * from stock_info where code='603160' and launch_date < 20191010
1
code is  603161
select * from stock_info where code='603161' and launch_date < 20191010
1
code is  603165
select * from stock_info where code='603165' and launch_date < 20191010
1
code is  603166
select * from stock_info where code='603166' and launch_date < 20191010
1
code is  603167
select * from stock_info where code='603167' and launch_date < 20191010
1
code is  603168
select * from stock_info where code='603168' and launch_date < 20191010
1
code is  603169
select * from stock_info where code='603169' and launch_date < 20191010
1
code is  603177
select * from stock_info where code='603177' and launch_date < 20191010
1
code is  603178
select * from stock_info where code='603178' and launch_date < 20191010
1
code is  603179
select * from stock_info where code='603179' and launch_date < 20191010
1
code is  603180
select * from stock_info where code='603180' and launch_date < 20191010
1
code is  603181
select * from stock_info where code='603181' and launch_date < 20191010
1
code is  603183
select * from stock_info where code='603183' and launch_date < 20191010
1
code is  603185
select * from stock_info where code='603185' and launch_date < 20191010
1
code is  603186
select * from stock_info where code='603186' and launch_date < 20191010
1
code is  603187
select * from stock_info where code='603187' and launch_date < 20191010
1
code is  603188
select * from stock_info where code='603188' and launch_date < 20191010
1
code is  603189
select * from stock_info where code='603189' and launch_date < 20191010
1
code is  603192
select * from stock_info where code='603192' and launch_date < 20191010
1
code is  603196
select * from stock_info where code='603196' and launch_date < 20191010
1
code is  603197
select * from stock_info where code='603197' and launch_date < 20191010
1
code is  603198
select * from stock_info where code='603198' and launch_date < 20191010
1
code is  603199
select * from stock_info where code='603199' and launch_date < 20191010
1
code is  603200
select * from stock_info where code='603200' and launch_date < 20191010
1
code is  603203
select * from stock_info where code='603203' and launch_date < 20191010
1
code is  603208
select * from stock_info where code='603208' and launch_date < 20191010
1
code is  603214
select * from stock_info where code='603214' and launch_date < 20191010
1
code is  603217
select * from stock_info where code='603217' and launch_date < 20191010
1
code is  603218
select * from stock_info where code='603218' and launch_date < 20191010
1
code is  603220
select * from stock_info where code='603220' and launch_date < 20191010
1
code is  603222
select * from stock_info where code='603222' and launch_date < 20191010
1
code is  603223
select * from stock_info where code='603223' and launch_date < 20191010
1
code is  603225
select * from stock_info where code='603225' and launch_date < 20191010
1
code is  603226
select * from stock_info where code='603226' and launch_date < 20191010
1
code is  603227
select * from stock_info where code='603227' and launch_date < 20191010
1
code is  603228
select * from stock_info where code='603228' and launch_date < 20191010
1
code is  603229
select * from stock_info where code='603229' and launch_date < 20191010
1
code is  603232
select * from stock_info where code='603232' and launch_date < 20191010
1
code is  603233
select * from stock_info where code='603233' and launch_date < 20191010
1
code is  603236
select * from stock_info where code='603236' and launch_date < 20191010
1
code is  603238
select * from stock_info where code='603238' and launch_date < 20191010
1
code is  603239
select * from stock_info where code='603239' and launch_date < 20191010
1
code is  603256
select * from stock_info where code='603256' and launch_date < 20191010
1
code is  603258
select * from stock_info where code='603258' and launch_date < 20191010
1
code is  603259
select * from stock_info where code='603259' and launch_date < 20191010
1
code is  603260
select * from stock_info where code='603260' and launch_date < 20191010
1
code is  603266
select * from stock_info where code='603266' and launch_date < 20191010
1
code is  603267
select * from stock_info where code='603267' and launch_date < 20191010
1
code is  603268
select * from stock_info where code='603268' and launch_date < 20191010
1
code is  603269

select * from stock_info where code='603269' and launch_date < 20191010
1
code is  603277
select * from stock_info where code='603277' and launch_date < 20191010
1
code is  603278
select * from stock_info where code='603278' and launch_date < 20191010
1
code is  603279
select * from stock_info where code='603279' and launch_date < 20191010
1
code is  603283
select * from stock_info where code='603283' and launch_date < 20191010
1
code is  603286
select * from stock_info where code='603286' and launch_date < 20191010
1
code is  603288
select * from stock_info where code='603288' and launch_date < 20191010
1
code is  603289
select * from stock_info where code='603289' and launch_date < 20191010
1
code is  603297
select * from stock_info where code='603297' and launch_date < 20191010
1
code is  603298
select * from stock_info where code='603298' and launch_date < 20191010
1
code is  603299
select * from stock_info where code='603299' and launch_date < 20191010
1
code is  603300
select * from stock_info where code='603300' and launch_date < 20191010
1
code is  603301
select * from stock_info where code='603301' and launch_date < 20191010
1
code is  603303
select * from stock_info where code='603303' and launch_date < 20191010
1
code is  603305
select * from stock_info where code='603305' and launch_date < 20191010
1
code is  603306
select * from stock_info where code='603306' and launch_date < 20191010
1
code is  603308
select * from stock_info where code='603308' and launch_date < 20191010
1
code is  603309
select * from stock_info where code='603309' and launch_date < 20191010
1
code is  603311
select * from stock_info where code='603311' and launch_date < 20191010
1
code is  603313
select * from stock_info where code='603313' and launch_date < 20191010
1
code is  603315
select * from stock_info where code='603315' and launch_date < 20191010
1
code is  603316
select * from stock_info where code='603316' and launch_date < 20191010
1
code is  603317
select * from stock_info where code='603317' and launch_date < 20191010
1
code is  603318
select * from stock_info where code='603318' and launch_date < 20191010
1
code is  603319
select * from stock_info where code='603319' and launch_date < 20191010
1
code is  603320
select * from stock_info where code='603320' and launch_date < 20191010
1
code is  603321
select * from stock_info where code='603321' and launch_date < 20191010
1
code is  603322
select * from stock_info where code='603322' and launch_date < 20191010
1
code is  603323
select * from stock_info where code='603323' and launch_date < 20191010
1
code is  603326
select * from stock_info where code='603326' and launch_date < 20191010
1
code is  603327
select * from stock_info where code='603327' and launch_date < 20191010
1
code is  603328
select * from stock_info where code='603328' and launch_date < 20191010
1
code is  603329
select * from stock_info where code='603329' and launch_date < 20191010
1
code is  603330
select * from stock_info where code='603330' and launch_date < 20191010
1
code is  603331
select * from stock_info where code='603331' and launch_date < 20191010
1
code is  603332
select * from stock_info where code='603332' and launch_date < 20191010
1
code is  603333
select * from stock_info where code='603333' and launch_date < 20191010
1
code is  603335
select * from stock_info where code='603335' and launch_date < 20191010
1
code is  603336
select * from stock_info where code='603336' and launch_date < 20191010
1
code is  603337
select * from stock_info where code='603337' and launch_date < 20191010
1
code is  603338
select * from stock_info where code='603338' and launch_date < 20191010
1
code is  603339
select * from stock_info where code='603339' and launch_date < 20191010
1
code is  603345
select * from stock_info where code='603345' and launch_date < 20191010
1
code is  603348
select * from stock_info where code='603348' and launch_date < 20191010
1
code is  603351
select * from stock_info where code='603351' and launch_date < 20191010
1
code is  603355
select * from stock_info where code='603355' and launch_date < 20191010
1
code is  603356
select * from stock_info where code='603356' and launch_date < 20191010
1
code is  603357
select * from stock_info where code='603357' and launch_date < 20191010
1
code is  603358
select * from stock_info where code='603358' and launch_date < 20191010
1
code is  603359
select * from stock_info where code='603359' and launch_date < 20191010
1
code is  603360
select * from stock_info where code='603360' and launch_date < 20191010
1
code is  603363
select * from stock_info where code='603363' and launch_date < 20191010
1
code is  603365
select * from stock_info where code='603365' and launch_date < 20191010
1
code is  603366
select * from stock_info where code='603366' and launch_date < 20191010
1
code is  603367
select * from stock_info where code='603367' and launch_date < 20191010
1
code is  603368
select * from stock_info where code='603368' and launch_date < 20191010
1
code is  603369
select * from stock_info where code='603369' and launch_date < 20191010
1
code is  603377
select * from stock_info where code='603377' and launch_date < 20191010
1
code is  603378
select * from stock_info where code='603378' and launch_date < 20191010
1
code is  603379
select * from stock_info where code='603379' and launch_date < 20191010
1
code is  603380
select * from stock_info where code='603380' and launch_date < 20191010
1
code is  603383
select * from stock_info where code='603383' and launch_date < 20191010
1
code is  603385
select * from stock_info where code='603385' and launch_date < 20191010
1
code is  603386
select * from stock_info where code='603386' and launch_date < 20191010
1
code is  603387
select * from stock_info where code='603387' and launch_date < 20191010
1
code is  603388
select * from stock_info where code='603388' and launch_date < 20191010
1
code is  603389
select * from stock_info where code='603389' and launch_date < 20191010
1
code is  603393
select * from stock_info where code='603393' and launch_date < 20191010
1
code is  603396
select * from stock_info where code='603396' and launch_date < 20191010
1
code is  603398
select * from stock_info where code='603398' and launch_date < 20191010
1
code is  603399
select * from stock_info where code='603399' and launch_date < 20191010
1
code is  603416
select * from stock_info where code='603416' and launch_date < 20191010
1
code is  603421
select * from stock_info where code='603421' and launch_date < 20191010
1
code is  603429
select * from stock_info where code='603429' and launch_date < 20191010
1
code is  603444
select * from stock_info where code='603444' and launch_date < 20191010
1
code is  603456
select * from stock_info where code='603456' and launch_date < 20191010
1
code is  603458
select * from stock_info where code='603458' and launch_date < 20191010
1
code is  603466
select * from stock_info where code='603466' and launch_date < 20191010
1
code is  603477
select * from stock_info where code='603477' and launch_date < 20191010
1
code is  603486
select * from stock_info where code='603486' and launch_date < 20191010
1
code is  603488
select * from stock_info where code='603488' and launch_date < 20191010
1
code is  603489
select * from stock_info where code='603489' and launch_date < 20191010
0
code is  603496
select * from stock_info where code='603496' and launch_date < 20191010
1
code is  603499
select * from stock_info where code='603499' and launch_date < 20191010
1
code is  603500
select * from stock_info where code='603500' and launch_date < 20191010
1
code is  603501
select * from stock_info where code='603501' and launch_date < 20191010
1
code is  603505
select * from stock_info where code='603505' and launch_date < 20191010
1
code is  603506
select * from stock_info where code='603506' and launch_date < 20191010
1
code is  603507
select * from stock_info where code='603507' and launch_date < 20191010
1
code is  603508
select * from stock_info where code='603508' and launch_date < 20191010
1
code is  603515
select * from stock_info where code='603515' and launch_date < 20191010
1
code is  603516
select * from stock_info where code='603516' and launch_date < 20191010
1
code is  603517
select * from stock_info where code='603517' and launch_date < 20191010
1
code is  603518
select * from stock_info where code='603518' and launch_date < 20191010
1
code is  603519
select * from stock_info where code='603519' and launch_date < 20191010
1
code is  603520
select * from stock_info where code='603520' and launch_date < 20191010
1
code is  603527
select * from stock_info where code='603527' and launch_date < 20191010
1
code is  603528

select * from stock_info where code='603528' and launch_date < 20191010
1
code is  603530
select * from stock_info where code='603530' and launch_date < 20191010
1
code is  603533
select * from stock_info where code='603533' and launch_date < 20191010
1
code is  603535
select * from stock_info where code='603535' and launch_date < 20191010
1
code is  603536
select * from stock_info where code='603536' and launch_date < 20191010
1
code is  603538
select * from stock_info where code='603538' and launch_date < 20191010
1
code is  603555
select * from stock_info where code='603555' and launch_date < 20191010
1
code is  603556
select * from stock_info where code='603556' and launch_date < 20191010
1
code is  603557
select * from stock_info where code='603557' and launch_date < 20191010
1
code is  603558
select * from stock_info where code='603558' and launch_date < 20191010
1
code is  603559
select * from stock_info where code='603559' and launch_date < 20191010
1
code is  603566
select * from stock_info where code='603566' and launch_date < 20191010
1
code is  603567
select * from stock_info where code='603567' and launch_date < 20191010
1
code is  603568
select * from stock_info where code='603568' and launch_date < 20191010
1
code is  603569
select * from stock_info where code='603569' and launch_date < 20191010
1
code is  603577
select * from stock_info where code='603577' and launch_date < 20191010
1
code is  603578
select * from stock_info where code='603578' and launch_date < 20191010
1
code is  603579
select * from stock_info where code='603579' and launch_date < 20191010
1
code is  603580
select * from stock_info where code='603580' and launch_date < 20191010
1
code is  603583
select * from stock_info where code='603583' and launch_date < 20191010
1
code is  603585
select * from stock_info where code='603585' and launch_date < 20191010
1
code is  603586
select * from stock_info where code='603586' and launch_date < 20191010
1
code is  603587
select * from stock_info where code='603587' and launch_date < 20191010
1
code is  603588
select * from stock_info where code='603588' and launch_date < 20191010
1
code is  603589
select * from stock_info where code='603589' and launch_date < 20191010
1
code is  603590
select * from stock_info where code='603590' and launch_date < 20191010
1
code is  603595
select * from stock_info where code='603595' and launch_date < 20191010
1
code is  603596
select * from stock_info where code='603596' and launch_date < 20191010
1
code is  603598
select * from stock_info where code='603598' and launch_date < 20191010
1
code is  603599
select * from stock_info where code='603599' and launch_date < 20191010
1
code is  603600
select * from stock_info where code='603600' and launch_date < 20191010
1
code is  603601
select * from stock_info where code='603601' and launch_date < 20191010
1
code is  603602
select * from stock_info where code='603602' and launch_date < 20191010
1
code is  603603
select * from stock_info where code='603603' and launch_date < 20191010
1
code is  603605
select * from stock_info where code='603605' and launch_date < 20191010
1
code is  603606
select * from stock_info where code='603606' and launch_date < 20191010
1
code is  603607
select * from stock_info where code='603607' and launch_date < 20191010
1
code is  603608
select * from stock_info where code='603608' and launch_date < 20191010
1
code is  603609
select * from stock_info where code='603609' and launch_date < 20191010
1
code is  603610
select * from stock_info where code='603610' and launch_date < 20191010
0
code is  603611
select * from stock_info where code='603611' and launch_date < 20191010
1
code is  603612
select * from stock_info where code='603612' and launch_date < 20191010
1
code is  603613
select * from stock_info where code='603613' and launch_date < 20191010
1
code is  603615
select * from stock_info where code='603615' and launch_date < 20191010
1
code is  603616
select * from stock_info where code='603616' and launch_date < 20191010
1
code is  603617
select * from stock_info where code='603617' and launch_date < 20191010
1
code is  603618
select * from stock_info where code='603618' and launch_date < 20191010
1
code is  603619
select * from stock_info where code='603619' and launch_date < 20191010
1
code is  603626
select * from stock_info where code='603626' and launch_date < 20191010
1
code is  603628
select * from stock_info where code='603628' and launch_date < 20191010
1
code is  603629
select * from stock_info where code='603629' and launch_date < 20191010
1
code is  603630
select * from stock_info where code='603630' and launch_date < 20191010
1
code is  603633
select * from stock_info where code='603633' and launch_date < 20191010
1
code is  603636
select * from stock_info where code='603636' and launch_date < 20191010
1
code is  603637
select * from stock_info where code='603637' and launch_date < 20191010
1
code is  603638
select * from stock_info where code='603638' and launch_date < 20191010
1
code is  603639
select * from stock_info where code='603639' and launch_date < 20191010
1
code is  603648
select * from stock_info where code='603648' and launch_date < 20191010
1
code is  603650
select * from stock_info where code='603650' and launch_date < 20191010
1
code is  603655
select * from stock_info where code='603655' and launch_date < 20191010
1
code is  603656
select * from stock_info where code='603656' and launch_date < 20191010
1
code is  603657
select * from stock_info where code='603657' and launch_date < 20191010
1
code is  603658
select * from stock_info where code='603658' and launch_date < 20191010
1
code is  603659
select * from stock_info where code='603659' and launch_date < 20191010
1
code is  603660
select * from stock_info where code='603660' and launch_date < 20191010
1
code is  603661
select * from stock_info where code='603661' and launch_date < 20191010
1
code is  603662
select * from stock_info where code='603662' and launch_date < 20191010
1
code is  603663
select * from stock_info where code='603663' and launch_date < 20191010
1
code is  603665
select * from stock_info where code='603665' and launch_date < 20191010
1
code is  603666
select * from stock_info where code='603666' and launch_date < 20191010
1
code is  603667
select * from stock_info where code='603667' and launch_date < 20191010
1
code is  603668
select * from stock_info where code='603668' and launch_date < 20191010
1
code is  603669
select * from stock_info where code='603669' and launch_date < 20191010
1
code is  603676
select * from stock_info where code='603676' and launch_date < 20191010
1
code is  603677
select * from stock_info where code='603677' and launch_date < 20191010
1
code is  603678
select * from stock_info where code='603678' and launch_date < 20191010
1
code is  603679
select * from stock_info where code='603679' and launch_date < 20191010
1
code is  603680
select * from stock_info where code='603680' and launch_date < 20191010
1
code is  603681
select * from stock_info where code='603681' and launch_date < 20191010
1
code is  603683
select * from stock_info where code='603683' and launch_date < 20191010
1
code is  603685
select * from stock_info where code='603685' and launch_date < 20191010
1
code is  603686
select * from stock_info where code='603686' and launch_date < 20191010
1
code is  603687
select * from stock_info where code='603687' and launch_date < 20191010
1
code is  603688
select * from stock_info where code='603688' and launch_date < 20191010
1
code is  603689
select * from stock_info where code='603689' and launch_date < 20191010
1
code is  603690
select * from stock_info where code='603690' and launch_date < 20191010
1
code is  603693
select * from stock_info where code='603693' and launch_date < 20191010
1
code is  603696
select * from stock_info where code='603696' and launch_date < 20191010
1
code is  603697
select * from stock_info where code='603697' and launch_date < 20191010
1
code is  603698
select * from stock_info where code='603698' and launch_date < 20191010
1
code is  603699
select * from stock_info where code='603699' and launch_date < 20191010
1
code is  603700
select * from stock_info where code='603700' and launch_date < 20191010
1
code is  603701
select * from stock_info where code='603701' and launch_date < 20191010
1
code is  603703
select * from stock_info where code='603703' and launch_date < 20191010
1
code is  603706
select * from stock_info where code='603706' and launch_date < 20191010
1
code is  603707
select * from stock_info where code='603707' and launch_date < 20191010
1
code is  603708

select * from stock_info where code='603708' and launch_date < 20191010
1
code is  603709
select * from stock_info where code='603709' and launch_date < 20191010
1
code is  603711
select * from stock_info where code='603711' and launch_date < 20191010
1
code is  603712
select * from stock_info where code='603712' and launch_date < 20191010
1
code is  603713
select * from stock_info where code='603713' and launch_date < 20191010
1
code is  603716
select * from stock_info where code='603716' and launch_date < 20191010
1
code is  603717
select * from stock_info where code='603717' and launch_date < 20191010
1
code is  603718
select * from stock_info where code='603718' and launch_date < 20191010
1
code is  603721
select * from stock_info where code='603721' and launch_date < 20191010
1
code is  603722
select * from stock_info where code='603722' and launch_date < 20191010
1
code is  603725
select * from stock_info where code='603725' and launch_date < 20191010
1
code is  603726
select * from stock_info where code='603726' and launch_date < 20191010
1
code is  603727
select * from stock_info where code='603727' and launch_date < 20191010
1
code is  603728
select * from stock_info where code='603728' and launch_date < 20191010
1
code is  603729
select * from stock_info where code='603729' and launch_date < 20191010
1
code is  603730
select * from stock_info where code='603730' and launch_date < 20191010
1
code is  603733
select * from stock_info where code='603733' and launch_date < 20191010
1
code is  603737
select * from stock_info where code='603737' and launch_date < 20191010
1
code is  603738
select * from stock_info where code='603738' and launch_date < 20191010
1
code is  603739
select * from stock_info where code='603739' and launch_date < 20191010
1
code is  603755
select * from stock_info where code='603755' and launch_date < 20191010
1
code is  603757
select * from stock_info where code='603757' and launch_date < 20191010
1
code is  603758
select * from stock_info where code='603758' and launch_date < 20191010
1
code is  603766
select * from stock_info where code='603766' and launch_date < 20191010
1
code is  603767
select * from stock_info where code='603767' and launch_date < 20191010
1
code is  603768
select * from stock_info where code='603768' and launch_date < 20191010
1
code is  603773
select * from stock_info where code='603773' and launch_date < 20191010
1
code is  603776
select * from stock_info where code='603776' and launch_date < 20191010
1
code is  603777
select * from stock_info where code='603777' and launch_date < 20191010
1
code is  603778
select * from stock_info where code='603778' and launch_date < 20191010
1
code is  603779
select * from stock_info where code='603779' and launch_date < 20191010
1
code is  603786
select * from stock_info where code='603786' and launch_date < 20191010
0
code is  603787
select * from stock_info where code='603787' and launch_date < 20191010
1
code is  603788
select * from stock_info where code='603788' and launch_date < 20191010
1
code is  603789
select * from stock_info where code='603789' and launch_date < 20191010
1
code is  603790
select * from stock_info where code='603790' and launch_date < 20191010
1
code is  603797
select * from stock_info where code='603797' and launch_date < 20191010
1
code is  603798
select * from stock_info where code='603798' and launch_date < 20191010
1
code is  603799
select * from stock_info where code='603799' and launch_date < 20191010
1
code is  603800
select * from stock_info where code='603800' and launch_date < 20191010
1
code is  603801
select * from stock_info where code='603801' and launch_date < 20191010
1
code is  603803
select * from stock_info where code='603803' and launch_date < 20191010
1
code is  603806
select * from stock_info where code='603806' and launch_date < 20191010
1
code is  603808
select * from stock_info where code='603808' and launch_date < 20191010
1
code is  603809
select * from stock_info where code='603809' and launch_date < 20191010
1
code is  603810
select * from stock_info where code='603810' and launch_date < 20191010
1
code is  603811
select * from stock_info where code='603811' and launch_date < 20191010
1
code is  603813
select * from stock_info where code='603813' and launch_date < 20191010
1
code is  603815
select * from stock_info where code='603815' and launch_date < 20191010
0
code is  603816
select * from stock_info where code='603816' and launch_date < 20191010
1
code is  603817
select * from stock_info where code='603817' and launch_date < 20191010
1
code is  603818
select * from stock_info where code='603818' and launch_date < 20191010
1
code is  603819
select * from stock_info where code='603819' and launch_date < 20191010
1
code is  603822
select * from stock_info where code='603822' and launch_date < 20191010
1
code is  603823
select * from stock_info where code='603823' and launch_date < 20191010
1
code is  603825
select * from stock_info where code='603825' and launch_date < 20191010
1
code is  603826
select * from stock_info where code='603826' and launch_date < 20191010
1
code is  603828
select * from stock_info where code='603828' and launch_date < 20191010
1
code is  603829
select * from stock_info where code='603829' and launch_date < 20191010
1
code is  603833
select * from stock_info where code='603833' and launch_date < 20191010
1
code is  603838
select * from stock_info where code='603838' and launch_date < 20191010
1
code is  603839
select * from stock_info where code='603839' and launch_date < 20191010
1
code is  603843
select * from stock_info where code='603843' and launch_date < 20191010
1
code is  603848
select * from stock_info where code='603848' and launch_date < 20191010
1
code is  603855
select * from stock_info where code='603855' and launch_date < 20191010
1
code is  603856
select * from stock_info where code='603856' and launch_date < 20191010
1
code is  603858
select * from stock_info where code='603858' and launch_date < 20191010
1
code is  603859
select * from stock_info where code='603859' and launch_date < 20191010
1
code is  603860
select * from stock_info where code='603860' and launch_date < 20191010
1
code is  603861
select * from stock_info where code='603861' and launch_date < 20191010
1
code is  603863
select * from stock_info where code='603863' and launch_date < 20191010
1
code is  603866
select * from stock_info where code='603866' and launch_date < 20191010
1
code is  603867
select * from stock_info where code='603867' and launch_date < 20191010
1
code is  603868
select * from stock_info where code='603868' and launch_date < 20191010
1
code is  603869
select * from stock_info where code='603869' and launch_date < 20191010
1
code is  603871
select * from stock_info where code='603871' and launch_date < 20191010
1
code is  603876
select * from stock_info where code='603876' and launch_date < 20191010
1
code is  603877
select * from stock_info where code='603877' and launch_date < 20191010
1
code is  603878
select * from stock_info where code='603878' and launch_date < 20191010
1
code is  603879
select * from stock_info where code='603879' and launch_date < 20191010
1
code is  603880
select * from stock_info where code='603880' and launch_date < 20191010
1
code is  603881
select * from stock_info where code='603881' and launch_date < 20191010
1
code is  603882
select * from stock_info where code='603882' and launch_date < 20191010
1
code is  603883
select * from stock_info where code='603883' and launch_date < 20191010
1
code is  603885
select * from stock_info where code='603885' and launch_date < 20191010
1
code is  603886
select * from stock_info where code='603886' and launch_date < 20191010
1
code is  603887
select * from stock_info where code='603887' and launch_date < 20191010
1
code is  603888
select * from stock_info where code='603888' and launch_date < 20191010
1
code is  603889
select * from stock_info where code='603889' and launch_date < 20191010
1
code is  603890
select * from stock_info where code='603890' and launch_date < 20191010
1
code is  603895
select * from stock_info where code='603895' and launch_date < 20191010
1
code is  603896
select * from stock_info where code='603896' and launch_date < 20191010
1
code is  603897
select * from stock_info where code='603897' and launch_date < 20191010
1
code is  603898
select * from stock_info where code='603898' and launch_date < 20191010
1
code is  603899
select * from stock_info where code='603899' and launch_date < 20191010
1
code is  603900
select * from stock_info where code='603900' and launch_date < 20191010
1
code is  603901
select * from stock_info where code='603901' and launch_date < 20191010
1
code is  603903
select * from stock_info where code='603903' and launch_date < 20191010
1
code is  603906
select * from stock_info where code='603906' and launch_date < 20191010
1
code is  603908
select * from stock_info where code='603908' and launch_date < 20191010
1
code is  603909
select * from stock_info where code='603909' and launch_date < 20191010
1
code is  603912
select * from stock_info where code='603912' and launch_date < 20191010
1
code is  603915
select * from stock_info where code='603915' and launch_date < 20191010
1
code is  603916
select * from stock_info where code='603916' and launch_date < 20191010
1
code is  603917
select * from stock_info where code='603917' and launch_date < 20191010
1
code is  603918
select * from stock_info where code='603918' and launch_date < 20191010
1
code is  603919
select * from stock_info where code='603919' and launch_date < 20191010
1
code is  603920
select * from stock_info where code='603920' and launch_date < 20191010
1
code is  603922
select * from stock_info where code='603922' and launch_date < 20191010
1
code is  603926
select * from stock_info where code='603926' and launch_date < 20191010

1
code is  603927
select * from stock_info where code='603927' and launch_date < 20191010
1
code is  603928
select * from stock_info where code='603928' and launch_date < 20191010
1
code is  603929
select * from stock_info where code='603929' and launch_date < 20191010
1
code is  603933
select * from stock_info where code='603933' and launch_date < 20191010
1
code is  603936
select * from stock_info where code='603936' and launch_date < 20191010
1
code is  603937
select * from stock_info where code='603937' and launch_date < 20191010
1
code is  603938
select * from stock_info where code='603938' and launch_date < 20191010
1
code is  603939
select * from stock_info where code='603939' and launch_date < 20191010
1
code is  603955
select * from stock_info where code='603955' and launch_date < 20191010
1
code is  603956
select * from stock_info where code='603956' and launch_date < 20191010
1
code is  603958
select * from stock_info where code='603958' and launch_date < 20191010
1
code is  603959
select * from stock_info where code='603959' and launch_date < 20191010
1
code is  603960
select * from stock_info where code='603960' and launch_date < 20191010
1
code is  603963
select * from stock_info where code='603963' and launch_date < 20191010
1
code is  603966
select * from stock_info where code='603966' and launch_date < 20191010
1
code is  603967
select * from stock_info where code='603967' and launch_date < 20191010
1
code is  603968
select * from stock_info where code='603968' and launch_date < 20191010
1
code is  603969
select * from stock_info where code='603969' and launch_date < 20191010
1
code is  603970
select * from stock_info where code='603970' and launch_date < 20191010
1
code is  603976
select * from stock_info where code='603976' and launch_date < 20191010
1
code is  603977
select * from stock_info where code='603977' and launch_date < 20191010
1
code is  603978
select * from stock_info where code='603978' and launch_date < 20191010
1
code is  603979
select * from stock_info where code='603979' and launch_date < 20191010
1
code is  603980
select * from stock_info where code='603980' and launch_date < 20191010
1
code is  603982
select * from stock_info where code='603982' and launch_date < 20191010
1
code is  603983
select * from stock_info where code='603983' and launch_date < 20191010
1
code is  603985
select * from stock_info where code='603985' and launch_date < 20191010
1
code is  603986
select * from stock_info where code='603986' and launch_date < 20191010
1
code is  603987
select * from stock_info where code='603987' and launch_date < 20191010
1
code is  603988
select * from stock_info where code='603988' and launch_date < 20191010
1
code is  603989
select * from stock_info where code='603989' and launch_date < 20191010
1
code is  603990
select * from stock_info where code='603990' and launch_date < 20191010
1
code is  603991
select * from stock_info where code='603991' and launch_date < 20191010
1
code is  603992
select * from stock_info where code='603992' and launch_date < 20191010
1
code is  603993
select * from stock_info where code='603993' and launch_date < 20191010
1
code is  603996
select * from stock_info where code='603996' and launch_date < 20191010
1
code is  603997
select * from stock_info where code='603997' and launch_date < 20191010
1
code is  603998
select * from stock_info where code='603998' and launch_date < 20191010
1
code is  603999
select * from stock_info where code='603999' and launch_date < 20191010
1
code is  688001
select * from stock_info where code='688001' and launch_date < 20191010
1
code is  688002
select * from stock_info where code='688002' and launch_date < 20191010
1
code is  688003
select * from stock_info where code='688003' and launch_date < 20191010
1
code is  688005
select * from stock_info where code='688005' and launch_date < 20191010
1
code is  688006
select * from stock_info where code='688006' and launch_date < 20191010
1
code is  688007
select * from stock_info where code='688007' and launch_date < 20191010
1
code is  688008
select * from stock_info where code='688008' and launch_date < 20191010
1
code is  688009
select * from stock_info where code='688009' and launch_date < 20191010
1
code is  688010
select * from stock_info where code='688010' and launch_date < 20191010
1
code is  688011
select * from stock_info where code='688011' and launch_date < 20191010
1
code is  688012
select * from stock_info where code='688012' and launch_date < 20191010
1
code is  688015
select * from stock_info where code='688015' and launch_date < 20191010
1
code is  688016
select * from stock_info where code='688016' and launch_date < 20191010
1
code is  688018
select * from stock_info where code='688018' and launch_date < 20191010
1
code is  688019
select * from stock_info where code='688019' and launch_date < 20191010
1
code is  688020
select * from stock_info where code='688020' and launch_date < 20191010
1
code is  688021
select * from stock_info where code='688021' and launch_date < 20191010
0
code is  688022
select * from stock_info where code='688022' and launch_date < 20191010
1
code is  688023
select * from stock_info where code='688023' and launch_date < 20191010
0
code is  688025
select * from stock_info where code='688025' and launch_date < 20191010
0
code is  688028
select * from stock_info where code='688028' and launch_date < 20191010
1
code is  688029
select * from stock_info where code='688029' and launch_date < 20191010
1
code is  688030
select * from stock_info where code='688030' and launch_date < 20191010
1
code is  688033
select * from stock_info where code='688033' and launch_date < 20191010
1
code is  688036
select * from stock_info where code='688036' and launch_date < 20191010
1
code is  688058
select * from stock_info where code='688058' and launch_date < 20191010
0
code is  688066
select * from stock_info where code='688066' and launch_date < 20191010
1
code is  688068
select * from stock_info where code='688068' and launch_date < 20191010
1
code is  688088
select * from stock_info where code='688088' and launch_date < 20191010
1
code is  688098
select * from stock_info where code='688098' and launch_date < 20191010
0
code is  688099
select * from stock_info where code='688099' and launch_date < 20191010
1
code is  688101
select * from stock_info where code='688101' and launch_date < 20191010
0
code is  688108
select * from stock_info where code='688108' and launch_date < 20191010
0
code is  688111
select * from stock_info where code='688111' and launch_date < 20191010
0
code is  688116
select * from stock_info where code='688116' and launch_date < 20191010
1
code is  688122
select * from stock_info where code='688122' and launch_date < 20191010
1
code is  688128
select * from stock_info where code='688128' and launch_date < 20191010
0
code is  688139
select * from stock_info where code='688139' and launch_date < 20191010
0
code is  688166
select * from stock_info where code='688166' and launch_date < 20191010
0
code is  688168
select * from stock_info where code='688168' and launch_date < 20191010
1
code is  688188
select * from stock_info where code='688188' and launch_date < 20191010
1
code is  688199
select * from stock_info where code='688199' and launch_date < 20191010
0
code is  688202
select * from stock_info where code='688202' and launch_date < 20191010
0
code is  688288
select * from stock_info where code='688288' and launch_date < 20191010
0
code is  688299
select * from stock_info where code='688299' and launch_date < 20191010
0
code is  688300
select * from stock_info where code='688300' and launch_date < 20191010
0
code is  688321
select * from stock_info where code='688321' and launch_date < 20191010
1
code is  688333
select * from stock_info where code='688333' and launch_date < 20191010
1
code is  688363
select * from stock_info where code='688363' and launch_date < 20191010
0
code is  688366
select * from stock_info where code='688366' and launch_date < 20191010
0
code is  688368
select * from stock_info where code='688368' and launch_date < 20191010
0
code is  688369
select * from stock_info where code='688369' and launch_date < 20191010
0
code is  688388
select * from stock_info where code='688388' and launch_date < 20191010
1
code is  688389
select * from stock_info where code='688389' and launch_date < 20191010
0
---------------done----------------------